<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>अनाश्रितः कर्मफलं कार्यं कर्म करोति यः ।
      </p>
      <p>स संन्यासी च योगी च न निरग्निर्न चाक्रियः ॥ १ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>He that performeth such action as his duty, independently of the fruit of action, he is an ascetic,<sup
    id="cite_ref-1" class="reference"><a href="#cite_note-1"></a></sup> he is a Yogî, not he that is without
  fire, and without rites. <span><span> ॥ 1 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यं संन्यासमिति प्राहुर्योगं तं विद्धि पाण्डव ।
      </p>
      <p>न ह्यसंन्यस्तसङ्कल्पो योगी भवति कश्चन ॥ २ ॥
      </p>
    </div>
  </div>
</div>
<p>That which is called renunciation, know thou that as yoga, O Pândava; nor doth any one become a Yogî with the
  formative will<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"></a></sup> unrenounced. <span
   ><span > ॥ 2 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="88"
    data-page-number="88" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/98">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>आरुरुक्षोर्मुनेर्योगं कर्म कारणमुच्यते ।
      </p>
      <p>योगारूढस्य तस्यैव शमः कारणमुच्यते ॥ ३ ॥
      </p>
    </div>
  </div>
</div>
<p>For a Sage who is seeking Yoga, action is called the means; for the same Sage, when he is enthroned in yoga, serenity
  is called the means. <span><span> ॥ 3 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यदा हि नेन्द्रियार्थेषु न कर्मस्वनुषज्जते ।
      </p>
      <p>सर्वसङ्कल्पसंन्यासी योगारूढस्तदोच्यते ॥ ४ ॥
      </p>
    </div>
  </div>
</div>
<p>When a man feeleth no attachment either for the objects of sense or for actions, renouncing the formative will,<sup
    id="cite_ref-3" class="reference"><a href="#cite_note-3"></a></sup> then, he is said to be enthroned in
  yoga. <span><span> ॥ 4 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>उद्धरेदात्मनाऽऽत्मानं नात्मानमवसादयेत् ।
      </p>
      <p>आत्मैव ह्यात्मनो बन्धुरात्मैव रिपुरात्मनः ॥ ५ ॥
      </p>
    </div>
  </div>
</div>
<p>Let him raise the self by the <span style="font-variant:small-caps">Self</span> and not let the self become
  depressed; for verily is the <span style="font-variant:small-caps">Self</span> the friend of the self, and also the
  <span style="font-variant:small-caps">Self</span> the self's enemy; <span><span
      > ॥ 5 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="89"
    data-page-number="89" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/99">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>बन्धुरात्माऽऽत्मनस्तस्य येनात्मैवात्मना जितः ।
      </p>
      <p>अनात्मनस्तु शत्रुत्वे वर्तेतात्मैव शत्रुवत् ॥ ६ ॥
      </p>
    </div>
  </div>
</div>
<p>The <span style="font-variant:small-caps">Self</span> is the friend of the self of him in whom the self by the <span
    style="font-variant:small-caps">Self</span> is vanquished; but to the unsubdued self<sup id="cite_ref-4"
    class="reference"><a href="#cite_note-4"></a></sup> the <span style="font-variant:small-caps">Self</span>
  verily becometh hostile as an enemy. <span><span
      > ॥ 6 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>जितात्मनः प्रशान्तस्य परमात्मा समाहितः ।
      </p>
      <p>शीतोष्णसुखदुःखेषु तथा मानापमानयोः ॥ ७ ॥
      </p>
    </div>
  </div>
</div>
<p>The higher Self of him who is <span style="font-variant:small-caps">Self</span>-controlled and peaceful is uniform in
  cold and heat, pleasure and pain, as well as in honour and dishonour. <span><span
      > ॥ 7 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ज्ञानविज्ञानतृप्तात्मा कूटस्थो विजितेन्द्रियः ।
      </p>
      <p>युक्त इत्युच्यते योगी समलोष्टाश्मकाञ्चनः ॥ ८ ॥
      </p>
    </div>
  </div>
</div>
<p>The Yogî<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"></a></sup> who is satisfied with
  wisdom and knowledge, unwavering,<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"></a></sup>
  whose senses are sub<span><span class="pagenum ws-pagenum" id="90" data-page-number="90"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/100">&#8203;</span></span>dued, to whom a lump of earth,
  a stone and gold are the same, is said to be harmonised. <span><span
      > ॥ 8 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सुहृन्मित्रार्युदासीनमध्यस्थद्वेष्यबन्धुषु ।
      </p>
      <p>साधुष्वपि च पापेषु समबुद्धिर्विशिष्यते ॥ ९ ॥
      </p>
    </div>
  </div>
</div>
<p>He who regards impartially lovers, friends, and foes, strangers, neutrals, foreigners and relatives, also the
  righteous and unrighteous, he excelleth. <span><span
      > ॥ 9 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>योगी युञ्जीत सततमात्मानं रहसि स्थितः ।
      </p>
      <p>एकाकी यतचित्तात्मा निराशीरपरिग्रहः ॥ १० ॥
      </p>
    </div>
  </div>
</div>
<p>Let the Yogî constantly engage himself in yoga, remaining in a secret place by himself, with thought and self
  subdued, free from hope and greed. <span><span
      > ॥ 10 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>शुचौ देशे प्रतिष्ठाप्य स्थिरमासनमात्मनः ।
      </p>
      <p>नात्युच्छ्रितं नातिनीचं चेलाजिनकुशोत्तरम् ॥ ११ ॥
      </p>
    </div>
  </div>
</div>
<p>In a pure place, established on a fixed seat of his own, neither very much raised nor very low,&#32;<span><span
      class="pagenum ws-pagenum" id="91" data-page-number="91"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/101">&#8203;</span></span>made of a cloth, a black
  antelope skin, and kusha grass, one over the other; <span><span
      > ॥ 11 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तत्रैकाग्रं मनः कृत्वा यतचित्तेन्द्रियक्रियः ।
      </p>
      <p>उपविश्यासने युञ्ज्याद्योगमात्मविशुद्धये ॥ १२ ॥
      </p>
    </div>
  </div>
</div>
<p>There, having made the mind<sup id="cite_ref-7" class="reference"><a href="#cite_note-7"></a></sup>
  one-pointed, with thought and the functions of the senses subdued, steady on his seat, he should practise yoga for the
  purification of the self. <span><span> ॥ 12 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>समं कायशिरोग्रीवं धारयन्नचलं स्थिरः ।
      </p>
      <p>संप्रेक्ष्य नासिकाग्रं स्वं दिशश्चानवलोकयन् ॥ १३ ॥
      </p>
    </div>
  </div>
</div>
<p>Holding the body, head and neck erect, immovably steady, looking fixedly at the point of the nose, with unseeing
  gaze, <span><span> ॥ 13 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>प्रशान्तात्मा विगतभीर्ब्रह्मचारिव्रते स्थितः ।
      </p>
      <p>मनः संयम्य मच्चित्तो युक्त आसीत मत्परः ॥ १४ ॥
      </p>
    </div>
  </div>
</div>
<p>The self serene, fearless, firm in the vow of the&#32;<span><span class="pagenum ws-pagenum" id="92"
      data-page-number="92"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/102">&#8203;</span></span>Brahmachâri,<sup
    id="cite_ref-8" class="reference"><a href="#cite_note-8"></a></sup> the mind<sup
    id="cite_ref-p92Manah_9-0" class="reference"><a href="#cite_note-p92Manah-9"></a></sup> controlled,
  thinking on Me, harmonised, let him sit aspiring after Me. <span><span
      > ॥ 14 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>युञ्जन्नेवं सदाऽऽत्मानं योगी नियतमानसः ।
      </p>
      <p>शान्तिं निर्वाणपरमां मत्संस्थामधिगच्छति ॥ १५ ॥
      </p>
    </div>
  </div>
</div>
<p>The Yogî ever united thus with the <span style="font-variant:small-caps">Self</span>, with the mind<sup
    id="cite_ref-p92Manah_9-1" class="reference"><a href="#cite_note-p92Manah-9"></a></sup> controlled, goeth
  to Peace, to the supreme Bliss<sup id="cite_ref-10" class="reference"><a href="#cite_note-10"></a></sup>
  that abideth in Me. <span><span> ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>नात्यश्नतस्तु योगोऽस्ति न चैकान्तमनश्नतः ।
      </p>
      <p>न चातिस्वप्नशीलस्य जाग्रतो नैव चार्जुन ॥ १६ ॥
      </p>
    </div>
  </div>
</div>
<p>Verily yoga is not for him who eateth too much, nor who abstaineth to excess, nor who is too much addicted to sleep,
  nor even to wakefulness, O Arjuna. <span><span
      > ॥ 16 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>युक्ताहारविहारस्य युक्तचेष्टस्य कर्मसु ।
      </p>
      <p>युक्तस्वप्नावबोधस्य योगो भवति दुःखहा ॥ १७ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="93" data-page-number="93"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/103">&#8203;</span></span>Yoga killeth out all pain for
  him who is regulated in eating and amusement, regulated in performing actions, regulated in sleeping and waking. <span
   ><span > ॥ 17 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यदा विनियतं चित्तमात्मन्येवावतिष्ठते ।
      </p>
      <p>निःस्पृहः सर्वकामेभ्यो युक्त इत्युच्यते तदा ॥ १८ ॥
      </p>
    </div>
  </div>
</div>
<p>When his subdued thought is fixed on the <span style="font-variant:small-caps">Self</span>, free from longing after
  all desirable things, then it is said, "he is harmonised." <span><span
      > ॥ 18 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यथा दीपो निवातस्थो नेङ्गते सोपमा स्मृता ।
      </p>
      <p>योगिनो यतचित्तस्य युञ्जतो योगमात्मनः ॥ १९ ॥
      </p>
    </div>
  </div>
</div>
<p>As a lamp in a windless place flickereth not, to such is likened the Yogî of subdued thought, absorbed in the yoga of
  the <span style="font-variant:small-caps">Self</span>. <span><span
      > ॥ 19 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यत्रोपरमते चित्तं निरुद्धं योगसेवया ।
      </p>
      <p>यत्र चैवात्मनाऽऽत्मानं पश्यन्नात्मनि तुष्यति ॥ २० ॥
      </p>
    </div>
  </div>
</div>
<p>That in which the mind finds rest, quieted by the practice of yoga: that in which he, seeing the <span
    style="font-variant:small-caps">Self</span> by the <span style="font-variant:small-caps">Self</span>, in the <span
    style="font-variant:small-caps">Self</span> is satisfied; <span><span
      > ॥ 20 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="94"
    data-page-number="94" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/104">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सुखमात्यन्तिकं यत्तद् बुद्धिग्राह्यमतीन्द्रियम् ।
      </p>
      <p>वेत्ति यत्र न चैवाऽयं स्थितश्चलति तत्त्वतः ॥ २१ ॥
      </p>
    </div>
  </div>
</div>
<p>That in which he findeth the supreme delight which the Reason<sup id="cite_ref-11" class="reference"><a
      href="#cite_note-11"></a></sup> can grasp beyond the senses, wherein established he moveth not from
  the Reality; <span><span> ॥ 21 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यं लब्ध्वा चापरं लाभं मन्यते नाधिकं ततः ।
      </p>
      <p>यस्मिन्स्थितो न दुःखेन गुरुणाऽपि विचाल्यते ॥ २२ ॥
      </p>
    </div>
  </div>
</div>
<p>Which, having obtained, he thinketh there is no greater gain beyond it; wherein, established, he is not shaken even
  by heavy sorrow; <span><span> ॥ 22 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तं विद्याद्‌ दुःखसंयोगवियोगं योगसंज्ञितम् ।
      </p>
      <p>स निश्चयेन योक्तव्यो योगोऽनिर्विण्णचेतसा ॥ २३ ॥
      </p>
    </div>
  </div>
</div>
<p>That should be known by the name of yoga, this disconnection from the union with pain. This yoga must be clung to
  with a firm conviction and with undesponding mind.<sup id="cite_ref-12" class="reference"><a
      href="#cite_note-12"></a></sup> ॥ 23 ॥
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="95"
    data-page-number="95" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/105">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सङ्कल्पप्रभावान्कामांस्त्यक्त्वा सर्वानशेषतः ।
      </p>
      <p>मनसैवेन्द्रियग्रामं विनियम्य समन्ततः ॥ २४ ॥
      </p>
    </div>
  </div>
</div>
<p>Abandoning without reserve all desires born of the imagination,<sup id="cite_ref-13" class="reference"><a
      href="#cite_note-13"></a></sup> by the mind<sup id="cite_ref-p95Manah_14-0" class="reference"><a
      href="#cite_note-p95Manah-14"></a></sup> curbing in the aggregate of the senses on every side, <span
   ><span > ॥ 24 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>शनैःशनैरुपरमेद्‌ बुद्ध्या धृतिगृहीतया ।
      </p>
      <p>आत्मसंस्थं मनः कृत्वा न किञ्चिदपि चिन्तयेत् ॥ २५ ॥
      </p>
    </div>
  </div>
</div>
<p>Little by little let him gain tranquillity, by means of Reason<sup id="cite_ref-15" class="reference"><a
      href="#cite_note-15"></a></sup> controlled by steadiness; having made the mind<sup
    id="cite_ref-p95Manah_14-1" class="reference"><a href="#cite_note-p95Manah-14"></a></sup> abide in the
  <span style="font-variant:small-caps">Self</span>, let him not think of anything. <span
   ><span > ॥ 25 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यतो यतो निश्चरति मनश्चञ्चलमस्थिरम् ।
      </p>
      <p>ततस्ततो नियम्यैतदात्मन्येव वशं नयेत् ॥ २६ ॥
      </p>
    </div>
  </div>
</div>
<p>As often as the wavering and unsteady mind<sup id="cite_ref-p95Manah_14-2" class="reference"><a
      href="#cite_note-p95Manah-14"></a></sup> goeth forth, so often reining it in, let him bring it under
  the control of the <span style="font-variant:small-caps">Self</span>. <span><span
      > ॥ 26 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>प्रशान्तमनसं ह्येनं योगिनं सुखमुत्तमम् ।
      </p>
      <p>उपैति शान्तरजसं ब्रह्मभूतमकल्मषम् ॥ २७ ॥
      </p>
    </div>
  </div>
</div>
<p>Supreme joy is for this Yogi whose mind<sup id="cite_ref-p95Manah_14-3" class="reference"><a
      href="#cite_note-p95Manah-14"></a></sup> is&#32;<span><span class="pagenum ws-pagenum" id="96"
      data-page-number="96"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/106">&#8203;</span></span>peaceful, whose passion-nature
  is calmed, who is sinless and of the nature of the <span style="font-variant:small-caps">Eternal</span>. <span
   ><span > ॥ 27 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>युञ्जन्नेवं सदाऽऽत्मानं योगी विगतकल्मषः ।
      </p>
      <p>सुखेन ब्रह्मसंस्पर्शमत्यन्तं सुखमश्नुते ॥ २८ ॥
      </p>
    </div>
  </div>
</div>
<p>The Yogî who thus, ever harmonising the self, hath put away sin, he easily enjoyeth the infinite bliss of contact
  with the <span style="font-variant:small-caps">Eternal</span>. <span><span
      > ॥ 28 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्वभूतस्थमात्मानं सर्वभूतानि चात्मनि ।
      </p>
      <p>ईक्षते योगयुक्तात्मा सर्वत्र समदर्शनः ॥ २९ ॥
      </p>
    </div>
  </div>
</div>
<p>The self, harmonised by yoga, seeth the <span style="font-variant:small-caps">Self</span> abiding in all beings, all
  beings in the <span style="font-variant:small-caps">Self</span>; everywhere he seeth the same. <span
   ><span > ॥ 29 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यो मां पश्यति सर्वत्र सर्वं च मयि पश्यति ।
      </p>
      <p>तस्याहं न प्रणश्यामि स च मे न प्रणश्यति ॥ ३० ॥
      </p>
    </div>
  </div>
</div>
<p>He who seeth Me everywhere, and seeth everything in Me, of him will I never lose hold, and he shall never lose hold
  of Me. <span><span> ॥ 30 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="97"
    data-page-number="97" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/107">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्वभूतस्थितं यो मां भजत्येकत्वमास्थितः ।
      </p>
      <p>सर्वथा वर्त्तमानोऽपि स योगी मयि वर्तते ॥ ३१ ॥
      </p>
    </div>
  </div>
</div>
<p>He who, established in unity, worshippeth Me abiding in all beings, that Yogi liveth in Me, whatever his mode of
  living. <span><span> ॥ 31 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>आत्मौपम्येन सर्वत्र समं पश्यति योऽर्जुन ।
      </p>
      <p>सुखं वा यदि वा दुःखं स योगी परमो मतः ॥ ३२ ॥
      </p>
    </div>
  </div>
</div>
<p>He who, through the likeness of the <span style="font-variant:small-caps">Self</span><sup id="cite_ref-16"
    class="reference"><a href="#cite_note-16"></a></sup>, O Arjuna, seeth equality in everything, whether
  pleasant or painful, he is considered a perfect Yogî. <span><span
      > ॥ 32 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>अर्जुन उवाच ।
        </p>
      </div>
      <p>योऽयं योगस्त्वया प्रोक्तः साम्येन मधुसूदन ।
      </p>
      <p>एतस्याहं न पश्यामि चञ्चलत्वात्स्थितिं स्थिराम् ॥ ३३ ॥
      </p>
    </div>
  </div>
</div>
<p><span style="cursor:help; border-bottom:thin dotted ;"
    title="&#91;sic&#93; &#39;Arjuna said: This yoga&#39;">This yoga</span> which Thou hast declared to be by
  equanimity, O Madhusûdana, I see not a stable foundation for it, owing to restlessness; <span
   ><span > ॥ 33 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="98"
    data-page-number="98" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/108">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>चञ्चलं हि मनः कृष्ण प्रमाथि बलवद्‌ दृढम् ।
      </p>
      <p>तस्याऽहं निग्रहं मन्ये वायोरिव सुदुष्करम् ॥ ३४ ॥
      </p>
    </div>
  </div>
</div>
<p>For the mind<sup id="cite_ref-p98Manah_17-0" class="reference"><a
      href="#cite_note-p98Manah-17"></a></sup> is verily restless, O Krishna; it is impetuous, strong and
  difficult to bend. I deem it as hard to curb as the wind. <span><span
      > ॥ 34 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>असंशयं महाबाहो मनो दुर्निग्रहं चलम् ।
      </p>
      <p>अभ्यासेन तु कौन्तेय वैराग्येण च गृह्यते ॥ ३५ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>Without doubt, O mighty-armed, the mind<sup id="cite_ref-p98Manah_17-1" class="reference"><a
      href="#cite_note-p98Manah-17"></a></sup> is hard to curb and restless; but it may be curbed by
  constant practice and by dispassion. <span><span
      > ॥ 35 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>असंयतात्मना योगो दुष्प्राप इति मे मतिः ।
      </p>
      <p>वश्यात्मना तु यतता शक्योऽवाप्तुमुपायतः ॥ ३६ ॥
      </p>
    </div>
  </div>
</div>
<p>Yoga is hard to attain, methinks, by a self that is uncontrolled; but by the <span
    style="font-variant:small-caps">Self</span>-controlled it is attainable by properly directed energy. <span
   ><span > ॥ 36 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="99"
    data-page-number="99" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/109">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>अर्जुन उवाच ।
        </p>
      </div>
      <p>अयतिः श्रद्धयोपेतो योगाच्चलितमानसः ।
      </p>
      <p>अप्राप्य योगसंसिद्धिं कां गतिं कृष्ण गच्छति ॥ ३७ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>Arjuna said:
  </p>
</div>
<p>He who is unsubdued but who possesseth faith, with the mind<sup id="cite_ref-18" class="reference"><a
      href="#cite_note-18"></a></sup> wandering away from yoga, failing to attain perfection in yoga, what
  path doth he tread, O Krishna? <span><span
      > ॥ 37 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>कच्चिन्नोभयविभ्रष्टश्छिन्नाभ्रमिव नश्यति ।
      </p>
      <p>अप्रतिष्ठो महाबाहो विमूढो ब्रह्मणः पथि ॥ ३८ ॥
      </p>
    </div>
  </div>
</div>
<p>Fallen from both, is he destroyed like a rent cloud, unsteadfast, O mighty-armed, deluded in the path of the <span
    style="font-variant:small-caps">Eternal</span>? <span><span
      > ॥ 38 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>एतं मे संशयं कृष्ण छेत्तुमर्हस्यशेषतः ।
      </p>
      <p>त्वदन्यः संशयस्यास्य छेत्ता नह्युपपद्यते ॥ ३९ ॥
      </p>
    </div>
  </div>
</div>
<p>Deign, O Krishna, to completely dispel this&#32;<span><span class="pagenum ws-pagenum" id="100"
      data-page-number="100" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/110">&#8203;</span></span>doubt
  of mine; for there is none to be found save Thyself able to destroy this doubt. <span
   ><span > ॥ 39 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>पार्थ नैवेह नामुत्र विनाशस्तस्य विद्यते ।
      </p>
      <p>न हि कल्याणकृत्कश्चिद्‌दुर्गतिं तात गच्छति ॥ ४० ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>O son of Prithâ, neither in this world nor in the life to come is there destruction for him; never doth any who
  worketh righteousness, O beloved, tread the path of woe. <span><span
      > ॥ 40 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>प्राप्य पुण्यकृतां लोकानुषित्वा शाश्वतीः समाः ।
      </p>
      <p>शुचीनां श्रीमतां गेहे योगभ्रष्टोऽभिजायते ॥ ४१ ॥
      </p>
    </div>
  </div>
</div>
<p>Having attained to the worlds of the pure-doing, and having dwelt there for immemorial years, he who fell from yoga
  is reborn in a pure and blessed house; <span><span
      > ॥ 41 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अथवा योगिनामेव कुले भवति धीमताम् ।
      </p>
      <p>एतद्धि दुर्लभतरं लोके जन्म यदीदृशम् ॥ ४२ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="101" data-page-number="101"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/111">&#8203;</span></span>Or he may even be born into a
  family of wise Yogîs; but such a birth as that is most difficult to obtain in this world. <span
   ><span > ॥ 42 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तत्र तं बुद्धिसंयोगं लभते पौर्वदेहिकम् ।
      </p>
      <p>यतते च ततो भूयः संसिद्धौ कुरुनन्दन ॥ ४३ ॥
      </p>
    </div>
  </div>
</div>
<p>There he recovereth the characteristics belonging to this former body, and with these he again laboureth for
  perfection, O joy of the Kurus. <span><span
      > ॥ 43 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>पूर्वाभ्यासेन तेनैव ह्रियते ह्यवशोऽपि सः ।
      </p>
      <p>जिज्ञासुरपि योगस्य शब्दब्रह्मातिवर्तते ॥ ४४ ॥
      </p>
    </div>
  </div>
</div>
<p>By that former practice he is irresistibly swept away. Only wishing to know yoga, even the seeker after yoga goeth
  beyond the Brâhmic world;<sup id="cite_ref-19" class="reference"><a href="#cite_note-19"></a></sup><span
   ><span > ॥ 44 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>प्रयत्नाद्यतमानस्तु योगी संशुद्धकिल्बिषः ।
      </p>
      <p>अनेकजन्मसंसिद्धस्ततो याति परां गतिम् ॥ ४५ ॥
      </p>
    </div>
  </div>
</div>
<p>But the Yogî, labouring with assiduity, purified&#32;<span><span class="pagenum ws-pagenum" id="102"
      data-page-number="102" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/112">&#8203;</span></span>from
  sin, fully perfected through manifold births, he reacheth the supreme goal. <span
   ><span > ॥ 45 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तपस्विभ्योऽधिको योगी ज्ञानिभ्योऽपि मतोऽधिकः ।
      </p>
      <p>कर्मिभ्यश्चाधिको योगी तस्माद्योगी भवार्जुन ॥ ४६ ॥
      </p>
    </div>
  </div>
</div>
<p>The Yogî is greater than the ascetics; he is thought to be greater than even the wise; the Yogî is greater than the
  men of action; therefore become thou a Yogî, O Arjuna! <span><span
      > ॥ 46 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>योगिनामपि सर्वेषां मद्गतेनान्तरात्मना ।
      </p>
      <p>श्रद्धावान्भजते यो मां स मे युक्ततमो मतः ॥ ४७ ॥
      </p>
    </div>
  </div>
</div>
<p>And among all Yogîs, he who, full of faith, with the inner <span style="font-variant:small-caps">Self</span> abiding
  in Me, adoreth Me, he is considered by Me to be the most completely harmonised. <span
   ><span > ॥ 47 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इति श्रीमद्भगवद्गीता॰ अध्यात्मयोगो नाम षष्ठोऽध्यायः ।
      </p>
    </div>
  </div>
</div>