<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>अभयं सत्त्वसंशुद्धिर्ज्ञानयोगव्यवस्थितिः ।
      </p>
      <p>दानं दमश्च यज्ञश्च स्वाध्यायस्तप आर्जवम् ॥ १ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>Fearlessness, cleanness of life, steadfastness in the Yoga of wisdom, almsgiving, self-restraint and sacrifice and
  study of the Scriptures, austerity and straightforwardness, <span><span
      > ॥ 1 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अहिंसा सत्यमक्रोधस्त्यागः शान्तिरपैशुनम् ।
      </p>
      <p>दया भूतेष्वलोलुप्त्वं मार्दवं ह्रीरचापलम् ॥ २ ॥
      </p>
    </div>
  </div>
</div>
<p>Harmlessness, truth, absence of wrath, renunciation, peacefulness, absence of crookedness, compassion to living
  beings, uncovetousness, mildness, modesty, absence of fickleness, <span><span
      > ॥ 2 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तेजः क्षमा धृतिः शौचमद्रोहो नातिमानिता ।
      </p>
      <p>भवन्ति संपदं दैवीमभिजातस्य भारत ॥ ३ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="219" data-page-number="219"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/229">&#8203;</span></span>Vigour, forgiveness,
  fortitude, purity, absence of envy and pride-these are his who is born with the divine properties, O Bhârata. <span
   ><span > ॥ 3 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>दम्भो दर्पोऽभिमानश्च क्रोधः पारुष्यमेव च ।
      </p>
      <p>अज्ञानं चाभिजातस्य पार्थ संपदमासुरीम् ॥ ४ ॥
      </p>
    </div>
  </div>
</div>
<p>Hypocrisy, arrogance and conceit, wrath and also harshness and unwisdom are his who is born, O Pârtha, with
  demoniacal<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"></a></sup> properties. <span
   ><span > ॥ 4 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>दैवी संपद्विमोक्षाय निबन्धायासुरी मता ।
      </p>
      <p>मा शुचः संपदं दैवीमभिजातोऽसि पाण्डव ॥ ५ ॥
      </p>
    </div>
  </div>
</div>
<p>The divine properties are deemed to be for liberation, the demoniacal for bondage. Grieve not, thou art born with
  divine properties, O Pândava. <span><span
      > ॥ 5 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>द्वौ भूतसर्गौ लोकेऽस्मिन्दैव आसुर एव च ।
      </p>
      <p>दैवो विस्तरशः प्रोक्त आसुरं पार्थ मे शृणु ॥ ६ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="220" data-page-number="220"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/230">&#8203;</span></span>Twofold is the animal creation
  in this world, the divine and the demoniacal: the divine hath been described at length: hear from Me, O Pârtha, the
  demoniacal. <span><span> ॥ 6 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>प्रवृत्तिं च निवृत्तिं च जना न विदुरासुराः ।
      </p>
      <p>न शौचं नापि चाचारो न सत्यं तेषु विद्यते ॥ ७ ॥
      </p>
    </div>
  </div>
</div>
<p>Demoniacal men know neither right energy nor right abstinence; nor purity, nor even propriety, nor truth is in them.
  <span><span> ॥ 7 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>असत्यमप्रतिष्ठं ते जगदाहुरनीश्वरम् ।
      </p>
      <p>अपरस्परसंभूतं किमन्यत्कामहैतुकम् ॥ ८ ॥
      </p>
    </div>
  </div>
</div>
<p>"The universe is without truth, without basis," they say, "without a God<sup id="cite_ref-2" class="reference"><a
      href="#cite_note-2"></a></sup>; brought about by mutual union, and caused by lust and nothing else."
  <span><span> ॥ 8 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>एतां दृष्टिमवष्टभ्य नष्टात्मानोऽल्पबुद्धयः ।
      </p>
      <p>प्रभवन्त्युग्रकर्माणः क्षयाय जगतोऽहिताः ॥ ९ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="221" data-page-number="221"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/231">&#8203;</span></span>Holding this view, these
  ruined selves of small understanding<sup id="cite_ref-3" class="reference"><a
      href="#cite_note-3"></a></sup>, of fierce deeds, come forth as enemies for the destruction of the
  world. <span><span> ॥ 9 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>काममाश्रित्य दुष्पूरं दम्भमानमदान्विताः ।
      </p>
      <p>मोहाद्‌गृहीत्वासद्ग्राहान्प्रवर्तन्तेऽशुचिव्रताः ॥ १० ॥
      </p>
    </div>
  </div>
</div>
<p>Surrendering themselves to insatiable desires, possessed with vanity, conceit and arrogance, holding evil ideas
  through delusion, they engage in action with impure resolves. <span><span
      > ॥ 10 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>चिन्तामपरिमेयां च प्रलयान्तामुपाश्रिताः ।
      </p>
      <p>कामोपभोगपरमा एतावदिति निश्चिताः ॥ ११ ॥
      </p>
    </div>
  </div>
</div>
<p>Giving themselves over to unmeasured thought whose end is death, regarding the gratification of desires as the
  highest, feeling sure that this is all, <span><span
      > ॥ 11 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="222"
    data-page-number="222" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/232">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>आशापाशशतैर्बद्धाः कामक्रोधपरायणाः ।
      </p>
      <p>ईहन्ते कामभोगार्थमन्यायेनार्थसञ्चयान् ॥ १२ ॥
      </p>
    </div>
  </div>
</div>
<p>Held in bondage by a hundred ties of expectation, given over to lust and anger, they strive to obtain by unlawful
  means hoards of wealth for sensual enjoyments. <span><span
      > ॥ 12 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इदमद्य मया लब्धमिमं प्राप्स्ये मनोरथम् ।
      </p>
      <p>इदमस्तीदमपि मे भविष्यति पुनर्धनम् ॥ १३ ॥
      </p>
    </div>
  </div>
</div>
<p>"This to-day by me hath been won, that purpose I shall gain; this wealth is mine already, and also this shall be mine
  in future. <span><span> ॥ 13 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>असौ मया हतः शत्रुर्हनिष्ये चापरानपि ।
      </p>
      <p>ईश्वरोऽहमहं भोगी सिद्धोऽहं बलवान्सुखी ॥ १४ ॥
      </p>
    </div>
  </div>
</div>
<p>"I have slain this enemy, and others also I shall slay. I am the Lord, I am the enjoyer, I am perfect, powerful,
  happy; <span><span> ॥ 14 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>आढ्योऽभिजनवानस्मि कोऽन्योऽस्ति सदृशो मया ।
      </p>
      <p>यक्ष्ये दास्यामि मोदिष्य इत्यज्ञानविमोहिताः ॥ १५ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="223" data-page-number="223"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/233">&#8203;</span></span>"I am wealthy, well-born; what
  other is there that is like unto me? I will sacrifice, I will give alms, I will rejoice." Thus deluded by unwisdom,
  <span><span> ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अनेकचित्तविभ्रान्ता मोहजालसमावृताः ।
      </p>
      <p>प्रसक्ताः कामभोगेषु पतन्ति नरकेऽशुचौ ॥ १६ ॥
      </p>
    </div>
  </div>
</div>
<p>Bewildered by numerous thoughts, enmeshed in the web of delusion, addicted to the gratification of desire, they fall
  downwards into a foul hell. <span><span
      > ॥ 16 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>आत्मसंभाविताः स्तब्धा धनमानमदान्विताः ।
      </p>
      <p>यजन्ते नामयज्ञैस्ते दम्भेनाविधिपूर्वकम् ॥ १७ ॥
      </p>
    </div>
  </div>
</div>
<p>Self-glorifying, stubborn, filled with the pride and intoxication of wealth, they perform lip-sacrifices for
  ostentation, contrary to scriptural ordinance. <span><span
      > ॥ 17 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अहंकारं बलं दर्पं कामं क्रोधं च संश्रिताः ।
      </p>
      <p>मामात्मपरदेहेषु प्रद्विषन्तोऽभ्यसूयकाः ॥ १८ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="224" data-page-number="224"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/234">&#8203;</span></span>Given over to egoism, power,
  insolence, lust and wrath, these malicious ones hate Me in the bodies of others and in their own. <span
   ><span > ॥ 18 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तानहं द्विषतः क्रुरान्संसारेषु नराधमान् ।
      </p>
      <p>क्षिपाम्यजस्रमशुभानासुरीष्वेव योनिषु ॥ १९ ॥
      </p>
    </div>
  </div>
</div>
<p>These haters, evil, pitiless, vilest among men in the world, I ever throw down into demoniacal wombs. <span
   ><span > ॥ 19 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>आसुरीं योनिमापन्ना मूढा जन्मनि जन्मनि ।
      </p>
      <p>मामप्राप्यैव कौन्तेय ततो यान्त्यधमां गतिम् ॥ २० ॥
      </p>
    </div>
  </div>
</div>
<p>Cast into demoniacal wombs, deluded birth after birth, attaining not to Me, O Kaunteya, they sink into the lowest
  depths. <span><span> ॥ 20 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>त्रिविधं नरकस्येदं द्वारं नाशनमात्मनः ।
      </p>
      <p>कामः क्रोधस्तथा लोभस्तस्मादेतत्त्रयं त्यजेत् ॥ २१ ॥
      </p>
    </div>
  </div>
</div>
<p>Triple is the gate of this hell, destructive of the self—lust, wrath, and greed; therefore let man renounce these
  three. <span><span> ॥ 21 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="225"
    data-page-number="225" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/235">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>एतैर्विमुक्तः कौन्तेय तमोद्वारैस्त्रिभिर्नरः ।
      </p>
      <p>आचरत्यात्मनः श्रेयस्ततो याति परां गतिम् ॥ २२ ॥
      </p>
    </div>
  </div>
</div>
<p>A man liberated from these three gates of darkness, O son of Kunti, accomplisheth his own welfare, and thus reacheth
  the highest goal. <span><span> ॥ 22 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यः शास्त्रविधिमुत्सृज्य वर्तते कामकारतः ।
      </p>
      <p>न स सिद्धिमवाप्नोति न सुखं न परां गतिम् ॥ २३ ॥
      </p>
    </div>
  </div>
</div>
<p>He who, having cast aside the ordinances of the Scriptures, followeth the promptings of desire, attaineth not to
  perfection, nor happiness, nor the highest goal. <span><span
      > ॥ 23 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तस्माच्छास्त्रं प्रमाणं ते कार्याकार्यव्यवस्थितौ ।
      </p>
      <p>ज्ञात्वा शास्त्रविधानोक्तं कर्म कर्तुमिहार्हसि ॥ २४ ॥
      </p>
    </div>
  </div>
</div>
