<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>ऊर्ध्वमूलमधःशाखमश्वत्थं प्राहुरव्ययम् ।
      </p>
      <p>छन्दांसि यस्य पर्णानि यस्तं वेद स वेदवित् ॥ १ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>With roots above, branches below, the Asvattha is said to be indestructible; the leaves of it are hymns; he who knoweth it is a
  Veda-knower. <span><span> ॥ 1 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अधश्चोर्ध्वं प्रसृतास्तस्य शाखाः
      </p>
      <p>गुणप्रवृद्धा विषयप्रवालाः ।
      </p>
      <p>अधश्च मूलान्यनुसन्ततानि
      </p>
      <p>कर्मानुबन्धीनि मनुष्यलोके ॥ २ ॥
      </p>
    </div>
  </div>
</div>
<p>Downwards and upwards spread the branches of it, nourished by the qualities<sup id="cite_ref-1" class="reference"><a
      href="#cite_note-1"></a></sup>; the objects of the senses its buds; and its roots grow&#32;<span><span
      class="pagenum ws-pagenum" id="210" data-page-number="210"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/220">&#8203;</span></span>downwards, the bonds of action
  in the world of men. <span><span> ॥ 2 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>न रूपमस्येह तथोपलभ्यते नान्तो न चादिर्न च संप्रतिष्ठा ।
      </p>
      <p>अश्वत्थमेनं सुविरूढमूलमसङ्गशस्त्रेण दृढेन छित्त्वा ॥ ३ ॥
      </p>
    </div>
  </div>
</div>
<p>Nor here may be acquired knowledge of its form, nor its end, nor its origin, nor its rooting-place; this strongly
  rooted Asvattha having been cut down by the unswerving weapon of non-attachment, <span
   ><span > ॥ 3 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ततः पदं तत्परिमार्गितव्यम्
      </p>
      <p>यस्मिन्गता न निवर्तन्ति भूयः ।
      </p>
      <p>तमेव चाद्यं पुरुषं प्रपद्ये
      </p>
      <p>यतः प्रवृत्तिः प्रसृता पुराणी ॥ ४ ॥
      </p>
    </div>
  </div>
</div>
<p>That path beyond may be sought, treading which there is no return. I go indeed to that&#32;<span><span
      class="pagenum ws-pagenum" id="211" data-page-number="211"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/221">&#8203;</span></span>Primal Man<sup id="cite_ref-2"
    class="reference"><a href="#cite_note-2"></a></sup>, whence the ancient energy forth-streamed. <span
   ><span > ॥ 4 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>निर्मानमोहा जितसङ्गदोषाः
      </p>
      <p>अध्यात्मनित्या विनिवृत्तकामाः ।
      </p>
      <p>द्वन्द्वैर्विमुक्ताः सुखदुःखसंज्ञै-
      </p>
      <p>र्गच्छन्त्यमूढाः पदमव्ययं तत् ॥ ५ ॥
      </p>
    </div>
  </div>
</div>
<p>Without pride and delusion, victorious over the vice of attachment, dwelling constantly in the <span
    style="font-variant:small-caps">Self</span>, desire pacified, liberated from the pairs of opposites known as
  pleasure and pain, they tread, undeluded, that indestructible path. <span><span
      > ॥ 5 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>न तद्भासयते सूर्यो न शशाङ्को न पावकः ।
      </p>
      <p>यद्गत्वा न निवर्तन्ते तद्धाम परमं मम ॥ ६ ॥
      </p>
    </div>
  </div>
</div>
<p>Nor doth the sun lighten there, nor moon, nor fire; having gone thither they return not; that is My supreme abode.
  <span><span> ॥ 6 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="212"
    data-page-number="212" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/222">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ममैवांशो जीवलोके जीवभूतः सनातनः ।
      </p>
      <p>मनःषष्ठानीन्द्रियाणि प्रकृतिस्थानि कर्षति ॥ ७ ॥
      </p>
    </div>
  </div>
</div>
<p>A portion of Mine own Self, transformed in the world of life into an immortal Spirit,<sup id="cite_ref-3"
    class="reference"><a href="#cite_note-3"></a></sup> draweth round itself the senses of which the mind<sup
    id="cite_ref-p212Manah_4-0" class="reference"><a href="#cite_note-p212Manah-4"></a></sup> is the sixth,
  veiled in matter<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"></a></sup>. <span
   ><span > ॥ 7 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>शरीरं यदवाप्नोति यच्चाप्युत्क्रामतीश्वरः ।
      </p>
      <p>गृहित्वैतानि संयाति वायुर्गन्धानिवाशयात् ॥ ८ ॥
      </p>
    </div>
  </div>
</div>
<p>When the Lord acquireth a body and when He abandoneth it, He seizeth these and goeth with them, as the wind takes
  fragrances from their retreats
  ॥ 8 ॥
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>श्रोत्रं चक्षुः स्पर्शनं च रसनं घ्राणमेव च ।
      </p>
      <p>अधिष्ठाय मनश्चायं विषयानुपसेवते ॥ ९ ॥
      </p>
    </div>
  </div>
</div>
<p>Enshrined in the ear, the eye, the touch, the taste and the smell, and in the mind also, He enjoyeth the objects of the senses ॥ 9 ॥ 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="213"
    data-page-number="213" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/223">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>उत्क्रामन्तं स्थितं वापि भुञ्जानं वा गुणान्वितम् ।
      </p>
      <p>विमूढा नानुपश्यन्ति पश्यन्ति ज्ञानचक्षुषः ॥ १० ॥
      </p>
    </div>
  </div>
</div>
<p>The deluded do not perceive (Him) when He departeth or stayeth or enjoyeth, swayed by the qualities<sup
    id="cite_ref-7" class="reference"><a href="#cite_note-7"></a></sup>; the wisdom-eyed perceive. <span
   ><span > ॥ 10 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यतन्तो योगिनश्चैनं पश्यन्त्यात्मन्यवस्थितम् ।
      </p>
      <p>यतन्तोऽप्यकृतात्मानो नैनं पश्यन्त्यचेतसः ॥ ११ ॥
      </p>
    </div>
  </div>
</div>
<p>Yogîs also, struggling, perceive Him, established in the <span style="font-variant:small-caps">Self</span>; but
  though struggling, the unintelligent perceive Him not, their selves untrained. <span
   ><span > ॥ 11 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यदादित्यगतं तेजो जगद्भासयतेऽखिलम् ।
      </p>
      <p>यच्चन्द्रमसि यच्चाग्नौ तत्तेजो विद्धि मामकम् ॥ १२ ॥
      </p>
    </div>
  </div>
</div>
<p>That splendour issuing from the sun that enlighteneth the whole world, that which is in the moon and in fire, that
  splendour know as from Me. <span><span
      > ॥ 12 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="214"
    data-page-number="214" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/224">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>गामाविश्य च भूतानि धारयाम्यहमोजसा ।
      </p>
      <p>पुष्णामि चौषधीः सर्वाः सोमो भूत्वा रसात्मकः ॥ १३ ॥
      </p>
    </div>
  </div>
</div>
<p>Permeating the soil, I support beings by my vital energy, and having become the delicious Soma<sup id="cite_ref-8"
    class="reference"><a href="#cite_note-8"></a></sup> I nourish all plants. <span
   ><span > ॥ 13 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अहं वैश्वानरो भूत्वा प्राणिनां देहमाश्रितः ।
      </p>
      <p>प्राणापानसमायुक्तः पचाम्यन्नं चतुर्विधम् ॥ १४ ॥
      </p>
    </div>
  </div>
</div>
<p>I, having become the Fire of Life<sup id="cite_ref-9" class="reference"><a href="#cite_note-9"></a></sup>,
  take possession of the bodies of breathing things, and united with the life-breaths<sup id="cite_ref-10"
    class="reference"><a href="#cite_note-10"></a></sup>, I digest the four kinds of food. <span
   ><span > ॥ 14 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्वस्य चाहं हृदि संनिविष्टो मत्तः स्मृतिर्ज्ञानमपोहनं च ।
      </p>
      <p>वेदैश्च सर्वैरहमेव वेद्यो वेदान्तकृद्वेदविदेव चाहम् ॥ १५ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="215" data-page-number="215"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/225">&#8203;</span></span>And I am seated in the hearts
  of all, and from Me memory and wisdom and their absence. And that which is to be known in all the Vedas am I; and I
  indeed the Veda-knower and the author of the Vedanta. <span><span
      > ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>द्वाविमौ पुरुषौ लोके क्षरश्चाक्षर एव च ।
      </p>
      <p>क्षरः सर्वाणि भूतानि कूटस्थोऽक्षर उच्यते ॥ १६ ॥
      </p>
    </div>
  </div>
</div>
<p>There are two Energies<sup id="cite_ref-p215Purusha_11-0" class="reference"><a
      href="#cite_note-p215Purusha-11"></a></sup> in this world, the destructible and the indestructible;
  the destructible is all beings, the unchanging is called the indestructible. <span
   ><span > ॥ 16 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>उत्तमः पुरुषस्त्वन्यः परमात्मेत्युदाहृतः ।
      </p>
      <p>यो लोकत्रयमाविश्य बिभर्त्यव्यय ईश्वरः ॥ १७ ॥
      </p>
    </div>
  </div>
</div>
<p>The highest Energy<sup id="cite_ref-p215Purusha_11-1" class="reference"><a
      href="#cite_note-p215Purusha-11"></a></sup> is verily Another, declared as the Supreme <span
    style="font-variant:small-caps">Self</span>, He who, pervading all, sustaineth the three worlds, the indestructible
  Lord. <span><span> ॥ 17 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="216"
    data-page-number="216" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/226">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यस्मात्क्षरमतीतोऽहमक्षरादपि चोत्तमः ।
      </p>
      <p>अतोऽस्मि लोके वेदे च प्रथितः पुरुषोत्तमः ॥ १८ ॥
      </p>
    </div>
  </div>
</div>
<p>Since I excel the destructible, and am more excellent also than the indestructible, in the world and in the Veda I am
  proclaimed the Supreme Spirit.<sup id="cite_ref-p216Purushottama_12-0" class="reference"><a
      href="#cite_note-p216Purushottama-12"></a></sup> <span><span
      > ॥ 18 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यो मामेवमसंमूढो जानाति पुरुषोत्तमम् ।
      </p>
      <p>स सर्वविद्भजति मां सर्वभावेन भारत ॥ १९ ॥
      </p>
    </div>
  </div>
</div>
<p>He who undeluded knoweth Me thus as the Supreme Spirit<sup id="cite_ref-p216Purushottama_12-1" class="reference"><a
      href="#cite_note-p216Purushottama-12"></a></sup>, he, all-knowing, worshippeth Me with his whole
  being, O Bhârata. <span><span> ॥ 19 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इति गुह्यतमं शास्त्रमिदमुक्तं मयानघ ।
      </p>
      <p>एतद्‌बुद्ध्वा बुद्धिमान्स्यात्कृतकृत्यश्च भारत ॥ २० ॥
      </p>
    </div>
  </div>
</div>