<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>इदं तु ते गुह्यतमं प्रवक्ष्याम्यनसूयवे ।
      </p>
      <p>ज्ञानं विज्ञानसहितं यज्ज्ञात्वा मोक्ष्यसेऽशुभात् ॥ १ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>To thee, the uncarping, verily shall I declare this profoundest Secret, wisdom with knowledge combined, which, having
  known, thou shalt be freed from evil. <span><span
      > ॥ 1 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>राजविद्या राजगुह्यं पवित्रमिदमुत्तमम् ।
      </p>
      <p>प्रत्यक्षावगमं धर्म्यं सुसुखं कर्तुमव्ययम् ॥ २ ॥
      </p>
    </div>
  </div>
</div>
<p>Kingly Science, kingly Secret, supreme Purifier, this; intuitional, according to righteousness,<sup
    id="cite_ref-p126Dharma_1-0" class="reference"><a href="#cite_note-p126Dharma-1"></a></sup> very easy to
  perform, imperishable. <span><span> ॥ 2 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अश्रद्दधानाः पुरुषा धर्मस्यास्य परन्तप ।
      </p>
      <p>अप्राप्य मां निवर्तन्ते मृत्युसंसारवर्त्मनि ॥ ३ ॥
      </p>
    </div>
  </div>
</div>
<p>Men without faith in this knowledge,<sup id="cite_ref-p126Dharma_1-1" class="reference"><a
      href="#cite_note-p126Dharma-1"></a></sup> O&#32;<span><span class="pagenum ws-pagenum" id="127"
      data-page-number="127"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/137">&#8203;</span></span>Parantapa, not reaching Me,
  return to the paths of this world of death. <span><span
      > ॥ 3 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मया ततमिदं सर्वं जगदव्यक्तमूर्तिना ।
      </p>
      <p>मत्स्थानि सर्वभूतानि न चाहं तेष्ववस्थितः ॥ ४ ॥
      </p>
    </div>
  </div>
</div>
<p>By Me all this world is pervaded in My unmanifested aspect; all beings have root in Me, I am not rooted in them.
  <span><span> ॥ 4 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>न च मत्स्थानि भूतानि पश्य मे योगमैश्वरम् ।
      </p>
      <p>भूतभृन्न च भूतस्थो ममात्मा भूतभावनः ॥ ५ ॥
      </p>
    </div>
  </div>
</div>
<p>Nor have beings root in Me; behold My sovereign Yoga! The support of beings, yet not rooted in beings, My <span
    style="font-variant:small-caps">Self</span> their efficient cause. <span><span
      > ॥ 5 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यथाऽऽकाशस्थितो नित्यं वायुः सर्वत्रगो महान् ।
      </p>
      <p>तथा सर्वाणि भूतानि मत्स्थानीत्युपधारय ॥ ६ ॥
      </p>
    </div>
  </div>
</div>
<p>As the mighty air everywhere moving is rooted in the Ether,<sup id="cite_ref-2" class="reference"><a
      href="#cite_note-2"></a></sup> so all beings rest rooted in Me—thus know thou. <span
   ><span > ॥ 6 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="128"
    data-page-number="128" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/138">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्वभूतानि कौन्तेय प्रकृतिं यान्ति मामिकाम् ।
      </p>
      <p>कल्पक्षये पुनस्तानि कल्पादौ विसृजाम्यहम् ॥ ७ ॥
      </p>
    </div>
  </div>
</div>
<p>All beings, O Kaunteya, enter my lower nature<sup id="cite_ref-p128Nature_3-0" class="reference"><a
      href="#cite_note-p128Nature-3"></a></sup> at the end of a world-age;<sup id="cite_ref-p128WorldAge_4-0"
    class="reference"><a href="#cite_note-p128WorldAge-4"></a></sup> at the beginning of a world-age<sup
    id="cite_ref-p128WorldAge_4-1" class="reference"><a href="#cite_note-p128WorldAge-4"></a></sup> again I
  emanate them. <span><span> ॥ 7 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>प्रकृतिं स्वामवष्टभ्य विसृजामि पुनः पुनः ।
      </p>
      <p>भूतग्राममिमं कृत्स्नमवशं प्रकृतेर्वशात् ॥ ८ ॥
      </p>
    </div>
  </div>
</div>
<p>Hidden in Nature,<sup id="cite_ref-p128Nature_3-1" class="reference"><a
      href="#cite_note-p128Nature-3"></a></sup> which is mine own, I emanate again and again all this
  multitude of beings, helpless, by the force of Nature<sup id="cite_ref-p128Nature_3-2" class="reference"><a
      href="#cite_note-p128Nature-3"></a></sup>. <span><span
      > ॥ 8 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>न च मां तानि कर्माणि निबध्नन्ति धनञ्जय ।
      </p>
      <p>उदासीनवदासीनमसक्तं तेषु कर्मसु ॥ ९ ॥
      </p>
    </div>
  </div>
</div>
<p>Nor do these works bind me, O Dhananjaya, enthroned on high unattached to actions. <span
   ><span > ॥ 9 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मयाऽध्यक्षेण प्रकृतिः सूयते सचराचरम् ।
      </p>
      <p>हेतुनाऽनेन कौन्तेय जगद्विपरिवर्तते ॥ १० ॥
      </p>
    </div>
  </div>
</div>
<p>Under Me as supervisor, Nature<sup id="cite_ref-p128Nature_3-3" class="reference"><a
      href="#cite_note-p128Nature-3"></a></sup> sends forth&#32;<span><span class="pagenum ws-pagenum"
      id="129" data-page-number="129"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/139">&#8203;</span></span>the moving and unmoving:
  because of this, O Kaunteya, the universe revolves. <span><span
      > ॥ 10 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अवजानन्ति मां मूढा मानुषीं तनुमाश्रितम् ।
      </p>
      <p>परं भावमजानन्तो मम भूतमहेश्वरम् ॥ ११ ॥
      </p>
    </div>
  </div>
</div>
<p>The foolish disregard Me, when clad in human semblance, ignorant of My supreme nature, the great Lord of beings;
  <span><span> ॥ 11 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मोघाशा मोघकर्माणो मोघज्ञाना विचेतसः ।
      </p>
      <p>राक्षसीमासुरीं चैव प्रकृतिं मोहिनीं श्रिताः ॥ १२ ॥
      </p>
    </div>
  </div>
</div>
<p>Empty of hope, empty of deeds, empty of wisdom, senseless, partaking of the deceitful, brutal and demoniacal
  nature.<sup id="cite_ref-p129Nature_5-0" class="reference"><a href="#cite_note-p129Nature-5"></a></sup>
  <span><span> ॥ 12 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>महात्मानस्तु मां पार्थ दैवीं प्रकृतिमाश्रिताः ।
      </p>
      <p>भजन्त्यनन्यमनसो ज्ञात्वा भूतादिमव्ययम् ॥ १३ ॥
      </p>
    </div>
  </div>
</div>
<p>Verily the Mahâtmâs, O Partha, partaking of My divine nature,<sup id="cite_ref-p129Nature_5-1" class="reference"><a
      href="#cite_note-p129Nature-5"></a></sup> worship with unwavering&#32;<span><span
      class="pagenum ws-pagenum" id="130" data-page-number="130"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/140">&#8203;</span></span>mind,<sup id="cite_ref-6"
    class="reference"><a href="#cite_note-6"></a></sup> having known Me, the imperishable source of beings.
  <span><span> ॥ 13 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सततं कीर्तयन्तो मां यतन्तश्च दृढव्रताः ।
      </p>
      <p>नमस्यन्तश्च मां भक्त्या नित्ययुक्ता उपासते ॥ १४ ॥
      </p>
    </div>
  </div>
</div>
<p>Always magnifying Me, strenuous, firm in vows, prostrating themselves before Me, they worship Me with devotion ever
  harmonised.  ॥ 14 ॥
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ज्ञानयज्ञेन चाप्यन्ये यजन्तो मामुपासते ।
      </p>
      <p>एकत्वेन पृथक्त्वेन बहुधा विश्वतोमुखम् ॥ १५ ॥
      </p>
    </div>
  </div>
</div>
<p>Others also, sacrificing with the sacrifice of wisdom, worship Me as the One and the Manifold everywhere present.
  <span><span> ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अहं क्रतुरहं यज्ञः स्वधाऽहमहमौषधम् ।
      </p>
      <p>मन्त्रोऽहमहमेवाज्यमहमग्निरहं हुतम् ॥ १६ ॥
      </p>
    </div>
  </div>
</div>
<p>I the ablation; I the sacrifice; I the ancestral offering; I the fire-giving herb; the mantram I; I also the butter;
  I the fire; the burnt-offering I; <span><span
      > ॥ 16 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="131"
    data-page-number="131" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/141">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>पिताऽहमस्य जगतो माता धाता पितामहः ।
      </p>
      <p>वेद्यं पवित्रमोङ्कार ऋक् साम यजुरेव च ॥ १७ ॥
      </p>
    </div>
  </div>
</div>
<p>I the Father of this universe, the Mother, the Supporter, the Grandsire, the Holy one to be known, the Word of
  Power,<sup id="cite_ref-7" class="reference"><a href="#cite_note-7"></a></sup> and also the Rik, Sâma, and
  Yajur,<sup id="cite_ref-8" class="reference"><a href="#cite_note-8"></a></sup> <span
   ><span > ॥ 17 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>गतिर्भर्ता प्रभुः साक्षी निवासः शरणं सुहृत् ।
      </p>
      <p>प्रभवः प्रलयः स्थानं निधानं बीजमव्ययम् ॥ १८ ॥
      </p>
    </div>
  </div>
</div>
<p>The Path, Husband, Lord, Witness, Abode, Shelter, Lover, Origin, Dissolution, Foundation, house, Seed imperishable.
  <span><span> ॥ 18 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तपाम्यहमहं वर्षं निगृह्णाम्युत्सृजामि च ।
      </p>
      <p>अमृतं चैव मृत्युश्च सदसच्चाहमर्जुन ॥ १९ ॥
      </p>
    </div>
  </div>
</div>
<p>I give heat; I hold back and send forth the rain; immortality and also death, being and non-being<sup id="cite_ref-9"
    class="reference"><a href="#cite_note-9"></a></sup> am I, Arjuna. <span
   ><span > ॥ 19 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="132"
    data-page-number="132" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/142">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>त्रैविद्या मां सोमपाः पूतपापाः यज्ञैरिष्ट्वा स्वर्गतिं प्रार्थयन्ते ।
      </p>
      <p>ते पुण्यमासाद्य सुरेन्द्रलोकमश्नन्ति दिव्यान्दिवि देवभोगान् ॥ २० ॥
      </p>
    </div>
  </div>
</div>
<p>The knowers of the three,<sup id="cite_ref-10" class="reference"><a href="#cite_note-10"></a></sup> the
  Soma-drinkers, the purified from sin, worshipping Me with sacrifice, pray of Me the way to heaven; they, ascending to
  the holy world of the Ruler of the Shining Ones, eat in heaven the divine feasts of the Shining Ones. <span
   ><span > ॥ 20 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ते तं भुक्त्वा स्वर्गलोकं विशालम् क्षीणे पुण्ये मर्त्यलोकं विशन्ति ।
      </p>
      <p>एवं त्रयीधर्ममनुप्रपन्नाः गतागतं कामकामा लभन्ते ॥ २१ ॥
      </p>
    </div>
  </div>
</div>
<p>They, having enjoyed the spacious heaven-world, their holiness withered,<sup id="cite_ref-11" class="reference"><a
      href="#cite_note-11"></a></sup> come back to&#32;<span><span class="pagenum ws-pagenum" id="133"
      data-page-number="133" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/143">&#8203;</span></span>this
  world of death. Following the virtues enjoined by the three,<sup id="cite_ref-12" class="reference"><a
      href="#cite_note-12"></a></sup> desiring desires, they obtain the transitory. <span
   ><span > ॥ 21 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अनन्याश्चिन्तयन्तो मां ये जनाः पर्युपासते ।
      </p>
      <p>तेषां नित्याभियुक्तानां योगक्षेमं वहाम्यहम् ॥ २२ ॥
      </p>
    </div>
  </div>
</div>
<p>To those men who worship Me alone thinking of no other, to those ever harmonious, I bring full security. <span
   ><span > ॥ 22 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>येऽप्यन्यदेवताभक्ता यजन्ते श्रद्धयाऽन्विताः ।
      </p>
      <p>तेऽपि मामेव कौन्तेय यजन्त्यविधिपूर्वकम् ॥ २३ ॥
      </p>
    </div>
  </div>
</div>
<p>Even the devotees of other Shining Ones, who worship full of faith, they also worship Me, O son of Kuntî, though
  contrary to the ancient rule. <span><span
      > ॥ 23 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अहं हि सर्वयज्ञानां भोक्ता च प्रभुरेव च ।
      </p>
      <p>न तु मामभिजानन्ति तत्त्वेनातश्च्यवन्ति ते ॥ २४ ॥
      </p>
    </div>
  </div>
</div>
<p>I am indeed the enjoyer of all sacrifices and&#32;<span><span class="pagenum ws-pagenum" id="134"
      data-page-number="134" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/144">&#8203;</span></span>also
  the Lord, but they know Me not in Essence, and hence they fall. <span><span
      > ॥ 24 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यान्ति देवव्रता देवान् पितॄन्यान्ति पितृव्रताः ।
      </p>
      <p>भूतानि यान्ति भूतेज्या यान्ति मद्याजिनोऽपि माम् ॥ २५ ॥
      </p>
    </div>
  </div>
</div>
<p>They who worship the Shining Ones go to the Shining Ones; to the Ancestors<sup id="cite_ref-13" class="reference"><a
      href="#cite_note-13"></a></sup> go the Ancestor-worshippers; to the Elements<sup id="cite_ref-14"
    class="reference"><a href="#cite_note-14"></a></sup> go those who sacrifice to Elementals; but My
  worshippers come unto Me. <span><span> ॥ 25 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>पत्रं पुष्पं फलं तोयं यो मे भक्त्या प्रयच्छति ।
      </p>
      <p>तदहं भक्त्युपहृतमश्नामि प्रयतात्मनः ॥ २६ ॥
      </p>
    </div>
  </div>
</div>
<p>He who offereth to Me with devotion a leaf, a flower, a fruit, water, that I accept from the striving self, offered
  as it is with devotion. <span><span> ॥ 26 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यत्करोषि यदश्नासि यज्जुहोषि ददासि यत् ।
      </p>
      <p>यत्तपस्यसि कौन्तेय तत्कुरुष्व मदर्पणम् ॥ २७ ॥
      </p>
    </div>
  </div>
</div>
<p>Whatsoever thou doest, whatsoever thou eatest,&#32;<span><span class="pagenum ws-pagenum" id="135"
      data-page-number="135"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/145">&#8203;</span></span>whatsoever thou offerest,
  whatsoever thou givest, whatsoever thou doest of austerity, O Kaunteya, do thou that as an offering unto Me. <span
   ><span > ॥ 27 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>शुभाशुभफलैरेवं मोक्ष्यसे कर्मबन्धनैः ।
      </p>
      <p>संन्यासयोगयुक्तात्मा विमुक्तो मामुपैष्यसि ॥ २८ ॥
      </p>
    </div>
  </div>
</div>
<p>Thus shalt thou be liberated from the bonds of action, yielding good and evil fruits; thyself harmonised by the yoga
  of renunciation, thou shalt come unto Me when set free. <span><span
      > ॥ 28 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>समोऽहं सर्वभूतेषु न मे द्वेष्योऽस्ति न प्रियः ।
      </p>
      <p>ये भजन्ति तु मां भक्त्या मयि ते तेषु चाप्यहम् ॥ २९ ॥
      </p>
    </div>
  </div>
</div>
<p>The same am I to all beings; there is none hateful to Me nor dear. They verily who worship Me with devotion, they are
  in Me, and I also in them. <span><span
      > ॥ 29 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अपि चेत्सुदुराचारो भजते मामनन्यभाक् ।
      </p>
      <p>साधुरेव स मन्तव्यः सम्यग्व्यवसितो हि सः ॥ ३० ॥
      </p>
    </div>
  </div>
</div>
<p>Even if the most sinful worship Me, with un<span><span class="pagenum ws-pagenum" id="136" data-page-number="136"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/146">&#8203;</span></span>divided heart, he too must be
  accounted righteous, for he hath rightly resolved; <span><span
      > ॥ 30 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>क्षिप्रं भवति धर्मात्मा शश्वच्छान्तिं निगच्छति ।
      </p>
      <p>कौन्तेय प्रतिजानीहि न मे भक्तः प्रणश्यति ॥ ३१ ॥
      </p>
    </div>
  </div>
</div>
<p>Speedily he becometh dutiful and goeth to eternal peace; O Kaunteya, know thou for certain that My devotee perisheth
  never. <span><span> ॥ 31 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मां हि पार्थ व्यपाश्रित्य येऽपि स्युः पापयोनयः ।
      </p>
      <p>स्त्रियो वैश्यास्तथा शूद्रास्तेऽपि यान्ति परां गतिम् ॥ ३२ ॥
      </p>
    </div>
  </div>
</div>
<p>They who take refuge with Me, O Partha, though of the womb of sin, women, Vaishyas,<sup id="cite_ref-15"
    class="reference"><a href="#cite_note-15"></a></sup> even Shûdras,<sup id="cite_ref-16"
    class="reference"><a href="#cite_note-16"></a></sup> they also tread the highest path. <span
   ><span > ॥ 32 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>किं पुनर्ब्राह्मणाः पुण्या भक्ता राजर्षयस्तथा ।
      </p>
      <p>अनित्यमसुखं लोकमिमं प्राप्य भजस्व माम् ॥ ३३ ॥
      </p>
    </div>
  </div>
</div>
<p>How much rather then holy Brâhmanas and&#32;<span><span class="pagenum ws-pagenum" id="137" data-page-number="137"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/147">&#8203;</span></span>devoted royal saints; having
  obtained this transient joyless world, worship thou Me. <span><span
      > ॥ 33 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मन्मना भव मद्भक्तो मद्याजी मां नमस्कुरु ।
      </p>
      <p>मामेवैष्यसि युक्त्वैवमात्मानं मत्परायणः ॥ ३४ ॥
      </p>
    </div>
  </div>
</div>
<p>On Me fix thy mind,<sup id="cite_ref-17" class="reference"><a href="#cite_note-17"></a></sup> be devoted
  to Me; sacrifice to Me; prostrate thyself before Me; harmonised thus in the <span
    style="font-variant:small-caps">Self</span>, thou shalt come unto Me, having Me as thy supreme goal. <span
   ><span > ॥ 34 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इति श्रीमद्भगवद्गीता॰ राजविद्याराजगुह्ययोगो नाम नवमोऽध्यायः ।
      </p>
    </div>
  </div>
</div>