<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>अर्जुन उवाच ।
        </p>
      </div>
      <p>संन्यासस्य महाबाहो तत्त्वमिच्छामि वेदितुम् ।
      </p>
      <p>त्यागस्य च हृषीकेश पृथक्केशिनिषूदन ॥ १ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>Arjuna said:
  </p>
</div>
<p>I desire, O mighty-armed, to know severally the essence of renunciation,<sup id="cite_ref-1" class="reference"><a
      href="#cite_note-1"></a></sup> O Hrishîkesha, and
  of relinquishment<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"></a></sup>, O
  Keshinishûdana<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"></a></sup>. <span
   ><span > ॥ 1 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>काम्यानां कर्मणां न्यासं संन्यासं कवयो विदुः ।
      </p>
      <p>सर्वकर्मफलत्यागं प्राहुस्त्यागं विचक्षणाः ॥ २ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>Sages have known as renunciation the renouncing of works with desire; the relinquishing of the fruit of all actions
  is called relinquishment by the wise. <span><span
      > ॥ 2 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="239"
    data-page-number="239" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/249">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>त्याज्यं दोषवदित्येके कर्म प्राहुर्मनीषिणः ।
      </p>
      <p>यज्ञदानतपः कर्म न त्याज्यमिति चापरे ॥ ३ ॥
      </p>
    </div>
  </div>
</div>
<p>"Action should be relinquished as an evil,"<sup id="cite_ref-4" class="reference"><a
      href="#cite_note-4"></a></sup> declare some thoughtful men; "acts of sacrifice, gift and austerity
  should not be relinquished," say others. <span><span
      > ॥ 3 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>निश्चयं शृणु मे तत्र त्यागे भरतसत्तम ।
      </p>
      <p>त्यागो हि पुरुषव्याघ्र त्रिविधः संप्रकीर्तितः ॥ ४ ॥
      </p>
    </div>
  </div>
</div>
<p>Hear my conclusions as to that relinquishment, O best of the Bhâratas; since relinquishment, O tiger of men, has been
  explained as threefold. <span><span> ॥ 4 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यज्ञदानतपः कर्म न त्याज्यं कार्यमेव तत् ।
      </p>
      <p>यज्ञो दानं तपश्चैव पावनानि मनीषिणाम् ॥ ५ ॥
      </p>
    </div>
  </div>
</div>
<p>Acts of sacrifice, gift and austerity should not be relinquished, but should be performed;&#32;<span><span
      class="pagenum ws-pagenum" id="240" data-page-number="240"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/250">&#8203;</span></span>sacrifice, gift and also
  austerity are the purifiers of the intelligent. <span><span
      > ॥ 5 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>एतान्यपि तु कर्माणि सङ्गं त्यक्त्वा फलानि च ।
      </p>
      <p>कर्तव्यानीति मे पार्थ निश्चितं मतमुत्तमम् ॥ ६ ॥
      </p>
    </div>
  </div>
</div>
<p>But even these actions should be done leaving aside attachment and fruit, O Pârtha; that is my certain and best
  belief. <span><span> ॥ 6 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>नियतस्य तु संन्यासः कर्मणो नोपपद्यते ।
      </p>
      <p>मोहात्तस्य परित्यागस्तामसः परिकीर्तितः ॥ ७ ॥
      </p>
    </div>
  </div>
</div>
<p>Verily renunciation of actions that are prescribed is not proper; the relinquishment thereof from delusion is said to
  be of darkness. <span><span> ॥ 7 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>दुःखमित्येव यत्कर्म कायक्लेशभयात्त्यजेत् ।
      </p>
      <p>स कृत्वा राजसं त्यागं नैव त्यागफलं लभेत् ॥ ८ ॥
      </p>
    </div>
  </div>
</div>
<p>He who relinquisheth an action from fear of physical suffering, saying "Painful," thus performing a passionate
  relinquishment, obtaineth not the fruit of relinquishment. <span><span
      > ॥ 8 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="241"
    data-page-number="241" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/251">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>कार्यमित्येव यत्कर्म नियतं क्रियतेऽर्जुन ।
      </p>
      <p>सङ्गं त्यक्त्वा फलं चैव स त्यागः सात्त्विको मतः ॥ ९ ॥
      </p>
    </div>
  </div>
</div>
<p>He who performeth a prescribed action, saying, "it ought to be done," O Arjuna, relinquishing attachment and also
  fruit, that relinquishment is regarded as pure. <span><span
      > ॥ 9 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>न द्वेष्ट्यकुशलं कर्म कुशले नानुषज्जते ।
      </p>
      <p>त्यागी सत्त्वसमाविष्टो मेधावी छिन्नसंशयः ॥ १० ॥
      </p>
    </div>
  </div>
</div>
<p>The relinquisher pervaded by purity, intelligent and with doubts cut away, hateth not unpleasurable action nor is
  attached to pleasurable. <span><span> ॥ 10 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>न हि देहभृता शक्यं त्यक्तुं कर्माण्यशेषतः ।
      </p>
      <p>यस्तु कर्मफलत्यागी स त्यागीत्यभिधीयते ॥ ११ ॥
      </p>
    </div>
  </div>
</div>
<p>Nor indeed can embodied beings completely relinquish action; verily he who relinquisheth the fruit of action, he is
  said to be a relinquisher. <span><span
      > ॥ 11 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="242"
    data-page-number="242" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/252">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अनिष्टमिष्टं मिश्रं च त्रिविधं कर्मणः फलम् ।
      </p>
      <p>भवत्यत्यागिनां प्रेत्य न तु संन्यासिनां क्वचित् ॥ १२ ॥
      </p>
    </div>
  </div>
</div>
<p>Good, evil and mixed—threefold is the fruit of action hereafter for the non-relinquisher; but there is none ever for
  the renouncer. <span><span> ॥ 12 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>पञ्चैतानि महाबाहो कारणानि निबोध मे ।
      </p>
      <p>सांख्ये कृतान्ते प्रोक्तानि सिद्धये सर्वकर्मणाम् ॥ १३ ॥
      </p>
    </div>
  </div>
</div>
<p>These five causes, O mighty-armed, learn of Me as declared in the Sâñkhya system for the accomplishment of all
  actions: <span><span> ॥ 13 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अधिष्ठानं तथा कर्ता करणं च पृथग्विधम् ।
      </p>
      <p>विविधाश्च पृथक्चेष्टा दैवं चैवात्र पञ्चमम् ॥ १४ ॥
      </p>
    </div>
  </div>
</div>
<p>The body, the actor, the various organs, the diverse kinds of energies, and the presiding deities also, the fifth.
  <span><span> ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>शरीरवाङ्‌मनोभिर्यत्कर्म प्रारभते नरः ।
      </p>
      <p>न्याय्यं वा विपरीतं वा पञ्चैते तस्य हेतवः ॥ १५ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="243" data-page-number="243"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/253">&#8203;</span></span>Whatever action a man
  performeth by his body, speech and mind,<sup id="cite_ref-p243Manah_5-0" class="reference"><a
      href="#cite_note-p243Manah-5"></a></sup> whether right or the reverse, these five are the cause
  thereof. <span><span> ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तत्रैवं सति कर्तारमात्मानं केवलं तु यः ।
      </p>
      <p>पश्यत्यकृतबुद्धित्वान्न स पश्यति दुर्मतिः ॥ १६ ॥
      </p>
    </div>
  </div>
</div>
<p>That being so, he verily who—owing to untrained Reason<sup id="cite_ref-p243Buddhi_6-0" class="reference"><a
      href="#cite_note-p243Buddhi-6"></a></sup>—looketh on his <span
    style="font-variant:small-caps">Self</span>, which is isolated, as the actor, he of perverted intelligence, seeth
  not. <span><span> ॥ 16 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यस्य नाहंकृतो भावो बुद्धिर्यस्य न लिप्यते ।
      </p>
      <p>हत्वापि स इमाँल्लोकान्न हन्ति न निबध्यते ॥ १७ ॥
      </p>
    </div>
  </div>
</div>
<p>He who is free from the egoistic notion, whose Reason<sup id="cite_ref-p243Buddhi_6-1" class="reference"><a
      href="#cite_note-p243Buddhi-6"></a></sup> is not affected, though he slay these peoples, he slayeth
  not, nor is bound. <span><span> ॥ 17 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ज्ञानं ज्ञेयं परिज्ञाता त्रिविधा कर्मचोदना ।
      </p>
      <p>करणं कर्म कर्तेति त्रिविधः कर्मसंग्रहः ॥ १८ ॥
      </p>
    </div>
  </div>
</div>
<p>Knowledge, the knowable and the knower,&#32;<span><span class="pagenum ws-pagenum" id="244" data-page-number="244"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/254">&#8203;</span></span>the threefold impulse to
  action; the organ, the action, the actor, the threefold constituents of action. <span
   ><span > ॥ 18 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ज्ञानं कर्म च कर्ता च त्रिधैव गुणभेदतः ।
      </p>
      <p>प्रोच्यते गुणसंख्याने यथावच्छृणु तान्यपि ॥ १९ ॥
      </p>
    </div>
  </div>
</div>
<p>Knowledge, action and actor in the category of qualities<sup id="cite_ref-p244Gunas_7-0" class="reference"><a
      href="#cite_note-p244Gunas-7"></a></sup> are also said to be severally threefold, from the difference
  of qualities<sup id="cite_ref-p244Gunas_7-1" class="reference"><a href="#cite_note-p244Gunas-7"></a></sup>;
  hear thou duly these also. <span><span
      > ॥ 19 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्वभूतेषु येनैकं भावमव्ययमीक्षते ।
      </p>
      <p>अविभक्तं विभक्तेषु तज्ज्ञानं विद्धि सात्त्विकम् ॥ २० ॥
      </p>
    </div>
  </div>
</div>
<p>That by which one indestructible Being is seen in all beings, inseparate in the separated, know thou that knowledge
  as pure. <span><span> ॥ 20 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>पृथक्त्वेन तु यज्ज्ञानं नानाभावान्पृथग्विधान् ।
      </p>
      <p>वेत्ति सर्वेषु भूतेषु तज्ज्ञानं विद्धि राजसम् ॥ २१ ॥
      </p>
    </div>
  </div>
</div>
<p>But that knowledge which regardeth the&#32;<span><span class="pagenum ws-pagenum" id="245" data-page-number="245"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/255">&#8203;</span></span>several manifold existences in
  all beings as separate, that knowledge know thou as of passion; <span><span
      > ॥ 21 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यत्तु कृत्स्नवदेकस्मिन्कार्ये सक्तमहैतुकम् ।
      </p>
      <p>अतत्त्वार्थवदल्पं च तत्तामसमुदाहृतम् ॥ २२ ॥
      </p>
    </div>
  </div>
</div>
<p>While that which clingeth to each one thing as if it were the whole, without reason, without grasping the reality,
  narrow, that is declared to be dark. <span><span
      > ॥ 22 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>नियतं सङ्गरहितमरागद्वेषतः कृतम् ।
      </p>
      <p>अफलप्रेप्सुना कर्म यत्तत्सात्त्विकमुच्यते ॥ २३ ॥
      </p>
    </div>
  </div>
</div>
<p>An action which is ordained, done by one undesirous of fruit, devoid of attachment, without love or hate, that is
  called pure. <span><span> ॥ 23 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यत्तु कामेप्सुना कर्म साहंकारेण वा पुनः ।
      </p>
      <p>क्रियते बहुलायासं तद्राजसमुदाहृतम् ॥ २४ ॥
      </p>
    </div>
  </div>
</div>
<p>But that action that is done by one longing for&#32;<span><span class="pagenum ws-pagenum" id="246"
      data-page-number="246"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/256">&#8203;</span></span>desires, or again with egoism,
  or with much effort, that is declared to be passionate. <span><span
      > ॥ 24 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अनुबन्धं क्षयं हिंसामनवेक्ष्य च पौरुषम् ।
      </p>
      <p>मोहादारभ्यते कर्म यत्तत्तामसमुच्यते ॥ २५ ॥
      </p>
    </div>
  </div>
</div>
<p>The action undertaken from delusion, without regard to capacity and consequences—loss and injury to others—that is
  declared to be dark. <span><span> ॥ 25 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मुक्तसङ्गोऽनहंवादी धृत्युत्साहसमन्वितः ।
      </p>
      <p>सिद्ध्यसिद्ध्योर्निर्विकारः कर्ता सात्त्विक उच्यते ॥ २६ ॥
      </p>
    </div>
  </div>
</div>
<p>Liberated from attachment, not egoistic, endued with firmness and confidence, unchanged by success or failure, that
  actor is called pure. <span><span> ॥ 26 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>रागी कर्मफलप्रेप्सुर्लुब्धो हिंसात्मकोऽशुचिः ।
      </p>
      <p>हर्षशोकान्वितः कर्ता राजसः परिकीर्तितः ॥ २७ ॥
      </p>
    </div>
  </div>
</div>
<p>Impassioned, desiring to obtain the fruit of actions, greedy, harmful, impure, moved by joy and sorrow, such an actor
  is pronounced passionate. <span><span> ॥ 27 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="247"
    data-page-number="247" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/257">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अयुक्तः प्राकृतः स्तब्धः शठो नैष्कृतिकोऽलसः ।
      </p>
      <p>विषादी दीर्घसूत्री च कर्ता तामस उच्यते ॥ २८ ॥
      </p>
    </div>
  </div>
</div>
<p>Discordant, vulgar, stubborn, cheating, malicious, indolent, despairful, procrastinating, that actor is called dark.
  <span><span> ॥ 28 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>बुद्धेर्भेदं धृतेश्चैव गुणतस्त्रिविधं शृणु ।
      </p>
      <p>प्रोच्यमानमशेषेण पृथक्त्वेन धनंजय ॥ २९ ॥
      </p>
    </div>
  </div>
</div>
<p>The division of Reason<sup id="cite_ref-p247Buddhi_8-0" class="reference"><a
      href="#cite_note-p247Buddhi-8"></a></sup> and of firmness also, threefold according to the
  qualities<sup id="cite_ref-9" class="reference"><a href="#cite_note-9"></a></sup>, hear thou related,
  unreservedly and severally, O Dhananjaya. <span><span
      > ॥ 29 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>प्रवृत्तिं च निवृत्तिं च कार्याकार्ये भयाभये ।
      </p>
      <p>बन्धं मोक्षं च या वेत्ति बुद्धिः सा पार्थ सात्त्विकी ॥ ३० ॥
      </p>
    </div>
  </div>
</div>
<p>That which knoweth energy and abstinence, what ought to be done and what ought not to be done, fear and fearlessness,
  bondage and liberation, that Reason<sup id="cite_ref-p247Buddhi_8-1" class="reference"><a
      href="#cite_note-p247Buddhi-8"></a></sup> is pure, O Pârtha. <span
   ><span > ॥ 30 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="248"
    data-page-number="248" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/258">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यया धर्ममधर्मं च कार्यं चाकार्यमेव च ।
      </p>
      <p>अयथावत्प्रजानाति बुद्धिः सा पार्थ राजसी ॥ ३१ ॥
      </p>
    </div>
  </div>
</div>
<p>That by which one understandeth away Right and Wrong<sup id="cite_ref-10" class="reference"><a
      href="#cite_note-10"></a></sup> and also what ought to be done and what ought not to be done, that
  Reason,<sup id="cite_ref-p248Buddhi_11-0" class="reference"><a href="#cite_note-p248Buddhi-11"></a></sup>
  O Pârtha, is passionate. <span><span> ॥ 31 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अधर्मं धर्ममिति या मन्यते तमसावृता ।
      </p>
      <p>सर्वार्थान्विपरीतांश्च बुद्धिः सा पार्थ तामसी ॥ ३२ ॥
      </p>
    </div>
  </div>
</div>
<p>That which, enwrapped in darkness, thinketh wrong<sup id="cite_ref-12" class="reference"><a
      href="#cite_note-12"></a></sup> to be right<sup id="cite_ref-13" class="reference"><a
      href="#cite_note-13"></a></sup> and seeth all things subverted, that Reason<sup
    id="cite_ref-p248Buddhi_11-1" class="reference"><a href="#cite_note-p248Buddhi-11"></a></sup>, O Pârtha,
  is of darkness. <span><span>32 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>धृत्या यया धारयते मनःप्राणेन्द्रियक्रियाः ।
      </p>
      <p>योगेनाव्यभिचारिण्या धृतिः सा पार्थ सात्त्विकी ॥ ३३ ॥
      </p>
    </div>
  </div>
</div>
<p>The unwavering firmness by which, through Yoga, one restraineth the activity of the mind<sup id="cite_ref-14"
    class="reference"><a href="#cite_note-14"></a></sup>,&#32;<span><span class="pagenum ws-pagenum"
      id="249" data-page-number="249"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/259">&#8203;</span></span>of the life breaths and of the
  sense-organs, that firmness, O Pârtha, is pure. <span><span
      > ॥ 33 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यया तु धर्मकामार्थान्धृत्या धारयतेऽर्जुन ।
      </p>
      <p>प्रसङ्गेन फलाकाङ्क्षी धृतिः सा पार्थ राजसी ॥ ३४ ॥
      </p>
    </div>
  </div>
</div>
<p>But the firmness, O Arjuna, by which, from attachment desirous of fruit, one holdeth fast duty<sup id="cite_ref-15"
    class="reference"><a href="#cite_note-15"></a></sup>, desire and wealth, that firmness, O Pârtha, is
  passionate. <span><span> ॥ 34 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यया स्वप्नं भयं शोकं विषादं मदमेव च ।
      </p>
      <p>न विमुञ्चति दुर्मेधा धृतिः सा पार्थ तामसी ॥ ३५ ॥
      </p>
    </div>
  </div>
</div>
<p>That by which one from stupidity doth not abandon sleep, fear, grief, despair, and also vanity, that firmness, O
  Pârtha, is dark. <span><span> ॥ 35 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सुखं त्विदानीं त्रिविधं शृणु मे भरतर्षभ ।
      </p>
      <p>अभ्यासाद्रमते यत्र दुःखान्तं च निगच्छति ॥ ३६ ॥
      </p>
    </div>
  </div>
</div>
<p>And now the threefold kinds of pleasure hear&#32;<span><span class="pagenum ws-pagenum" id="250"
      data-page-number="250" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/260">&#8203;</span></span>thou
  from Me, O bull of the Bhâratas. That in which one by practice rejoiceth, and which putteth an end to pain; <span
   ><span > ॥ 36 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यत्तदग्रे विषमिव परिणामेऽमृतोपमम् ।
      </p>
      <p>तत्सुखं सात्त्विकं प्रोक्तमात्मबुद्धिप्रसादजम् ॥ ३७ ॥
      </p>
    </div>
  </div>
</div>
<p>Which at first is as venom but in the end is as nectar; that pleasure is said to be pure, born of the blissful
  knowledge of the <span style="font-variant:small-caps">Self</span>. <span><span
      > ॥ 37 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>विषयेन्द्रियसंयोगाद्यत्तदग्रेऽमृतोपमम् ।
      </p>
      <p>परिणामे विषमिव तत्सुखं राजसं स्मृतम् ॥ ३८ ॥
      </p>
    </div>
  </div>
</div>
<p>That which from the union of the senses with their objects at first is as nectar, but in the end is like venom, that
  pleasure is accounted passionate. <span><span
      > ॥ 38 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यदग्रे चानुबन्धे च सुखं मोहनमात्मनः ।
      </p>
      <p>निद्रालस्यप्रमादोत्थं तत्तामसमुदाहृतम् ॥ ३९ ॥
      </p>
    </div>
  </div>
</div>
<p>That pleasure which both at first and afterwards is delusive of the self, arising from sleep,&#32;<span><span
      class="pagenum ws-pagenum" id="251" data-page-number="251"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/261">&#8203;</span></span>indolence and heedlessness,
  that is declared dark. <span><span> ॥ 39 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>न तदस्ति पृथिव्यां वा दिवि देवेषु वा पुनः ।
      </p>
      <p>सत्त्वं प्रकृतिजैर्मुक्तं यदेभिः स्यात्त्रिभिर्गुणैः ॥ ४० ॥
      </p>
    </div>
  </div>
</div>
<p>There is not an entity, either on the earth or again in heaven among the Shining Ones, that is liberated from these
  three qualities,<sup id="cite_ref-p251Gunas_16-0" class="reference"><a
      href="#cite_note-p251Gunas-16"></a></sup> born of Matter<sup id="cite_ref-17" class="reference"><a
      href="#cite_note-17"></a></sup>. <span><span
      > ॥ 40 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ब्राह्मणक्षत्रियविशां शूद्राणां च परन्तप ।
      </p>
      <p>कर्माणि प्रविभक्तानि स्वभावप्रभवैर्गुणैः ॥ ४१ ॥
      </p>
    </div>
  </div>
</div>
<p>Of Brâhmanas, Kshattriyas, Vaishyas and Shûdras, O Parantapa, the duties<sup id="cite_ref-18" class="reference"><a
      href="#cite_note-18"></a></sup> have been distributed, according to the qualities<sup
    id="cite_ref-p251Gunas_16-1" class="reference"><a href="#cite_note-p251Gunas-16"></a></sup> born of
  their own natures. <span><span> ॥ 41 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>शमो दमस्तपः शौचं क्षान्तिरार्जवमेव च ।
      </p>
      <p>ज्ञानं विज्ञानमास्तिक्यं ब्रह्मकर्म स्वभावजम् ॥ ४२ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="252" data-page-number="252"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/262">&#8203;</span></span>Serenity, self-restraint,
  austerity, purity, forgiveness and also uprightness, wisdom, knowledge, belief in God, are the Brâhmana duty<sup
    id="cite_ref-p252Karma_19-0" class="reference"><a href="#cite_note-p252Karma-19"></a></sup>, born of his
  own nature. <span><span> ॥ 42 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>शौर्यं तेजो धृतिर्दाक्ष्यं युद्धे चाप्यपलायनम् ।
      </p>
      <p>दानमीश्वरभावश्च क्षात्रं कर्म स्वभावजम् ॥ ४३ ॥
      </p>
    </div>
  </div>
</div>
<p>Prowess, splendour, firmness, dexterity, and also not flying from battle, generosity, the nature of a ruler, are the
  Kshattriya duty<sup id="cite_ref-p252Karma_19-1" class="reference"><a
      href="#cite_note-p252Karma-19"></a></sup>, born of his own nature. <span
   ><span > ॥ 43 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>कृषिगौरक्ष्यवाणिज्यं वैश्यकर्म स्वभावजम् ।
      </p>
      <p>परिचर्यात्मकं कर्म शूद्रस्यापि स्वभावजम् ॥ ४४ ॥
      </p>
    </div>
  </div>
</div>
<p>Ploughing, protection of kine, and trade are the Vaishya duty<sup id="cite_ref-p252Karma_19-2" class="reference"><a
      href="#cite_note-p252Karma-19"></a></sup>, born of his own nature. Action of the nature of service is
  the Shûdra duty,<sup id="cite_ref-p252Karma_19-3" class="reference"><a
      href="#cite_note-p252Karma-19"></a></sup> born of his own nature. <span
   ><span > ॥ 44 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="253"
    data-page-number="253" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/263">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>स्वे स्वे कर्मण्यभिरतः संसिद्धिं लभते नरः ।
      </p>
      <p>स्वकर्मनिरतः सिद्धिं यथा विन्दति तच्छृणु ॥ ४५ ॥
      </p>
    </div>
  </div>
</div>
<p>Man reacheth perfection by each being intent on his own duty<sup id="cite_ref-p252Karma_19-4" class="reference"><a
      href="#cite_note-p252Karma-19"></a></sup>. Listen thou how perfection is won by him who is intent on
  his own duty<sup id="cite_ref-p252Karma_19-5" class="reference"><a
      href="#cite_note-p252Karma-19"></a></sup>. <span><span
      > ॥ 45 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यतः प्रवृत्तिर्भूतानां येन सर्वमिदं ततम् ।
      </p>
      <p>स्वकर्मणा तमभ्यर्च्य सिद्धिं विन्दति मानवः ॥ ४६ ॥
      </p>
    </div>
  </div>
</div>
<p>He from whom is the emanation of beings, by Whom all This is pervaded, by worshipping Him in his own duty<sup
    id="cite_ref-p252Karma_19-6" class="reference"><a href="#cite_note-p252Karma-19"></a></sup> a man
  winneth perfection. <span><span> ॥ 46 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>श्रेयान्स्वधर्मो विगुणः परधर्मात्स्वनुष्ठितात् ।
      </p>
      <p>स्वभावनियतं कर्म कुर्वन्नाप्नोति किल्बिषम् ॥ ४७ ॥
      </p>
    </div>
  </div>
</div>
<p>Better is one's own duty<sup id="cite_ref-p253Dharma_20-0" class="reference"><a
      href="#cite_note-p253Dharma-20"></a></sup> though destitute of merits than the well-executed duty<sup
    id="cite_ref-p253Dharma_20-1" class="reference"><a href="#cite_note-p253Dharma-20"></a></sup> of
  another.&#32;<span><span class="pagenum ws-pagenum" id="254" data-page-number="254"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/264">&#8203;</span></span>He who doeth the duty<sup
    id="cite_ref-p252Karma_19-7" class="reference"><a href="#cite_note-p252Karma-19"></a></sup> laid down by
  his own nature incurreth not sin. <span><span
      > ॥ 47 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सहजं कर्म कौन्तेय सदोषमपि न त्यजेत् ।
      </p>
      <p>सर्वारम्भा हि दोषेण धूमेनाग्निरिवावृताः ॥ ४८ ॥
      </p>
    </div>
  </div>
</div>
<p>Congenital duty<sup id="cite_ref-p252Karma_19-8" class="reference"><a
      href="#cite_note-p252Karma-19"></a></sup>, O son of Kunti, though defective, ought not to be
  abandoned. All undertakings indeed are clouded by defects as fire by smoke. <span
   ><span > ॥ 48 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>असक्तबुद्धिः सर्वत्र जितात्मा विगतस्पृहः ।
      </p>
      <p>नैष्कर्म्यसिद्धिं परमां संन्यासेनाधिगच्छति ॥ ४९ ॥
      </p>
    </div>
  </div>
</div>
<p>He whose Reason<sup id="cite_ref-p254Buddhi_21-0" class="reference"><a
      href="#cite_note-p254Buddhi-21"></a></sup> is everywhere unattached, the self-subdued, dead to
  desires, he goeth by renunciation to the supreme perfection of freedom from obligation.<sup
    id="cite_ref-p252Karma_19-9" class="reference"><a href="#cite_note-p252Karma-19"></a></sup> <span
   ><span > ॥ 49 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="255"
    data-page-number="255" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/265">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सिद्धिं प्राप्तो यथा ब्रह्म तथाप्नोति निबोध मे ।
      </p>
      <p>समासेनैव कौन्तेय निष्ठा ज्ञानस्य या परा ॥ ५० ॥
      </p>
    </div>
  </div>
</div>
<p>How he who hath attained perfection obtaineth the <span style="font-variant:small-caps">Eternal</span>, that highest
  state of wisdom, learn thou from Me only succinctly, O Kaunteya. <span><span
      > ॥ 50 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>बुद्ध्या विशुद्ध्या युक्तो धृत्यात्मानं नियम्य च ।
      </p>
      <p>शब्दादीन्विषयांस्त्यक्त्वा रागद्वेषौ व्युदस्य च ॥ ५१ ॥
      </p>
    </div>
  </div>
</div>
<p>United to this Reason,<sup id="cite_ref-p254Buddhi_21-1" class="reference"><a
      href="#cite_note-p254Buddhi-21"></a></sup> purified, controlling the self by firmness, having
  abandoned sound and the other objects of the senses, having laid aside passion and malice, <span
   ><span > ॥ 51 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>विविक्तसेवी लघ्वाशी यतवाक्कायमानसः ।
      </p>
      <p>ध्यानयोगपरो नित्यं वैराग्यं समुपाश्रितः ॥ ५२ ॥
      </p>
    </div>
  </div>
</div>
<p>Dwelling in solitude, abstemious, speech, body and mind<sup id="cite_ref-22" class="reference"><a
      href="#cite_note-22"></a></sup> subdued, constantly fixed in meditation and yoga<sup id="cite_ref-23"
    class="reference"><a href="#cite_note-23"></a></sup>, taking refuge in dispassion, <span
   ><span > ॥ 52 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="256"
    data-page-number="256" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/266">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अहंकारं बलं दर्पं कामं क्रोधं परिग्रहम् ।
      </p>
      <p>विमुच्य निर्ममः शान्तो ब्रह्मभूयाय कल्पते ॥ ५३ ॥
      </p>
    </div>
  </div>
</div>
<p>Having cast aside egoism, violence, arrogance, desire, wrath, covetousness, selfless and peaceful—he is fit to become
  the <span style="font-variant:small-caps">Eternal</span>. <span><span
      > ॥ 53 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ब्रह्मभूतः प्रसन्नात्मा न शोचति न काङ्क्षति ।
      </p>
      <p>समः सर्वेषु भूतेषु मद्भक्तिं लभते पराम् ॥ ५४ ॥
      </p>
    </div>
  </div>
</div>
<p>Becoming the <span style="font-variant:small-caps">Eternal</span>, serene in the <span
    style="font-variant:small-caps">Self</span>, he neither grieveth nor desireth; the same to all beings, he obtaineth
  supreme devotion unto Me. <span><span> ॥ 54 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>भक्त्या मामभिजानाति यावान्यश्चास्मि तत्त्वतः ।
      </p>
      <p>ततो मां तत्त्वतो ज्ञात्वा विशते तदनन्तरम् ॥ ५५ ॥
      </p>
    </div>
  </div>
</div>
<p>By devotion he knoweth Me in essence, who and what I am; having thus known Me in essence he forthwith entereth into
  the Supreme.<sup id="cite_ref-24" class="reference"><a href="#cite_note-24"></a></sup> <span
   ><span > ॥ 55 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्वकर्माण्यपि सदा कुर्वाणो मद्व्यपाश्रयः ।
      </p>
      <p>मत्प्रसादादवाप्नोति शाश्वतं पदमव्ययम् ॥ ५६ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="257" data-page-number="257"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/267">&#8203;</span></span>Though ever performing all
  actions, taking refuge in Me, by My grace he obtaineth the eternal indestructible abode. <span
   ><span > ॥ 56 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>चेतसा सर्वकर्माणि मयि संन्यस्य मत्परः ।
      </p>
      <p>बुद्धियोगमुपाश्रित्य मच्चित्तः सततं भव ॥ ५७ ॥
      </p>
    </div>
  </div>
</div>
<p>Renouncing mentally all works in Me, intent on Me, resorting to the yoga of discrimination<sup id="cite_ref-25"
    class="reference"><a href="#cite_note-25"></a></sup>, have thy thought ever on Me. <span
   ><span > ॥ 57 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मच्चित्तः सर्वदुर्गाणि मत्प्रसादात्तरिष्यसि ।
      </p>
      <p>अथ चेत्त्वमहंकारान्न श्रोष्यसि विनङ्क्ष्यसि ॥ ५८ ॥
      </p>
    </div>
  </div>
</div>
<p>Thinking on Me, thou shalt overcome all obstacles by My grace: but if from egoism thou wilt not listen, thou shalt be
  destroyed utterly. <span><span> ॥ 58 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यदहंकारमाश्रित्य न योत्स्य इति मन्यसे ।
      </p>
      <p>मिथ्यैष व्यवसायस्ते प्रकृतिस्त्वां नियोक्ष्यति ॥ ५९ ॥
      </p>
    </div>
  </div>
</div>
<p>Entrenched in egoism, thou thinkest, "I will&#32;<span><span class="pagenum ws-pagenum" id="258"
      data-page-number="258" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/268">&#8203;</span></span>not
  fight;" to no purpose thy determination; nature will constrain thee. <span><span
      > ॥ 59 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>स्वभावजेन कौन्तेय निबद्धः स्वेन कर्मणा ।
      </p>
      <p>कर्तुं नेच्छसि यन्मोहात्करिष्यस्यवशोऽपि तत् ॥ ६० ॥
      </p>
    </div>
  </div>
</div>
<p>O son of Kuntî, bound by thine own duty<sup id="cite_ref-26" class="reference"><a
      href="#cite_note-26"></a></sup> born of thine own nature, that which from delusion thou desirest not
  to do, even that helplessly thou shalt perform. <span><span
      > ॥ 60 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ईश्वरः सर्वभूतानां हृद्देशेऽर्जुन तिष्ठति ।
      </p>
      <p>भ्रामयन्सर्वभूतानि यन्त्रारूढानि मायया ॥ ६१ ॥
      </p>
    </div>
  </div>
</div>
<p>The Lord dwelleth in the hearts of all beings, O Arjuna, by His illusive Power<sup id="cite_ref-27"
    class="reference"><a href="#cite_note-27"></a></sup> causing all beings to revolve, as though mounted on
  a potter's wheel. <span><span> ॥ 61 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तमेव शरणं गच्छ सर्वभावेन भारत ।
      </p>
      <p>तत्प्रसादात्परां शान्तिं स्थानं प्राप्स्यसि शाश्वतम् ॥ ६२ ॥
      </p>
    </div>
  </div>
</div>
<p>Flee unto Him for shelter with all thy being, O Bhârata; by His grace thou shalt obtain supreme peace, the
  everlasting dwelling-place. <span><span
      > ॥ 62 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="259"
    data-page-number="259" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/269">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इति ते ज्ञानमाख्यातं गुह्याद्‌गुह्यतरं मया ।
      </p>
      <p>विमृश्यैतदशेषेण यथेच्छसि तथा कुरु ॥ ६३ ॥
      </p>
    </div>
  </div>
</div>
<p>Thus hath wisdom, more secret than secrecy itself, been declared unto thee by Me; having reflected on it fully, then
  act thou as thou listest. <span><span> ॥ 63 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्वगुह्यतमं भूयः शृणु मे परमं वचः ।
      </p>
      <p>इष्टोऽसि मे दृढमिति ततो वक्ष्यामि ते हितम् ॥ ६४ ॥
      </p>
    </div>
  </div>
</div>
<p>Listen thou again to My supreme word, most secret of all; beloved art thou of Me, and steadfast of heart, therefore
  will I speak for thy benefit. <span><span
      > ॥ 64 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मन्मना भव मद्भक्तो मद्याजी मां नमस्कुरु ।
      </p>
      <p>मामेवैष्यसि सत्यं ते प्रतिजाने प्रियोऽसि मे ॥ ६५ ॥
      </p>
    </div>
  </div>
</div>
<p>Merge thy mind<sup id="cite_ref-28" class="reference"><a href="#cite_note-28"></a></sup> in Me, be my
  devotee, sacrifice to Me, prostrate thyself before Me, thou shalt come even to Me. I pledge thee My troth; thou art
  dear to Me. <span><span> ॥ 65 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="260"
    data-page-number="260" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/270">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्वधर्मान्परित्यज्य मामेकं शरणं व्रज ।
      </p>
      <p>अहं त्वां सर्वपापेभ्यो मोक्षयिष्यामि मा शुचः ॥ ६६ ॥
      </p>
    </div>
  </div>
</div>
<p>Abandoning all duties<sup id="cite_ref-29" class="reference"><a href="#cite_note-29"></a></sup> come unto
  Me alone for shelter; sorrow not, I will liberate thee from all sins. <span><span
      > ॥ 66 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इदं ते नातपस्काय नाभक्ताय कदाचन ।
      </p>
      <p>न चाशुश्रूषवे वाच्यं न च मां योऽभ्यसूयति ॥ ६७ ॥
      </p>
    </div>
  </div>
</div>
<p>Never is this to be spoken by thee to anyone who is without asceticism, nor without devotion, nor to one who desireth
  not to listen, nor yet to him who speaketh evil of Me. <span><span
      > ॥ 67 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>य इमं परमं गुह्यं मद्भक्तेष्वभिधास्यति ।
      </p>
      <p>भक्तिं मयि परां कृत्वा मामेवैष्यत्यसंशयः ॥ ६८ ॥
      </p>
    </div>
  </div>
</div>
<p>He who shall declare this supreme secret among My devotees, having shown the highest devotion for Me, without doubt
  he shall come to Me.<sup id="cite_ref-30" class="reference"><a href="#cite_note-30"></a></sup> <span
   ><span > ॥ 68 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="261"
    data-page-number="261" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/271">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>न च तस्मान्मनुष्येषु कश्चिन्मे प्रियकृत्तमः ।
      </p>
      <p>भविता न च मे तस्मादन्यः प्रियतरो भुवि ॥ ६९ ॥
      </p>
    </div>
  </div>
</div>
<p>Nor is there any among men who performeth dearer service to Me than he, nor any other shall be more beloved by Me on
  earth than he. <span><span> ॥ 69 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अध्येष्यते च य इमं धर्म्यं संवादमावयोः ।
      </p>
      <p>ज्ञानयज्ञेन तेनाहमिष्टः स्यामिति मे मतिः ॥ ७० ॥
      </p>
    </div>
  </div>
</div>
<p>And he who shall study this sacred dialogue of ours, by him I shall be worshipped with the sacrifice of wisdom. Such
  is My mind. <span><span> ॥ 70 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>श्रद्धावाननसूयश्च शृणुयादपि यो नरः ।
      </p>
      <p>सोऽपि मुक्तः शुभाँल्लोकान्प्राप्नुयात्पुण्यकर्मणाम् ॥ ७१ ॥
      </p>
    </div>
  </div>
</div>
<p>The man also who, full of faith, merely heareth it unreviling, even he, freed from evil, obtaineth the radiant worlds
  of the righteous. <span><span> ॥ 71 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>कच्चिदेतच्छ्रुतं पार्थ त्वयैकाग्रेण चेतसा ।
      </p>
      <p>कच्चिदज्ञानसंमोहः प्रनष्टस्ते धनंजय ॥ ७२ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="262" data-page-number="262"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/272">&#8203;</span></span>Hath this been heard, O son of
  Prithâ, with one-pointed mind? Has thy delusion, caused by unwisdom, been destroyed, O Dhananjaya? <span
   ><span > ॥ 72 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>अर्जुन उवाच ।
        </p>
      </div>
      <p>नष्टो मोहः स्मृतिर्लब्धा त्वत्प्रसादान्मयाच्युत ।
      </p>
      <p>स्थितोऽस्मि गतसन्देहः करिष्ये वचनं तव ॥ ७३ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>Arjuna said:
  </p>
</div>
<p>Destroyed is my delusion. I have gained knowledge<sup id="cite_ref-31" class="reference"><a
      href="#cite_note-31"></a></sup> through Thy grace, O Immutable one. I am firm, my doubts have fled
  away. I will do according to Thy word. <span><span
      > ॥ 73 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>सञ्जय उवाच ।
        </p>
      </div>
      <p>इत्यहं वासुदेवस्य पार्थस्य च महात्मनः ।
      </p>
      <p>संवादमिममश्रौषमद्भुतं रोमहर्षणम् ॥ ७४ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>Sanjaya said:
  </p>
</div>
<p>I heard this marvellous dialogue of Vâsudeva, and of the great-souled Partha, causing my hair to stand on end. <span
   ><span > ॥ 74 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="263"
    data-page-number="263" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/273">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>व्यासप्रसादाच्छ्रुतवानेतद्गुह्यमहं परम् ।
      </p>
      <p>योगं योगेश्वरात्कृष्णात्साक्षात्कथयतः स्वयम् ॥ ७५ ॥
      </p>
    </div>
  </div>
</div>
<p>By the favour of Vyâsa I listened to this secret and supreme yoga from the Lord of Yoga, Krishna Himself, speaking
  before mine eyes. <span><span> ॥ 75 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>राजन्संस्मृत्य संस्मृत्य संवादमिममद्भुतम् ।
      </p>
      <p>केशवार्जुनयोः पुण्यं हृष्यामि च मुहुर्मुहुः ॥ ७६ ॥
      </p>
    </div>
  </div>
</div>
<p>O King, remembering, remembering this marvellous and holy dialogue between Keshava and Arjuna, I rejoice again and
  again. <span><span> ॥ 76 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तच्च संस्मृत्य संस्मृत्य रूपमत्यद्भुतं हरेः ।
      </p>
      <p>विस्मयो मे महान् राजन्हृष्यामि च पुनः पुनः ॥ ७७ ॥
      </p>
    </div>
  </div>
</div>
<p>Remembering, remembering, also that most marvellous form of Hari, great is my wonder, O King. I rejoice, again and
  again. <span><span> ॥ 77 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यत्र योगेश्वरः कृष्णो यत्र पार्थो धनुर्धरः ।
      </p>
      <p>तत्र श्रीर्विजयो भूतिर्ध्रुवा नीतिर्मतिर्मम ॥ ७८ ॥
      </p>
    </div>
  </div>
</div>
<p>Wherever is Krishna, Yoga's Lord, wherever&#32;<span><span class="pagenum ws-pagenum" id="264" data-page-number="264"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/274">&#8203;</span></span>is Pârtha, the archer, assured
  are there prosperity, victory and happiness. So I think.<sup id="cite_ref-32" class="reference"><a
      href="#cite_note-32"></a></sup> <span><span
      > ॥ 78 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div class="tiInherit" style="text-align:center;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>श्रीमद्भगवद्गीतासूपनिषत्सु ब्रह्मविद्यायां योगशास्त्रे
      </p>
      <p>श्रीकृष्णार्जुनसंवादे मोक्षसंन्यासयोगो नामाष्टादशोऽध्यायः
      </p>
    </div>
  </div>
</div>