<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>भूय एव महाबाहो शृणु मे परमं वचः ।
      </p>
      <p>यत्तेऽहं प्रीयमाणाय वक्ष्यामि हितकाम्यया ॥ १ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>Again, O mighty-armed, hear thou My supreme word, that, desiring thy welfare, I will declare to thee who art beloved.
  <span><span> ॥ 1 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>न मे विदुः सुरगणाः प्रभवं न महर्षयः ।
      </p>
      <p>अहमादिर्हि देवानां महर्षीणां च सर्वशः ॥ २ ॥
      </p>
    </div>
  </div>
</div>
<p>The multitude of the Shining Ones, or the great Rishis,<sup id="cite_ref-1" class="reference"><a
      href="#cite_note-1"></a></sup> know not my forthcoming, for I am the beginning of all the Shining Ones
  and the great Rishis. <span><span> ॥ 2 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="139"
    data-page-number="139" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/149">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यो मामजमनादिं च वेत्ति लोकमहेश्वरम् ।
      </p>
      <p>असम्मूढः स मर्त्येषु सर्वपापैः प्रमुच्यते ॥ ३ ॥
      </p>
    </div>
  </div>
</div>
<p>He who knoweth Me, unborn, beginningless, the great Lord of the world, he among mortals without delusion, is
  liberated from all sin. <span><span> ॥ 3 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>बुद्धिर्ज्ञानमसम्मोहः क्षमा सत्यं दमः शमः ।
      </p>
      <p>सुखं दुःखं भवोऽभावो भयं चाभयमेव च ॥ ४ ॥
      </p>
    </div>
  </div>
</div>
<p>Reason,<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"></a></sup> wisdom, non-illusion,
  forgiveness, truth, self-restraint, calmness, pleasure, pain, existence, non-existence, fear, and also courage <span
   ><span > ॥ 4 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अहिंसा समता तुष्टिस्तपो दानं यशोऽयशः ।
      </p>
      <p>भवन्ति भावा भूतानां मत्त एव पृथग्विधाः ॥ ५ ॥
      </p>
    </div>
  </div>
</div>
<p>Harmlessness, equanimity, content, austerity, almsgiving, fame and obloquy are the various characteristics of beings
  issuing from Me. <span><span> ॥ 5 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>महर्षयः सप्त पूर्वे चत्वारो मनवस्तथा ।
      </p>
      <p>मद्भावा मानसा जाता येषां लोक इमाः प्रजाः ॥ ६ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="140" data-page-number="140"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/150">&#8203;</span></span>The seven great Rishis, the
  ancient Four,<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"></a></sup> and also the
  Manus,<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"></a></sup> were born of My nature, and
  mind; of them this race was generated. <span><span
      > ॥ 6 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>एतां विभूतिं योगं च मम यो वेत्ति तत्त्वतः ।
      </p>
      <p>सोऽविकम्पेन योगेन युज्यते नात्र संशयः ॥ ७ ॥
      </p>
    </div>
  </div>
</div>
<p>He who knows in essence that sovereignty and yoga of Mine, he is harmonised by unfaltering yoga; there is no doubt
  thereof. <span><span> ॥ 7 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अहं सर्वस्य प्रभवो मत्तः सर्वं प्रवर्तते ।
      </p>
      <p>इति मत्वा भजन्ते मां बुधा भावसमन्विताः ॥ ८ ॥
      </p>
    </div>
  </div>
</div>
<p>I am the Generator of all; all evolves from Me; understanding thus, the wise adore Me in rapt emotion. <span
   ><span > ॥ 8 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मच्चित्ता मद्गतप्राणा बोधयन्तः परस्परम् ।
      </p>
      <p>कथयन्तश्च मां नित्यं तुष्यन्ति च रमन्ति च ॥ ९ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="141" data-page-number="141"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/151">&#8203;</span></span>Mindful of Me, their life
  hidden in Me, illumining each other, ever conversing about Me, they are content and joyful. <span
   ><span > ॥ 9 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तेषां सततयुक्तानां भजतां प्रीतिपूर्वकम् ।
      </p>
      <p>ददामि बुद्धियोगं तं येन मामुपयान्ति ते ॥ १० ॥
      </p>
    </div>
  </div>
</div>
<p>To these, ever harmonious, worshipping in love, I give the yoga of discrimination<sup id="cite_ref-5"
    class="reference"><a href="#cite_note-5"></a></sup> by which they come unto Me. <span
   ><span > ॥ 10 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तेषामेवानुकम्पार्थमहमज्ञानजं तमः ।
      </p>
      <p>नाशयाम्यात्मभावस्थो ज्ञानदीपेन भास्वता ॥ ११ ॥
      </p>
    </div>
  </div>
</div>
<p>Out of pure compassion for them, dwelling within their <span style="font-variant:small-caps">Self</span>, I destroy
  the ignorance-born darkness by the shining lamp of wisdom. <span><span
      > ॥ 11 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>अर्जुन उवाच ।
        </p>
      </div>
      <p>परं ब्रह्म परं धाम पवित्रं परमं भवान् ।
      </p>
      <p>पुरुषं शाश्वतं दिव्यमादिदेवमजं विभुम् ॥ १२ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
&#32;<span><span class="pagenum ws-pagenum" id="142" data-page-number="142"
    title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/152">&#8203;</span></span>
<div class="tiInherit" style="text-align:center;">
  <p>Arjuna said:
  </p>
</div>
<p>Thou art the supreme <span style="font-variant:small-caps">Eternal</span>, the supreme Abode, the supreme Purity,
  eternal divine man, primeval Deity, unborn, the Lord! <span><span
      > ॥ 12 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>आहुस्त्वामृषयः सर्वे देवर्षिर्नारदस्तथा ।
      </p>
      <p>असितो देवलो व्यासः स्वयं चैव ब्रवीषि मे ॥ १३ ॥
      </p>
    </div>
  </div>
</div>
<p>All the Rishis have thus acclaimed Thee, as also the divine Rishi, Nârada; so Asita, Devala, and Vyâsa; and now Thou
  Thyself tellest it me. <span><span> ॥ 13 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्वमेतदृतं मन्ये यन्मां वदसि केशव ।
      </p>
      <p>न हि ते भगवन्व्यक्तिं विदुर्देवा न दानवाः ॥ १४ ॥
      </p>
    </div>
  </div>
</div>
<p>All this I believe true that Thou sayest to me, O Keshava. Thy manifestation, O Blessed Lord, neither Shining Ones
  nor Dânavas<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"></a></sup> comprehend. <span
   ><span > ॥ 14 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="143"
    data-page-number="143" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/153">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>स्वयमेवात्मनाऽऽत्मानं वेत्थ त्वं पुरुषोत्तम ।
      </p>
      <p>भूतभावन भूतेश देवदेव जगत्पते ॥ १५ ॥
      </p>
    </div>
  </div>
</div>
<p>Thyself indeed knowest Thyself by Thyself, O Purushottama; Source of beings, Lord of beings, Shining One of Shining
  Ones, Ruler of the world! <span><span> ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>वक्तुमर्हस्यशेषेण दिव्या ह्यात्मविभूतयः ।
      </p>
      <p>याभिर्विभूतिभिर्लोकानिमांस्त्वं व्याप्य तिष्ठसि ॥ १६ ॥
      </p>
    </div>
  </div>
</div>
<p>Deign to tell without reserve of Thine own divine glories, by which glories Thou remainest, pervading these worlds.
  <span><span> ॥ 16 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>कथं विद्यामहं योगिंस्त्वां सदा परिचिन्तयन् ।
      </p>
      <p>केषु केषु च भावेषु चिन्त्योऽसि भगवन्मया ॥ १७ ॥
      </p>
    </div>
  </div>
</div>
<p>How may I know thee, O Yogi, by constant meditation? In what, in what aspects art Thou to be thought of by me, O
  blessed Lord? <span><span> ॥ 17 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>विस्तरेणात्मनो योगं विभूतिं च जनार्दन ।
      </p>
      <p>भूयः कथय तृप्तिर्हि शृण्वतो नास्ति मेऽमृतम् ॥ १८ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="144" data-page-number="144"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/154">&#8203;</span></span>In detail tell me again of Thy
  yoga and glory, O Janardana; for me there is never satiety in hearing thy life-giving words. <span
   ><span > ॥ 18 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>हन्त ते कथयिष्यामि दिव्या ह्यात्मविभूतयः ।
      </p>
      <p>प्राधान्यतः कुरुश्रेष्ठ नास्त्यन्तो विस्तरस्य मे ॥ १९ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>Blessed be thou! I will declare to thee My divine glory by its chief characteristics, O best of the Kurus; there is
  no end to details of Me. <span><span> ॥ 19 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अहमात्मा गुडाकेश सर्वभूताशयस्थितः ।
      </p>
      <p>अहमादिश्च मध्यं च भूतानामन्त एव च ॥ २० ॥
      </p>
    </div>
  </div>
</div>
<p>I, O Gudakesha, am the <span style="font-variant:small-caps">Self</span>, seated in the heart of all beings; I am the
  beginning, the middle, and also the end of all beings. <span><span
      > ॥ 20 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>आदित्यानामहं विष्णुर्ज्योतिषां रविरंशुमान् ।
      </p>
      <p>मरीचिर्मरुतामस्मि नक्षत्राणामहं शशी ॥ २१ ॥
      </p>
    </div>
  </div>
</div>
<p>Of the Adityas I am Vishnu; of radiances the glorious sun; I am Marîchi of the Maruts; of the asterisms the Moon am
  I. <span><span> ॥ 21 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="145"
    data-page-number="145" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/155">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>वेदानां सामवेदोऽस्मि देवानामस्मि वासवः ।
      </p>
      <p>इन्द्रियाणां मनश्चास्मि भूतानामस्मि चेतना ॥ २२ ॥
      </p>
    </div>
  </div>
</div>
<p>Of the Vedas I am the Sâma-Veda; I am Vâsava of the Shining Ones; and of the senses I am the mind<sup id="cite_ref-7"
    class="reference"><a href="#cite_note-7"></a></sup>; I am of living beings the intelligence<sup
    id="cite_ref-8" class="reference"><a href="#cite_note-8"></a></sup>. <span
   ><span > ॥ 22 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>रुद्राणां शङ्करश्चास्मि वित्तेशो यक्षरक्षसाम् ।
      </p>
      <p>वसूनां पावकश्चास्मि मेरुः शिखरिणामहम् ॥ २३ ॥
      </p>
    </div>
  </div>
</div>
<p>And of the Rudras<sup id="cite_ref-p145Celestial_9-0" class="reference"><a
      href="#cite_note-p145Celestial-9"></a></sup> Shañkara am I; Vittesha of the Yakshas and Râkshasas<sup
    id="cite_ref-10" class="reference"><a href="#cite_note-10"></a></sup>; and of the Vasus<sup
    id="cite_ref-p145Celestial_9-1" class="reference"><a href="#cite_note-p145Celestial-9"></a></sup> I am
  Pâvaka; Meru of high mountains am I. <span><span
      > ॥ 23 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>पुरोधसां च मुख्यं मां विद्धि पार्थ बृहस्पतिम् ।
      </p>
      <p>सेनानीनामहं स्कन्दः सरसामस्मि सागरः ॥ २४ ॥
      </p>
    </div>
  </div>
</div>
<p>And know Me, O Pârtha, of household priests the chief, Brihaspati: of generals I am Skanda; of lakes I am the ocean.
  <span><span> ॥ 24 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="146"
    data-page-number="146" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/156">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>महर्षीणां भृगुरहं गिरामस्म्येकमक्षरम् ।
      </p>
      <p>यज्ञानां जपयज्ञोऽस्मि स्थावराणां हिमालयः ॥ २५ ॥
      </p>
    </div>
  </div>
</div>
<p>Of the great Rishis Bhṛigu; of speech I am the one syllable<sup id="cite_ref-11" class="reference"><a
      href="#cite_note-11"></a></sup>; of sacrifices I am the sacrifice of silent repetitions<sup
    id="cite_ref-12" class="reference"><a href="#cite_note-12"></a></sup>; of immovable things the Himâlaya.
  <span><span> ॥ 25 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अश्वत्थः सर्ववृक्षाणां देवर्षीणां च नारदः ।
      </p>
      <p>गन्धर्वाणां चित्ररथः सिद्धानां कपिलो मुनिः ॥ २६ ॥
      </p>
    </div>
  </div>
</div>
<p>Asvattha of all tree; and of divine Rishis Nârada; of Gandharvas<sup id="cite_ref-13" class="reference"><a
      href="#cite_note-13"></a></sup> Chitraratha; of the perfected the Muni Kapila. <span
   ><span > ॥ 26 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>उच्चैःश्रवसमश्वानां विद्धि माममृतोद्भवम् ।
      </p>
      <p>ऐरावतं गजेन्द्राणां नराणां च नराधिपम् ॥ २७ ॥
      </p>
    </div>
  </div>
</div>
<p>Uchchaishravas of horses know me, nectar-born<sup id="cite_ref-14" class="reference"><a
      href="#cite_note-14"></a></sup>; Airâvata of lordly elephants, and of men the Monarch. <span
   ><span > ॥ 27 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="147"
    data-page-number="147" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/157">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>आयुधानामहं वज्रं धेनूनामस्मि कामधुक् ।
      </p>
      <p>प्रजनश्चास्मि कन्दर्पः सर्पाणामस्मि वासुकिः ॥ २८ ॥
      </p>
    </div>
  </div>
</div>
<p>Of weapons I am the thunderbolt; of cows I am Kâmadhuk; I am Kandarpa of the progenitors; of serpents Vâsuki am I.
  <span><span> ॥ 28 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अनन्तश्चास्मि नागानां वरुणो यादसामहम् ।
      </p>
      <p>पितॄणामर्यमा चास्मि यमः संयमतामहम् ॥ २९ ॥
      </p>
    </div>
  </div>
</div>
<p>And I am Ananta of Nâgas<sup id="cite_ref-15" class="reference"><a href="#cite_note-15"></a></sup>,
  Varuna of sea-dwellers I; and of ancestors Aryaman; Yama of governors am I. <span
   ><span > ॥ 29 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>प्रह्लादश्चास्मि दैत्यानां कालः कलयतामहम् ।
      </p>
      <p>मृगाणां च मृगेन्द्रोऽहं वैनतेयश्च पक्षिणाम् ॥ ३० ॥
      </p>
    </div>
  </div>
</div>
<p>And I am Prahlâda of Daityas;<sup id="cite_ref-16" class="reference"><a href="#cite_note-16"></a></sup>
  of calculators Time am I; and of wild beasts I the imperial beast;<sup id="cite_ref-17" class="reference"><a
      href="#cite_note-17"></a></sup> and Vainateya of birds. <span
   ><span > ॥ 30 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="148"
    data-page-number="148" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/158">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>पवनः पवतामस्मि रामः शस्त्रभृतामहम् ।
      </p>
      <p>झषाणां मकरश्चास्मि स्रोतसामस्मि जाह्नवी ॥ ३१ ॥
      </p>
    </div>
  </div>
</div>
<p>Of purifiers I am the wind; Rama of warriors I; and I am Makara of fishes; of streams the Gangâ am I. <span
   ><span></span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्गाणामादिरन्तश्च मध्यं चैवाहमर्जुन ।
      </p>
      <p>अध्यात्मविद्या विद्यानां वादः प्रवदतामहम् ॥ ३२ ॥
      </p>
    </div>
  </div>
</div>
<p>Of creations the beginning and the ending, and also the middle am I, O Arjuna. Of sciences the science concerning the
  <span style="font-variant:small-caps">Self</span>; the speech of orators I. <span
   ><span > ॥ 32 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अक्षराणामकारोऽस्मि द्वन्द्वः सामासिकस्य च ।
      </p>
      <p>अहमेवाक्षयः कालो धाताऽहं विश्वतोमुखः ॥ ३३ ॥
      </p>
    </div>
  </div>
</div>
<p>Of letters the letter A I am, and the duality of a compound<sup id="cite_ref-18" class="reference"><a
      href="#cite_note-18"></a></sup>; I also everlasting Time; I the Supporter, whose face turns
  everywhere. <span><span> ॥ 33 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="149"
    data-page-number="149" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/159">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मृत्युः सर्वहरश्चाहमुद्भवश्च भविष्यताम् ।
      </p>
      <p>कीर्तिः श्रीर्वाक्च नारीणां स्मृतिर्मेधा धृतिः क्षमा ॥ ३४ ॥
      </p>
    </div>
  </div>
</div>
<p>And all-devouring Death am I, and the origin of all to come; and of feminine qualities, fame, prosperity, speech,
  memory, intelligence, constancy, forgiveness. <span><span
      > ॥ 34 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>बृहत्साम तथा साम्नां गायत्री छन्दसामहम् ।
      </p>
      <p>मासानां मार्गशीर्षोऽहमृतूनां कुसुमाकरः ॥ ३५ ॥
      </p>
    </div>
  </div>
</div>
<p>Of hymns also Brihatsâman; Gâyatrî of metres am I; of months I am Mârgasîrsha; of seasons the flowery. <span
   ><span > ॥ 35 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>द्यूतं छलयतामस्मि तेजस्तेजस्विनामहम् ।
      </p>
      <p>जयोऽस्मि व्यवसायोऽस्मि सत्त्वं सत्त्ववतामहम् ॥ ३६ ॥
      </p>
    </div>
  </div>
</div>
<p>I am the gambling of the cheat, and the splendour of splendid things I; I am victory, I am determination, and the
  truth of the truthful I. <span><span> ॥ 36 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="150"
    data-page-number="150" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/160">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>वृष्णीनां वासुदेवोऽस्मि पाण्डवानां धनञ्जयः ।
      </p>
      <p>मुनीनामप्यहं व्यासः कवीनामुशना कविः ॥ ३७ ॥
      </p>
    </div>
  </div>
</div>
<p>Of the Vṛishnis<sup id="cite_ref-p150family_19-0" class="reference"><a
      href="#cite_note-p150family-19"></a></sup> Vâsudeva am I; of the Pândavas<sup
    id="cite_ref-p150family_19-1" class="reference"><a href="#cite_note-p150family-19"></a></sup>
  Dhananjaya; of the Sages<sup id="cite_ref-20" class="reference"><a href="#cite_note-20"></a></sup> also I
  am Vyâsa; of poets Ushanâ the Bard. <span><span
      > ॥ 37 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>दण्डो दमयतामस्मि नीतिरस्मि जिगीषताम् ।
      </p>
      <p>मौनं चैवास्मि गुह्यानां ज्ञानं ज्ञानवतामहम् ॥ ३८ ॥
      </p>
    </div>
  </div>
</div>
<p>Of rulers I am the sceptre; of those that seek victory I am statesmanship; and of secrets I am also silence; the
  knowledge of knowers am I. <span><span
      > ॥ 38 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यच्चापि सर्वभूतानां बीजं तदहमर्जुन ।
      </p>
      <p>न तदस्ति विना यत्स्यान्मया भूतं चराचरम् ॥ ३९ ॥
      </p>
    </div>
  </div>
</div>
<p>And whatsoever is the seed of all beings, that am I, O Arjuna; nor is there aught, moving or unmoving, that may exist
  bereft of Me. <span><span> ॥ 39 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="151"
    data-page-number="151" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/161">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>नान्तोऽस्ति मम दिव्यानां विभूतीनां परन्तप ।
      </p>
      <p>एष तूद्देशतः प्रोक्तो विभूतेर्विस्तरो मया ॥ ४० ॥
      </p>
    </div>
  </div>
</div>
<p>There is no end of My divine powers, O Parantapa. What has been declared is illustrative of My infinite glory. <span
   ><span > ॥ 40 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यद्यद्विभूतिमत्सत्त्वं श्रीमदूर्जितमेव वा ।
      </p>
      <p>तत्तदेवावगच्छ त्वं मम तेजोंऽशसम्भवम् ॥ ४१ ॥
      </p>
    </div>
  </div>
</div>
<p>Whatsoever is glorious, good, beautiful, and mighty, understand thou that to go forth from a fragment of My
  splendour. <span><span> ॥ 41 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अथवा बहुनैतेन किं ज्ञातेन तवार्जुन ।
      </p>
      <p>विष्टभ्याहमिदं कृत्स्नमेकांशेन स्थितो जगत् ॥ ४२ ॥
      </p>
    </div>
  </div>
</div>
<p>But what is the knowledge of all these details to thee, O Arjuna? Having pervaded this whole universe with one
  fragment of Myself, I remain. <span><span
      > ॥ 42 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इति श्रीमद्भगवद्गीता॰ विभूतियोगो नाम दशमोऽध्यायः ।
      </p>
    </div>
  </div>
</div>