<div class="dialogTitle" [ngStyle]="setting.getHeaderStyle()">
  <input type="image" src="assets\icon\back.png" (click)="closeDialog()" alt="Submit" align="left"
    class="dialogBackBtn">
  Pasaydan
</div>

<div class="dialogPage" [ngStyle]="setting.getDialogPageStyle()">
  <div class="dialogText">
    आतां विश्वात्मकें देवें । येणें वाग्यज्ञें तोषावें । तोषोनि मज द्यावें । पसायदान हें ॥ १ ॥ <br><br>
    जे खळांची व्यंकटी सांडो । तयां सत्कर्मीं रती वाढो । भूतां परस्परें जडो। मैत्र जीवांचें ॥ २ ॥ <br><br>
    दुरिताचें तिमिर जावो । विश्व स्वधर्म सूर्यें पाहो । जो जें वांच्छील तो तें लाहो । प्राणिजात ॥ ३ ॥ <br><br>
    वर्षत सकळमंगळीं । ईश्वर निष्ठांची मांदियाळी । अनवरत भूमंडळीं । भेटतु या भूतां ॥ ४ ॥ <br><br>
    चलां कल्पतरूंचे आरव । चेतना चिंतामणीचें गांव । बोलते जे अर्णव । पीयूषाचे ॥ ५ ॥ <br><br>
    चंद्रमे जे अलांछन । मार्तंड जे तापहीन । ते सर्वांही सदा सज्जन । सोयरे होतु ॥ ६ ॥ <br><br>
    किंबहुना सर्वसुखीं । पूर्ण होऊनि तिहीं लोकीं । भाजिजो आदिपुरुखीं । अखंडित ॥ ७ ॥ <br><br>
    आणि ग्रंथोपजीविये । विशेषीं लोकीं इयें । दृष्टादृष्ट विजयें । होआवें जी ॥ ८ ॥ <br><br>
    येथ म्हणे श्रीविश्वेश्वरावो । हा होईल दानपसावो । येणें वरें ज्ञानदेवो । सुखिया झाला ॥ ९ ॥ <br> <br>

    <br>
    <b>
      <li>Meaning in English</li>
    </b><br>
    May the Self of the universe be pleased with this sacrifice of words and bestow His grace on me. ॥ 1 ॥ <br><br>

    May the sinners no longer commit evil deeds, may their desire to do good increase, and may all
    beings live in harmony with one another. ॥ 2 ॥ <br><br>

    May the darkness of sin disappear, may the world see the rising of the sun of righteousness, and
    may the desires of all creatures be satisfied. ॥ 3 ॥ <br><br>

    May everyone keep the company of saints devoted to God, who will shower their blessings on
    them. ॥ 4 ॥ <br><br>

    Saints are walking gardens filled with wish-fulfilling trees, and they are living villages of wishfulfilling gems.
    Their words are like oceans of nectar. ॥ 5 ॥ <br><br>

    They are moons without blemish and suns without heat. May these saints be the friends of all
    people. ॥ 6 ॥ <br><br>

    May all beings in all the worlds be filled with joy, and may they worship God forever. ॥ 7 ॥ <br><br>
    May all those for whom this book is their very life be blessed with success in this world and the
    next. ॥ 8 ॥ <br><br>

    Then, Nivrittinath, the great Master said that this blessing will be granted. This brought great joy
    to Jnaneshwar. ॥ 9 ॥ <br><br>
  </div>
</div>