<div class="dialogTitle" [ngStyle]="setting.getHeaderStyle()">
  <input type="image" src="assets\icon\back.png" (click)="closeDialog()" alt="Submit" align="left"
    class="dialogBackBtn">
  Bhagavad-Gita
</div>

<div class="dialogPage" [ngStyle]="setting.getDialogPageStyle()">
  <div class="dialogText">
    The Bhagavad Gita often referred to as the Gita, is a 700-verse Hindu scripture that is part of the epic Mahabharata
    (chapters 23–40 of Bhishma Parva), commonly dated to the second century BCE.
    <br>
    The Gita is set in a narrative framework of a dialogue between Pandava prince Arjuna and his guide and charioteer
    Krishna. At the start of the Dharma Yudhha (righteous war) between Pandavas and Kauravas, Arjuna is filled with
    moral dilemma and despair about the violence and death the war will cause in the battle against his own kin. He
    wonders if he should renounce and seeks Krishna's counsel, whose answers and discourse constitute the Bhagavad Gita.
    Krishna counsels Arjuna to "fulfill his Kshatriya (warrior) duty to uphold the Dharma" through "selfless
    action". The Krishna–Arjuna dialogues cover a broad range of spiritual topics, touching upon
    ethical dilemmas and philosophical issues that go far beyond the war Arjuna faces.
    <br>
    Numerous commentaries have been written on the Bhagavad Gita with widely differing views on the essentials.
    According to some, Bhagavad Gita is written by Lord Ganesha which was told to him by Vyasa. Vedanta commentators
    read varying relations between Self and Brahman in the text: Advaita Vedanta sees the non-dualism of Atman (soul)
    and Brahman (universal soul) as its essence, whereas Bhedabheda and Vishishtadvaita see Atman and Brahman as both
    different and non-different, while Dvaita Vedanta sees dualism of Atman (soul) and Brahman as its essence. The
    setting of the Gita in a battlefield has been interpreted as an allegory for the ethical and moral struggles of the
    human life.
    <br><br>
    <b>
      <li>Chapters in Bhagavad-Gita</li>
    </b> <br>
    Chapter 1. Sankhya Yoga<br> 
    Chapter 2. Sankhya Yoga<br>
    Chapter 3. Karma Yoga<br>
    Chapter 4. Jnana Yoga<br>
    Chapter 5. Karma-Sanyasa Yoga<br>
    Chapter 6. Atma Samyama Yoga<br>
    Chapter 7. Vijnana Yoga<br>
    Chapter 8. Aksara-ParaBrahma Yoga<br>
    Chapter 9. Raja-Vidya-Raja-Guhya Yoga<br>
    Chapter 10. Vibhuti-Vistara Yoga<br>
    Chapter 11. Viswarupa-Darsana Yoga<br>
    Chapter 12. Bhakti Yoga<br>
    Chapter 13. Ksetra-Ksetrajna Vibhaga Yoga<br>
    Chapter 14. Gunatraya-Vibhaga Yoga<br>
    Chapter 15. Purushottama-Prapti Yoga<br>
    Chapter 16. Daivasura-Sampad-Vibhaga Yoga<br>
    Chapter 17. Shraddhatraya-Vibhaga Yoga<br>
    Chapter 18. Moksha-Sanyasa Yoga<br>
    <br>
  </div>
</div>