<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>धृतराष्ट्र उवाच ।
                </p>
            </div>
            <p>धर्मक्षेत्रे कुरुक्षेत्रे समवेता युयुत्सवः ।
            </p>
            <p>मामकाः पाण्डवाश्चैव किमकुर्वत सञ्जय ॥ १ ॥
            </p>
        </div>
    </div>
</div>
<div class="tiInherit" style="text-align:center;">
    <p>Dhritarâshtra said:
    </p>
</div>
<p>On the holy plain, on the field of Kuru, gathered together, eager for battle, what did they, O Sanjaya, my
    people and the Pândavas? <span><span> ॥ 1 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>सञ्जय उवाच ।
                </p>
            </div>
            <p>दृष्ट्वा तु पाण्डवानीकं व्यूढं दुर्योधनस्तदा ।
            </p>
            <p>आचार्यमुपसङ्गम्य राजा वचनमब्रवीत् ॥ २ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
&#32;<span><span class="pagenum ws-pagenum" id="2" data-page-number="2"
        title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/12">&#8203;</span></span>
<div class="tiInherit" style="text-align:center;">
    <p>Sanjaya said:
    </p>
</div>
<p>Having seen arrayed the army of the Pândavas, the Prince Duryodhana approached his teacher,<sup id="cite_ref-2"
        class="reference"><a href="#cite_note-2"></a></sup> and spake these words: <span><span> ॥ 2 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>पश्यैतां पाण्डुपुत्राणामाचार्य महतीं चमूम् ।
            </p>
            <p>व्यूढां द्रुपदपुत्रेण तव शिष्येण धीमता ॥ ३ ॥
            </p>
        </div>
    </div>
</div>
<p>"Behold this mighty host of the sons of Pându, O teacher, arrayed by the son of Drupada, thy wise disciple.
    <span><span> ॥ 3 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अत्र शूरा महेष्वासा भीमार्जुनसमा युधि ।
            </p>
            <p>युयुधानो विराटश्च द्रुपदश्च महारथः ॥ ४ ॥
            </p>
        </div>
    </div>
</div>
<p>Heroes are these, mighty bowmen, to Bhîma and Arjuna equal in battle: Yuyudhâna, Virâta, and Drupada of the great
    car.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"></a></sup> <span><span> ॥ 4 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>धृष्टकेतुश्चेकितानः काशिराजश्च वीर्यवान् ।
            </p>
            <p>पुरुजित्कुन्तिभोजश्च शैब्यश्च नरपुङ्गवः ॥ ५ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="3" data-page-number="3"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/13">&#8203;</span></span>Drishtaketu, Chekitâna
    and the valiant King of Kâshi, Purujit and Kuntibhoja, and Shaivya, bull<sup id="cite_ref-4" class="reference"><a
            href="#cite_note-4"></a></sup> among men; <span><span> ॥ 5 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>युधामन्युश्च विक्रान्त उत्तमौजाश्च वीर्यवान् ।
            </p>
            <p>सौभद्रो द्रौपदेयाश्च सर्व एव महारथाः ॥ ६ ॥
            </p>
        </div>
    </div>
</div>
<p>Yudhâmanyu the strong, and Uttamaujas the brave; Saubhadra<sup id="cite_ref-5" class="reference"><a
            href="#cite_note-5"></a></sup> and the Draupadeyas,<sup id="cite_ref-6" class="reference"><a
            href="#cite_note-6"></a></sup> all of great cars. <span><span> ॥ 6 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अस्माकं तु विशिष्टा ये तान्निबोध द्विजोत्तम ।
            </p>
            <p>नायका मम सैन्यस्य संज्ञार्थं तान्ब्रवीमि ते ॥ ७ ॥
            </p>
        </div>
    </div>
</div>
<p>Know further all those who are our chiefs, O best of the twice-born, the leaders of my army; these I name to thee for
    thy information: <span><span> ॥ 7 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>भवान्भीष्मश्च कर्णश्च कृपश्च समितिञ्जयः ।
            </p>
            <p>अश्वत्थामा विकर्णश्च सौमदत्तिस्तथैव च ॥ ८ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="4" data-page-number="4"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/14">&#8203;</span></span>Thou, Lord, and Bhîshma,
    and Karna and Kripa, conquering in battle; Ashvatthâmâ, Vikarna, and Saumadatti<sup id="cite_ref-7"
        class="reference"><a href="#cite_note-7"></a></sup> also; <span><span> ॥ 8 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अन्ये च बहवः शूरा मदर्थे त्यक्तजीविताः ।
            </p>
            <p>नानाशस्त्रप्रहरणाः सर्वे युद्धविशारदाः ॥ ९ ॥
            </p>
        </div>
    </div>
</div>
<p>And many others, heroes, for my sake renouncing their lives, with divers weapons and missiles, and all well-skilled
    in war. <span><span> ॥ 9 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अपर्याप्तं तदस्माकं बलं भीष्माभिरक्षितम् ।
            </p>
            <p>पर्याप्तं त्विदमेतेषां बलं भीमाभिरक्षितम् ॥ १० ॥
            </p>
        </div>
    </div>
</div>
<p>Yet insufficient seems this army of ours, though marshalled by Bhîshma, while that army of theirs seems sufficient,
    though marshalled by Bhîma;<sup id="cite_ref-8" class="reference"><a href="#cite_note-8"></a></sup> <span><span> ॥
            10 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="5"
        data-page-number="5" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/15">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अयनेषु च सर्वेषु यथाभागमवस्थिताः ।
            </p>
            <p>भीष्ममेवाभिरक्षन्तु भवन्तः सर्व एव हि ॥ ॥ ११ ॥
            </p>
        </div>
    </div>
</div>
<p>Therefore in the rank and file let all, standing firmly in their respective divisions, guard Bhîshma, even all ye
    generals. <span><span> ॥ 11 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>तस्य सञ्जनयन्हर्षं कुरुवृद्धः पितामहः ।
            </p>
            <p>सिंहनादं विनद्योच्चैः शङ्खं दध्मौ प्रतापवान् ॥ १२ ॥
            </p>
        </div>
    </div>
</div>
<p>To enhearten him, the Ancient of the Kurus, the Grandsire,<sup id="cite_ref-9" class="reference"><a
            href="#cite_note-9"></a></sup> the glorious, blew his conch, sounding on high a lion's roar.
    <span><span> ॥ 12 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>ततः शङ्खाश्च भेर्यश्च पणवानकगोमुखाः ।
            </p>
            <p>सहसैवाभ्यहन्यन्त स शब्दस्तुमुलोऽभवत् ॥ १३ ॥
            </p>
        </div>
    </div>
</div>
<p>Then conches and kettledrums, tabors and drums and cowhorns, suddenly blared forth, and the sound was tumultuous.
    <span><span> ॥ 13 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="6"
        data-page-number="6" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/16">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>ततः श्वेतैर्हयैर्युक्ते महति स्यन्दने स्थितौ ।
            </p>
            <p>माधवः पाण्डवश्चैव दिव्यौ शङ्खौ प्रदध्मतुः ॥ १४ ॥
            </p>
        </div>
    </div>
</div>
<p>Then, stationed in their great war-chariot, yoked to white horses, Mâdhava<sup id="cite_ref-10" class="reference"><a
            href="#cite_note-10"></a></sup> and the son of Pându<sup id="cite_ref-11" class="reference"><a
            href="#cite_note-11"></a></sup> blew their divine conches. <span><span> ॥ 14 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>पाञ्चजन्यं हृषीकेशो देवदत्तं धनञ्जयः ।
            </p>
            <p>पौण्ड्रं दध्मौ महाशङ्खं भीमकर्मा वृकोदरः ॥ १५ ॥
            </p>
        </div>
    </div>
</div>
<p>Pânchajanya by Hrishîkesha, and Devadatta by Dhananjaya.<sup id="cite_ref-12" class="reference"><a
            href="#cite_note-12"></a></sup> Vrikodara<sup id="cite_ref-13" class="reference"><a
            href="#cite_note-13"></a></sup> of terrible deeds blew his mighty conch, Paundra; <span><span> ॥ 15
            ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अनन्तविजयं राजा कुन्तीपुत्रो युधिष्ठिरः ।
            </p>
            <p>नकुलः सहदेवश्च सुघोषमणिपुष्पकौ ॥ १६ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="7" data-page-number="7"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/17">&#8203;</span></span>The King Yudhishthira,
    the son of Kuntî, blew Anantavijaya; Nakula and Sahadeva, Sughosha and Manipushpaka.<sup id="cite_ref-14"
        class="reference"><a href="#cite_note-14"></a></sup> <span><span> ॥ 16 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>काश्यश्च परमेष्वासः शिखण्डी च महारथः ।
            </p>
            <p>धृष्टद्युम्नो विराटश्च सात्यकिश्चापराजितः ॥ १७ ॥
            </p>
        </div>
    </div>
</div>
<p>And Kâshya,<sup id="cite_ref-15" class="reference"><a href="#cite_note-15"></a></sup> of the great bow
    and Shikhandî, the mighty car-warrior, Drishtadyumna and Virâta and Sâtyaki, the unconquered.
    <span><span> ॥ 17 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>द्रुपदो द्रौपदेयाश्च सर्वशः पृथिवीपते ।
            </p>
            <p>सौभद्रश्च महाबाहुः शङ्खान्दध्मुः पृथक्पृथक् ॥ १८ ॥
            </p>
        </div>
    </div>
</div>
<p>Drupada and the Draupadeyas, O Lord of earth, and Saubhadra, the mighty-armed, on all sides their several conches
    blew. <span><span> ॥ 18 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>स घोषो धार्तराष्ट्राणां हृदयानि व्यदारयत् ।
            </p>
            <p>नभश्च पृथिवीं चैव तुमुलो व्यनुनादयन् ॥ १९ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="8" data-page-number="8"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/18">&#8203;</span></span>That tumultuous uproar
    rent the hearts of the sons of Dhritarâshtra, filling the earth and sky with sound. <span><span> ॥ 19
            ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अथ व्यवस्थितान्दृष्ट्वा धार्तराष्ट्रान्कपिध्वजः ।
            </p>
            <p>प्रवृत्ते शस्त्रसम्पाते धनुरुद्यम्य पाण्डवः ॥ २० ॥
            </p>
        </div>
    </div>
</div>
<p>Then, beholding the sons of Dhritarâshtra standing arrayed, and flight of missiles about to begin, he whose crest is
    an ape, the son of Pându, took up his bow, <span><span> ॥ 20 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>हृषीकेशं तदा वाक्यमिदमाह महीपते ।
            </p>
            <div class="tiInherit" style="text-align:center;">
                <p>अर्जुन उवाच ।
                </p>
            </div>
            <p>सेनयोरुभयोर्मध्ये रथं स्थापय मेऽच्युत ॥ २१ ॥
            </p>
        </div>
    </div>
</div>
<p>And spake this word to Hrishîkesha, O Lord of Earth:
</p>
<div class="tiInherit" style="text-align:center;">
    <p>Arjuna said:
    </p>
</div>
<p>In the midst, between the two armies, stay my chariot, O Achyuta,<sup id="cite_ref-16" class="reference"><a
            href="#cite_note-16"></a></sup> <span><span> ॥ 21 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="9"
        data-page-number="9" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/19">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यावदेतान्निरीक्षेऽहं योद्‌धुकामानवस्थितान् ।
            </p>
            <p>कैर्मया सह योद्धव्यमस्मिन्रणसमुद्यमे ॥ २२ ॥
            </p>
        </div>
    </div>
</div>
<p>That I may behold these standing, longing for battle, with whom I must strive in this outbreaking war, <span><span> ॥
            22 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>योत्स्यमानानवेक्षेऽहं य एतेऽत्र समागताः ।
            </p>
            <p>धार्तराष्ट्रस्य दुर्बुद्धेर्युद्धे प्रियचिकीर्षवः ॥ २३ ॥
            </p>
        </div>
    </div>
</div>
<p>And gaze on those here gathered together ready to fight, desirous of pleasing in battle the evil-minded son of
    Dhritarâshtra. <span><span> ॥ 23 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>सञ्जय उवाच ।
                </p>
            </div>
            <p>एवमुक्तो हृषीकेशो गुडाकेशेन भारत ।
            </p>
            <p>सेनयोरुभयोर्मध्ये स्थापयित्वा रथोत्तमम् ॥ २४ ॥
            </p>
        </div>
    </div>
</div>
<div class="tiInherit" style="text-align:center;">
    <p>Sanjaya said:
    </p>
</div>
<p>Thus addressed by Gudâkesha,<sup id="cite_ref-17" class="reference"><a href="#cite_note-17"></a></sup>
    Hrishîkesha, O Bhârata, having stayed that best of chariots in the midst, between the two armies, <span><span> ॥ 24
            ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="10"
        data-page-number="10" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/20">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>भीष्मद्रोणप्रमुखतः सर्वेषां च महीक्षिताम् ।
            </p>
            <p>उवाच पार्थ पश्यैतान्समवेतान्कुरूनिति ॥ २५ ॥
            </p>
        </div>
    </div>
</div>
<p>Over against Bhîshma, Drona and all the rulers of the world, said: "O Pârtha, behold these Kurus gathered together."
    <span><span> ॥ 25 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>तत्रापश्यत्स्थितान्पार्थः पितॄनथ पितामहान् ।
            </p>
            <p>आचार्यान्मातुलान्भ्रातॄन्पुत्रान्पौत्रान्सखींस्तथा ॥ २६ ॥
            </p>
        </div>
    </div>
</div>
<p>Then saw Pârtha standing there, uncles and grandfathers, teachers, mother's brothers, cousins, sons and grandsons,
    comrades, <span><span> ॥ 26 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>श्वशुरान्सुहृदश्चैव सेनयोरुभयोरपि ।
            </p>
            <p>तान्समीक्ष्य स कौन्तेयः सर्वान्बन्धूनवस्थितान् ॥ २७ ॥
            </p>
        </div>
    </div>
</div>
<p>Fathers-in-law and benefactors also in both armies; seeing all these kinsmen thus standing arrayed, Kaunteya, ॥ 27 ॥
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <p><span lang="sa" dir="ltr" style="font-weight: bold;">कृपया परयाऽऽविष्टो विषीदन्निदमब्रवीत् ।</span>
        </p>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>अर्जुन उवाच ।
                </p>
            </div>
            <p>दृष्ट्वेमं स्वजनं कृष्ण युयुत्सुं समुपस्थितम् ॥ २८ ॥
            </p>
        </div>
    </div>
</div>
<p>Deeply moved to pity, thus uttered in sadness:
</p>
<div class="tiInherit" style="text-align:center;">
    <p>Arjuna said:
    </p>
</div>
<p>Seeing these my kinsmen, O Krishna, arrayed, eager to fight, <span><span> ॥ 28 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>सीदन्ति मम गात्राणि मुखं च परिशुष्यति ।
            </p>
            <p>वेपथुश्च शरीरे मे रोमहर्षश्च जायते ॥ २९ ॥
            </p>
        </div>
    </div>
</div>
<p>My limbs fail and my mouth is parched, my body quivers, and my hair stands on end, <span><span> ॥ 29 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>गाण्डीवं स्रंसते हस्तात्त्वक्चैव परिदह्यते ।
            </p>
            <p>न च शक्नोम्यवस्थातुं भ्रमतीव च मे मनः ॥ ३० ॥
            </p>
        </div>
    </div>
</div>
<p>Gândîva slips from my hand, and my skin burns all over, I am not able to stand, my mind is whirling, <span><span> ॥
            30 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>निमित्तानि च पश्यामि विपरीतानि केशव ।
            </p>
            <p>न च श्रेयोऽनुपश्यामि हत्वा स्वजनमाहवे ॥ ३१ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="12" data-page-number="12"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/22">&#8203;</span></span>And I see adverse omens,
    O Keshava.<sup id="cite_ref-19" class="reference"><a href="#cite_note-19"></a></sup> Nor do I foresee
    any advantage from slaying kinsmen in battle. <span><span> ॥ 31 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>न काङ्क्षे विजयं कृष्ण न च राज्यं सुखानि च ।
            </p>
            <p>किं नो राज्येन गोविन्द किं भोगैर्जीवितेन वा ॥ ३२ ॥
            </p>
        </div>
    </div>
</div>
<p>For I desire not victory, O Krishna, nor kingdom, nor pleasures; what is kingdom to us, O Govinda, what enjoyment or
    even life? <span><span> ॥ 32 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>येषामर्थे काङ्क्षितं नो राज्यं भोगाः सुखानि च ।
            </p>
            <p>त इमेऽवस्थिता युद्धे प्राणांस्त्यक्त्वा धनानि च ॥ ३३ ॥
            </p>
        </div>
    </div>
</div>
<p>Those for whose sake we desire kingdom, enjoyments and pleasures, they stand here in battle, abandoning life and
    riches— <span><span> ॥ 33 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>आचार्याः पितरः पुत्रास्तथैव च पितामहाः ।
            </p>
            <p>मातुलाः श्वशुराः पौत्राः श्यालाः सम्बन्धिनस्तथा ॥ ३४ ॥
            </p>
        </div>
    </div>
</div>
<p>Teachers, fathers, sons, as well as grandfathers,&#32;<span><span class="pagenum ws-pagenum" id="13"
            data-page-number="13"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/23">&#8203;</span></span>mother's brothers,
    fathers-in-law, grandsons, brothers-in-law, and other relatives. <span><span> ॥ 34 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>एतान्न हन्तुमिच्छामि घ्नतोऽपि मधुसूदन ।
            </p>
            <p>अपि त्रैलोक्यराज्यस्य हेतोः किं नु महीकृते ॥ ३५ ॥
            </p>
        </div>
    </div>
</div>
<p>These I do not wish to kill, though myself slain, O Madhusûdana,<sup id="cite_ref-20" class="reference"><a
            href="#cite_note-20"></a></sup> even for the sake of the kingship of the three worlds; how then
    for earth? <span><span> ॥ 35 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>निहत्य धार्तराष्ट्रान्नः का प्रीतिः स्याज्जनार्दन ।
            </p>
            <p>पापमेवाश्रयेदस्मान्हत्वैतानाततायिनः ॥ ३६ ॥
            </p>
        </div>
    </div>
</div>
<p>Slaying these sons of Dhritarâshtra, what pleasure can be ours, O Janârdana?<sup id="cite_ref-21"
        class="reference"><a href="#cite_note-21"></a></sup> Killing these desperadoes, sin will but take
    hold of us. <span><span> ॥ 36 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>तस्मान्नार्हा वयं हन्तुं धार्तराष्ट्रान्स्वबान्धवान् ।
            </p>
            <p>स्वजनं हि कथं हत्वा सुखिनः स्याम माधव ॥ ३७ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="14" data-page-number="14"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/24">&#8203;</span></span>Therefore we should not
    kill the sons of Dhritarâshtra, our relatives; for how, killing our kinsmen, may we be happy, O Mâdhava?
    <span><span> ॥ 37 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यद्यप्येते न पश्यन्ति लोभोपहतचेतसः ।
            </p>
            <p>कुलक्षयकृतं दोषं मित्रद्रोहे च पातकम् ॥ ३८ ॥
            </p>
        </div>
    </div>
</div>
<p>Although these, with intelligence overpowered by greed, see no guilt in the destruction of a family, no crime in
    hostility to friends, <span><span> ॥ 38 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>कथं न ज्ञेयमस्माभिः पापादस्मान्निवर्तितुम् ।
            </p>
            <p>कुलक्षयकृतं दोषं प्रपश्यद्भिर्जनार्दन ॥ ३९ ॥
            </p>
        </div>
    </div>
</div>
<p>Why should not we learn to turn away from such a sin, O Janârdana, who see the evils in the destruction of a family?
    <span><span> ॥ 39 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>कुलक्षये प्रणश्यन्ति कुलधर्माः सनातनाः ।
            </p>
            <p>धर्मे नष्टे कुलं कृत्स्नमधर्मोऽभिभवत्युत ॥ ४० ॥
            </p>
        </div>
    </div>
</div>
<p>In the destruction of a family the immemorial&#32;<span><span class="pagenum ws-pagenum" id="15"
            data-page-number="15"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/25">&#8203;</span></span>family traditions<sup
        id="cite_ref-22" class="reference"><a href="#cite_note-22"></a></sup> perish; in the perishing of
    tradition, lawlessness overcomes the whole family; <span><span> ॥ 40 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अधर्माभिभवात्कृष्ण प्रदुष्यन्ति कुलस्त्रियः ।
            </p>
            <p>स्त्रीषु दुष्टासु वार्ष्णेय जायते वर्णसङ्करः ॥ ४१ ॥
            </p>
        </div>
    </div>
</div>
<p>Owing to predominance of lawlessness, O Krishna, the women of the family become corrupt; women corrupted, O
    Vârshneya,<sup id="cite_ref-23" class="reference"><a href="#cite_note-23"></a></sup> there ariseth caste
    confusion; <span><span> ॥ 41 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>सङ्करो नरकायैव कुलघ्नानां कुलस्य च ।
            </p>
            <p>पतन्ति पितरो ह्येषां लुप्तपिण्डोदकक्रियाः ॥ ४२ ॥
            </p>
        </div>
    </div>
</div>
<p>This confusion draggeth to hell the slayers of the family, and the family; for their ancestors fall, deprived of
    rice-balls and libations. <span><span> ॥ 42 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="16"
        data-page-number="16" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/26">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>दोषैरेतैः कुलघ्नानां वर्णसङ्करकारकैः ।
            </p>
            <p>उत्साद्यन्ते जातिधर्माः कुलधर्माश्च शाश्वताः ॥ ४३ ॥
            </p>
        </div>
    </div>
</div>
<p>By these caste-confusing misdeeds of the slayers of the family, the everlasting caste customs<sup
        id="cite_ref-p16Dharma_24-0" class="reference"><a href="#cite_note-p16Dharma-24"></a></sup> and
    family customs<sup id="cite_ref-p16Dharma_24-1" class="reference"><a href="#cite_note-p16Dharma-24"></a></sup> are
    abolished. <span><span> ॥ 43 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>उत्सन्नकुलधर्माणां मनुष्याणां जनार्दन ।
            </p>
            <p>नरके नियतं वासो भवतीत्यनुशुश्रुम ॥ ४४ ॥
            </p>
        </div>
    </div>
</div>
<p>The abode of the men whose family customs<sup id="cite_ref-p16Dharma_24-2" class="reference"><a
            href="#cite_note-p16Dharma-24"></a></sup> are extinguished, O Janârdana, is everlastingly in
    hell. Thus have we heard. <span><span> ॥ 44 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अहो बत महत्पापं कर्तुं व्यवसिता वयम् ।
            </p>
            <p>यद्राज्यसुखलोभेन हन्तुं स्वजनमुद्यताः ॥ ४५ ॥
            </p>
        </div>
    </div>
</div>
<p>Alas! in committing a great sin are we engaged, we who are endeavouring to kill our kindred from greed of the
    pleasures of kingship. <span><span> ॥ 45 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यदि मामप्रतीकारमशस्त्रं शस्त्रपाणयः ।
            </p>
            <p>धार्तराष्ट्रा रणे हन्युस्तन्मे क्षेमतरं भवेत् ॥ ४६ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="17" data-page-number="17"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/27">&#8203;</span></span>If the sons of
    Dhritarâshtra, weapon in hand, should slay me, unresisting, unarmed, in the battle, that would for me be the better.
    <span><span> ॥ 46 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>सञ्जय उवाच ।
                </p>
            </div>
            <p>एवमुक्त्वाऽर्जुनः सङ्ख्ये रथोपस्थ उपाविशत् ।
            </p>
            <p>विसृज्य सशरं चापं शोकसंविग्नमानसः ॥ ४७ ॥
            </p>
        </div>
    </div>
</div>
<div class="tiInherit" style="text-align:center;">
    <p>Sanjaya said:
    </p>
</div>
<p>Having thus spoken on the battle-field, Arjuna sank down on the seat of the chariot, casting away his bow and arrow,
    his mind overborne by grief. <span><span> ॥ 47 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div class="tiInherit" style="text-align:center;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">इति श्रीमद्भगवद्गीतासूपनिषत्सु ब्रह्मविद्यायां योगशास्त्रे
            <p>श्रीकृष्णार्जुनसंवादेऽर्जुनविषादयोगो नाम
            </p>
            <p>प्रथमोऽध्यायः ।
            </p>
        </div>
    </div>
</div>