<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>अर्जुन उवाच ।
        </p>
      </div>
      <p>किं तद्ब्रह्म किमध्यात्मं किं कर्म पुरुषोत्तम ।
      </p>
      <p>अधिभूतं च किं प्रोक्तमधिदैवं किमुच्यते ॥ १ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>Arjuna said:
  </p>
</div>
<p>What is that <span style="font-variant:small-caps">Eternal</span>,<sup id="cite_ref-1" class="reference"><a
      href="#cite_note-1"></a></sup> what <span style="font-variant:small-caps">Self</span>-knowledge,<sup
    id="cite_ref-2" class="reference"><a href="#cite_note-2"></a></sup> what Action,<sup id="cite_ref-3"
    class="reference"><a href="#cite_note-3"></a></sup> O Purushottama? And what is declared to be the
  knowledge of the Elements,<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"></a></sup> what is
  called the knowledge of the Shining Ones?<sup id="cite_ref-5" class="reference"><a
      href="#cite_note-5"></a></sup> <span><span
      > ॥ 1 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अधियज्ञः कथं कोऽत्र देहेऽस्मिन्मधुसूदन ।
      </p>
      <p>प्रयाणकाले च कथं ज्ञेयोऽसि नियतात्मभिः ॥ २ ॥
      </p>
    </div>
  </div>
</div>
<p>What is the knowledge of Sacrifice<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"></a></sup>
  in this body, and how, O, Madhusûdana? And how, at the time of forthgoing art Thou known by the <span
    style="font-variant:small-caps">Self</span>-controlled? <span><span
      > ॥ 2 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="115"
    data-page-number="115" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/125">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>अक्षरं ब्रह्म परमं स्वभावोऽध्यात्ममुच्यते ।
      </p>
      <p>भूतभावोद्भवकरो विसर्गः कर्मसंज्ञितः ॥ ३ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>The indestructible, the supreme is the <span style="font-variant:small-caps">Eternal</span>;<sup id="cite_ref-7"
    class="reference"><a href="#cite_note-7"></a></sup> His essential nature is called <span
    style="font-variant:small-caps">Self</span>-knowledge;<sup id="cite_ref-8" class="reference"><a
      href="#cite_note-8"></a></sup> the emanation that causes the birth of beings is named Action;<sup
    id="cite_ref-9" class="reference"><a href="#cite_note-9"></a></sup> <span
   ><span > ॥ 3 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अधिभूतं क्षरो भावः पुरुषश्चाधिदैवतम् ।
      </p>
      <p>अधियज्ञोऽहमेवात्र देहे देहभृतां वर ॥ ४ ॥
      </p>
    </div>
  </div>
</div>
<p>Knowledge of the Elements<sup id="cite_ref-10" class="reference"><a href="#cite_note-10"></a></sup>
  concerns My perishable nature, and knowledge of the Shining Ones<sup id="cite_ref-11" class="reference"><a
      href="#cite_note-11"></a></sup> concerns the life-giving energy<sup id="cite_ref-12"
    class="reference"><a href="#cite_note-12"></a></sup>; the knowledge of Sacrifice<sup id="cite_ref-13"
    class="reference"><a href="#cite_note-13"></a></sup> tells of Me, as wearing the body, O best of living
  beings. <span><span> ॥ 4 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="116"
    data-page-number="116" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/126">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अन्तकाले च मामेव स्मरन्मुक्त्वा कलेवरम् ।
      </p>
      <p>यः प्रयाति स मद्भावं याति नास्त्यत्र संशयः ॥ ५ ॥
      </p>
    </div>
  </div>
</div>
<p>And he who, casting off the body, goeth forth thinking upon Me only at the time of the end, he entereth into My
  being: there is no doubt of that. <span><span
      > ॥ 5 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यं यं वापि स्मरन्भावं त्यजत्यन्ते कलेवरम् ।
      </p>
      <p>तं तमेवैति कौन्तेय सदा तद्भावभावितः ॥ ६ ॥
      </p>
    </div>
  </div>
</div>
<p>Whosoever at the end abandoneth the body, thinking upon any being, to that being only he goeth, O Kaunteya, ever to
  that conformed in nature. <span><span> ॥ 6 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तस्मात्सर्वेषु कालेषु मामनुस्मर युध्य च ।
      </p>
      <p>मय्यर्पितमनोबुद्धिर्मामेवैष्यस्यसंशयम् ॥ ७ ॥
      </p>
    </div>
  </div>
</div>
<p>Therefore at all times think upon Me only and fight. With mind<sup id="cite_ref-14" class="reference"><a
      href="#cite_note-14"></a></sup> and Reason<sup id="cite_ref-15" class="reference"><a
      href="#cite_note-15"></a></sup> set on Me, without doubt thou shalt come to Me. <span
   ><span > ॥ 7 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="117"
    data-page-number="117" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/127">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अभ्यासयोगयुक्तेन चेतसा नान्यगामिना ।
      </p>
      <p>परमं पुरुषं दिव्यं याति पार्थानुचिन्तयन् ॥ ८ ॥
      </p>
    </div>
  </div>
</div>
<p>With the mind<sup id="cite_ref-16" class="reference"><a href="#cite_note-16"></a></sup> not wandering
  after aught else, harmonised by continual practice, constantly meditating, O Pârtha, one goeth to the Spirit supreme,
  divine. <span><span> ॥ 8 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>कविं पुराणमनुशासितारमणोरणीयांसमनुस्मरेद्यः ।
      </p>
      <p>सर्वस्य धातारमचिन्त्यरूपमादित्यवर्णं तमसः परस्तात् ॥ ९ ॥
      </p>
    </div>
  </div>
</div>
<p>He who thinketh upon the Ancient, the Omniscient, the All-Ruler, minuter than the minute, the supporter of all, of
  form unimaginable, refulgent as the sun beyond the darkness, <span><span
      > ॥ 9 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>प्रयाणकाले मनसाऽचलेन भक्त्या युक्तो योगबलेन चैव ।
      </p>
    </div>&#32;<span><span class="pagenum ws-pagenum" id="118" data-page-number="118"
        title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/128">&#8203;</span></span>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>भ्रुवोर्मध्ये प्राणमावेश्य सम्यक् स तं परं पुरुषमुपैति दिव्यम् ॥ १० ॥
      </p>
    </div>
  </div>
</div>
<p>In the time of forthgoing, with unshaken mind,<sup id="cite_ref-17" class="reference"><a
      href="#cite_note-17"></a></sup> fixed in devotion, by the power of yoga drawing together his
  life-breath in the centre of the two eyebrows, he goeth to this Spirit, supreme, divine. <span
   ><span > ॥ 10 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यदक्षरं वेदविदो वदन्ति विशन्ति यद्यतयो वीतरागाः ।
      </p>
      <p>यदिच्छन्तो ब्रह्मचर्यं चरन्ति तत्ते पदं सङ्ग्रहेण प्रवक्ष्ये ॥ ११ ॥
      </p>
    </div>
  </div>
</div>
<p>That which is declared indestructible by the Veda-knowers, that which the controlled and passion-free enter, that
  desiring which Brahmacharya<sup id="cite_ref-18" class="reference"><a href="#cite_note-18"></a></sup> is
  performed, that path I will declare to thee with brevity. <span><span
      > ॥ 11 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="119"
    data-page-number="119" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/129">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्वद्वाराणि संयम्य मनो हृदि निरुध्य च ।
      </p>
      <p>मूर्ध्न्याधायात्मनः प्राणमास्थितो योगधारणाम् ॥ १२ ॥
      </p>
    </div>
  </div>
</div>
<p>All the gates<sup id="cite_ref-19" class="reference"><a href="#cite_note-19"></a></sup> closed, the mind
  confined in the heart, the life-breath fixed in his own head, concentrated by yoga, <span
   ><span > ॥ 12 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ओमित्येकाक्षरं ब्रह्म व्याहरन्मामनुस्मरन् ।
      </p>
      <p>यः प्रयाति त्यजन्देहं स याति परमां गतिम् ॥ १३ ॥
      </p>
    </div>
  </div>
</div>
<p>"Aum!" the one syllabled <span style="font-variant:small-caps">Eternal</span>, reciting, thinking upon Me, he who
  goeth forth, abandoning the body, he goeth on the highest path. <span><span
      > ॥ 13 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अनन्यचेताः सततं यो मां स्मरति नित्यशः ।
      </p>
      <p>तस्याहं सुलभः पार्थ नित्ययुक्तस्य योगिनः ॥ १४ ॥
      </p>
    </div>
  </div>
</div>
<p>He who constantly thinketh upon Me, not thinking ever of another, of him I am easily reached, O Pârtha, of this
  ever-harmonised Yogî. <span><span> ॥ 14 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="120"
    data-page-number="120" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/130">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मामुपेत्य पुनर्जन्म दुःखालयमशाश्वतम् ।
      </p>
      <p>नाप्नुवन्ति महात्मानः संसिद्धिं परमां गताः ॥ १५ ॥
      </p>
    </div>
  </div>
</div>
<p>Having come to Me, these Mahâtmâs come not again to birth, the place of pain, non-eternal; they have gone to the
  highest bliss. <span><span> ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>आब्रह्मभुवनाल्लोकाः पुनरावर्तिनोऽर्जुन ।
      </p>
      <p>मामुपेत्य तु कौन्तेय पुनर्जन्म न विद्यते ॥ १६ ॥
      </p>
    </div>
  </div>
</div>
<p>The worlds, beginning with the world of Brahmâ, they come and go, O Arjuna; but he who cometh unto Me, O Kaunteya, he
  knoweth birth no more. <span><span> ॥ 16 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सहस्रयुगपर्यन्तमहर्यद्ब्रह्मणो विदुः ।
      </p>
      <p>रात्रिं युगसहस्रान्तां तेऽहोरात्रविदो जनाः ॥ १७ ॥
      </p>
    </div>
  </div>
</div>
<p>The people who know the day of Brahmâ, a thousand ages<sup id="cite_ref-20" class="reference"><a
      href="#cite_note-20"></a></sup> in duration, and the night a thousand ages in ending, they know day
  and night. <span><span> ॥ 17 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="121"
    data-page-number="121" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/131">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अव्यक्ताद्व्यक्तयः सर्वाः प्रभवन्त्यहरागमे ।
      </p>
      <p>रात्र्यागमे प्रलीयन्ते तत्रैवाव्यक्तसंज्ञके ॥ १८ ॥
      </p>
    </div>
  </div>
</div>
<p>From the unmanifested all the manifested stream forth at the coming of day; at the coming of night they dissolve,
  even in That called the unmanifested. <span><span
      > ॥ 18 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>भूतग्रामः स एवायं भूत्वा भूत्वा प्रलीयते ।
      </p>
      <p>रात्र्यागमेऽवशः पार्थ प्रभवत्यहरागमे ॥ १९ ॥
      </p>
    </div>
  </div>
</div>
<p>This multitude of beings, going forth repeatedly, is dissolved at the coming of night: by ordination, O Pârtha, it
  streams forth at the coming of day. <span><span
      > ॥ 19 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>परस्तस्मात्तु भावोऽन्योऽव्यक्तोऽव्यक्तात्सनातनः ।
      </p>
      <p>यः स सर्वेषु भूतेषु नश्यत्सु न विनश्यति ॥ २० ॥
      </p>
    </div>
  </div>
</div>
<p>Therefore verily there existeth, higher than that unmanifested, another unmanifested, eternal, which in the
  destroying of all beings, is not destroyed. ॥ 20 ॥ 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="122"
    data-page-number="122" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/132">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अव्यक्तोऽक्षर इत्युक्तस्तमाहुः परमां गतिम् ।
      </p>
      <p>यं प्राप्य न निवर्तन्ते तद्धाम परमं मम ॥ २१ ॥
      </p>
    </div>
  </div>
</div>
<p>That unmanifested, "the Indestructible," It is called; It is named the highest Path. They who reach It return not.
  That is My supreme abode. <span><span> ॥ 21 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>पुरुषः स परः पार्थ भक्त्या लभ्यस्त्वनन्यया ।
      </p>
      <p>यस्यान्तःस्थानि भूतानि येन सर्वमिदं ततम् ॥ २२ ॥
      </p>
    </div>
  </div>
</div>
<p>He, the highest Spirit,<sup id="cite_ref-21" class="reference"><a href="#cite_note-21"></a></sup> O
  Pârtha, may be reached by unswerving devotion to Him alone, in whom all beings abide, by whom all This<sup
    id="cite_ref-22" class="reference"><a href="#cite_note-22"></a></sup> is pervaded. <span
   ><span > ॥ 22 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यत्र काले त्वनावृत्तिमावृत्तिं चैव योगिनः ।
      </p>
      <p>प्रयाता यान्ति तं कालं वक्ष्यामि भरतर्षभ ॥ २३ ॥
      </p>
    </div>
  </div>
</div>
<p>That time wherein going forth Yogîs return&#32;<span><span class="pagenum ws-pagenum" id="123" data-page-number="123"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/133">&#8203;</span></span>not, and also that wherein
  going forth they return, that time shall I declare to thee, O prince of the Bhâratas. <span
   ><span > ॥ 23 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अग्निर्ज्योतिरहः शुक्लः षण्मासा उत्तरायणम् ।
      </p>
      <p>तत्र प्रयाता गच्छन्ति ब्रह्म ब्रह्मविदो जनाः ॥ २४ ॥
      </p>
    </div>
  </div>
</div>
<p>Fire, light, day-time, the bright fortnight, the six months of the northern path<sup id="cite_ref-p123path_23-0"
    class="reference"><a href="#cite_note-p123path-23"></a></sup>—then, going forth, the men who know the
  <span style="font-variant:small-caps">Eternal</span> go to the <span style="font-variant:small-caps">Eternal</span>.
  <span><span> ॥ 24 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>धूमो रात्रिस्तथा कृष्णः षण्मासा दक्षिणायनम् ।
      </p>
      <p>तत्र चान्द्रमसं ज्योतिर्योगी प्राप्य निवर्तते ॥ २५ ॥
      </p>
    </div>
  </div>
</div>
<p>Smoke, night-time, the dark fortnight also, the six months of the southern path<sup id="cite_ref-p123path_23-1"
    class="reference"><a href="#cite_note-p123path-23"></a></sup>—then the Yogî, obtaining the
  moonlight,<sup id="cite_ref-24" class="reference"><a href="#cite_note-24"></a></sup> returneth. <span
   ><span > ॥ 25 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>शुक्लकृष्णे गती ह्येते जगतः शाश्वते मते ।
      </p>
      <p>एकया यात्यनावृत्तिमन्ययाऽऽवर्तते पुनः ॥ २६ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="124" data-page-number="124"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/134">&#8203;</span></span>Light and darkness, these are
  thought to be the world's everlasting paths; by the one he goeth who returneth not, by the other he who returneth
  again. <span><span> ॥ 26 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>नैते सृती पार्थ जानन्योगी मुह्यति कश्चन ।
      </p>
      <p>तस्मात्सर्वेषु कालेषु योगयुक्तो भवार्जुन ॥ २७ ॥
      </p>
    </div>
  </div>
</div>
<p>Knowing these paths, O Pârtha, the Yogi is nowise perplexed. Therefore in all times be firm in yoga, O Arjuna. <span
   ><span > ॥ 27 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>वेदेषु यज्ञेषु तपःसु चैव दानेषु यत्पुण्यफलं प्रदिष्टम् ।
      </p>
      <p>अत्येति तत्सर्वमिदं विदित्वा योगी परं स्थानमुपैति चाद्यम् ॥ २८ ॥
      </p>
    </div>
  </div>
</div>
<p>The fruit of meritorious deeds, attached in the Vedas to sacrifices, to austerities, and also to almsgiving, the Yogî
  passeth all these by having known this, and goeth to the supreme and ancient Seat. <span
   ><span > ॥ 28 ॥</span></span> 
</p>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इति श्रीमद्भगवद्गीता॰ योगशास्त्रेऽक्षरब्रह्मयोगो नामाष्टमोऽध्यायः ।
      </p>
    </div>
  </div>
</div>