<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>अर्जुन उवाच ।
        </p>
      </div>
      <p>प्रकृतिं पुरुषं चैव क्षेत्रं क्षेत्रज्ञमेव च ।
      </p>
      <p>एतद्वेदितुमिच्छामि ज्ञानं ज्ञेयं च केशव ॥ १ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>Arjuna said:
  </p>
</div>
<p>Matter and Spirit,<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"></a></sup> even the Field
  and the Knower of the Field, wisdom and that which ought to be known, these I fain would learn, O Keshava. <span
   ><span > ॥ 1 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>इदं शरीरं कौन्तेय क्षेत्रमित्यभिधीयते ।
      </p>
      <p>एतद्यो वेत्ति तं प्राहुः क्षेत्रज्ञ इति तद्विदः ॥ २ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>This body, son of Kuntî, is called the Field; that which knoweth it is called the Knower of the Field by the Sages.
  <span><span> ॥ 2 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="187"
    data-page-number="187" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/197">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      क्षेत्रज्ञं चापि मां विद्धि सर्वक्षेत्रेषु भारत ।<p>
        क्षेत्रक्षेत्रज्ञयोर्ज्ञानं यत्तज्ज्ञानं मतं मम ॥ ३ ॥

      </p>
    </div>
  </div>
</div>
<p>Understand Me as the Knower of the Field in all Fields, O Bhârata. Wisdom as to the Field and the Knower of the
  Field, that in My opinion is the wisdom. <span><span
      > ॥ 3 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      तत्क्षेत्रं यच्च यादृक् च यद्विकारि यतश्च यत् ।<p>
        स च यो यत्प्रभावश्च तत्समासेन मे शृणु ॥ ४ ॥

      </p>
    </div>
  </div>
</div>
<p>What that Field is and of what nature, how modified, and whence it is, and what He<sup id="cite_ref-2"
    class="reference"><a href="#cite_note-2"></a></sup> is and what His powers, hear that now briefly from
  Me. <span><span> ॥ 4 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      ऋषिभिर्बहुधा गीतं छन्दोभिर्विविधैः पृथक् ।<p>
        ब्रह्मसूत्रपदैश्चैव हेतुमद्भिर्विनिश्चितैः ॥ ५ ॥

      </p>
    </div>
  </div>
</div>
<p>Rishis have sung in manifold ways, in many various chants, and in decisive Brahma-sûtra verses<sup id="cite_ref-3"
    class="reference"><a href="#cite_note-3"></a></sup> full of reasonings. <span
   ><span > ॥ 5 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="188"
    data-page-number="188" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/198">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      महाभूतान्यहङ्कारो बुद्धिरव्यक्तमेव च ।<p>
        इन्द्रियाणि दशैकं च पञ्च चेन्द्रियगोचराः ॥ ६ ॥

      </p>
    </div>
  </div>
</div>
<p>The great Elements, Individuality<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"></a></sup>,
  Reason<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"></a></sup>, and also the unmanifested,
  the ten senses and the one, and the five pastures of the senses<sup id="cite_ref-6" class="reference"><a
      href="#cite_note-6"></a></sup>; <span><span
      > ॥ 6 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      इच्छा द्वेषः सुखं दुःखं सङ्घातश्चेतना धृतिः ।<p>
        एतत्क्षेत्रं समासेन सविकारमुदाहृतम् ॥ ७ ॥

      </p>
    </div>
  </div>
</div>
<p>Desire, aversion, pleasure, pain, combination<sup id="cite_ref-7" class="reference"><a
      href="#cite_note-7"></a></sup>, intelligence, firmness; these, briefly described, constitute the Field
  and its modifications. <span><span> ॥ 7 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      अमानित्वमदम्भित्वमहिंसा क्षान्तिरार्जवम् ।<p>
        आचार्योपासनं शौचं स्थैर्यमात्मविनिग्रहः ॥ ८ ॥

      </p>
    </div>
  </div>
</div>
<p>Humility, unpretentiousness, harmlessness,&#32;<span><span class="pagenum ws-pagenum" id="189" data-page-number="189"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/199">&#8203;</span></span>forgiveness, rectitude,
  service of the teacher, purity, steadfastness, self-control. <span><span
      > ॥ 8 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      इन्द्रियार्थेषु वैराग्यमनहङ्कार एव च ।<p>
        जन्ममृत्युजराव्याधिदुःखदोषानुदर्शनम् ॥ ९ ॥

      </p>
    </div>
  </div>
</div>
<p>Dispassion towards the objects of the senses, and also absence of egoism, insight into the pain and evil of birth,
  death, old age and sickness, <span><span
      > ॥ 9 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      असक्तिरनभिष्वङ्गः पुत्रदारगृहादिषु ।<p>
        नित्यं च समचित्तत्वमिष्टानिष्टोपपत्तिषु ॥ १० ॥

      </p>
    </div>
  </div>
</div>
<p>Unattachment, absence of self-identification with son, wife or home, and constant balance of mind in wished-for and
  unwished-for events, <span><span> ॥ 10 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      मयि चानन्ययोगेन भक्तिरव्यभिचारिणी ।<p>
        विविक्तदेशसेवित्वमरतिर्जनसंसदि ॥ ११ ॥

      </p>
    </div>
  </div>
</div>
<p>Unflinching devotion to Me by yoga, without&#32;<span><span class="pagenum ws-pagenum" id="190"
      data-page-number="190" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/200">&#8203;</span></span>other
  objects, resort to sequestered places, absence of enjoyment in the company of men, <span
   ><span > ॥ 11 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      अध्यात्मज्ञाननित्यत्वं तत्त्वज्ञानार्थदर्शनम् ।<p>
        एतज्ज्ञानमिति प्रोक्तमज्ञानं यदतोऽन्यथा ॥ १२ ॥

      </p>
    </div>
  </div>
</div>
<p>Constancy in the wisdom of the Self,<sup id="cite_ref-8" class="reference"><a
      href="#cite_note-8"></a></sup> understanding of the object of essential wisdom; that is declared to be
  the Wisdom; all against it is ignorance. <span><span
      > ॥ 12 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      ज्ञेयं यत्तत्प्रवक्ष्यामि यज्ज्ञात्वाऽमृतमश्नुते ।<p>
        अनादिमत्परं ब्रह्म न सत्तन्नासदुच्यते ॥ १३ ॥

      </p>
    </div>
  </div>
</div>
<p>I will declare that which ought to be known, that which being known immortality is enjoyed—the beginningless supreme
  <span style="font-variant:small-caps">Eternal</span>, called neither being nor non-being. <span
   ><span > ॥ 13 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      सर्वतः पाणिपादं तत्सर्वतोऽक्षिशिरोमुखम् ।<p>
        सर्वतः श्रुतिमल्लोके सर्वमावृत्य तिष्ठति ॥ १४ ॥

      </p>
    </div>
  </div>
</div>
<p>Everywhere <span style="font-variant:small-caps">That</span> hath hands and feet,&#32;<span><span
      class="pagenum ws-pagenum" id="191" data-page-number="191"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/201">&#8203;</span></span>everywhere eyes, heads, and
  mouths; all-hearing, He dwelleth in the world, enveloping all, <span><span
      > ॥ 14 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      सर्वेन्द्रियगुणाभासं सर्वेन्द्रियविवर्जितम् ।<p>
        असक्तं सर्वभृच्चैव निर्गुणं गुणभोक्तृ च ॥ १५ ॥

      </p>
    </div>
  </div>
</div>
<p>Shining with all sense-faculties without any senses; unattached supporting everything and free from qualities<sup
    id="cite_ref-p191Gunas_9-0" class="reference"><a href="#cite_note-p191Gunas-9"></a></sup> enjoying
  qualities;<sup id="cite_ref-p191Gunas_9-1" class="reference"><a href="#cite_note-p191Gunas-9"></a></sup>
  <span><span> ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      बहिरन्तश्च भूतानामचरं चरमेव च ।<p>
        सूक्ष्मत्वात्तदविज्ञेयं दूरस्थं चान्तिके च तत् ॥ १६ ॥

      </p>
    </div>
  </div>
</div>
<p>Without and within all beings, immovable and also movable; by reason of His subtlety imperceptible; at hand and far
  away is <span style="font-variant:small-caps">That</span>. <span><span
      > ॥ 16 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      अविभक्तं च भूतेषु विभक्तमिव च स्थितम् ।<p>
        भूतभर्तृ च तज्ज्ञेयं ग्रसिष्णु प्रभविष्णु च ॥ १७ ॥

      </p>
    </div>
  </div>
</div>
<p>Not divided amid beings, and yet seated&#32;<span><span class="pagenum ws-pagenum" id="192" data-page-number="192"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/202">&#8203;</span></span>distributively; <span
    style="font-variant:small-caps">that</span> is to be known as the supporter of beings; He devours and He generates.
  <span><span> ॥ 17 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      ज्योतिषामपि तज्ज्योतिस्तमसः परमुच्यते ।<p>
        ज्ञानं ज्ञेयं ज्ञानगम्यं हृदि सर्वस्य धिष्ठितम् ॥ १८ ॥

      </p>
    </div>
  </div>
</div>
<p><span style="font-variant:small-caps">That</span>, the Light of all lights, is said to be beyond darkness; Wisdom,
  the Object of Wisdom, by Wisdom to be reached, seated in the hearts of all. <span
   ><span > ॥ 18 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      इति क्षेत्रं तथा ज्ञानं ज्ञेयं चोक्तं समासतः ।<p>
        मद्भक्त एतद्विज्ञाय मद्भावायोपपद्यते ॥ १९ ॥

      </p>
    </div>
  </div>
</div>
<p>Thus the Field, Wisdom and the Object of Wisdom, have been briefly told. My devotee, thus knowing, enters into My
  Being. <span><span> ॥ 19 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      प्रकृतिं पुरुषं चैव विद्ध्यनादी उभावपि ।<p>
        विकारांश्च गुणांश्चैव विद्धि प्रकृतिसंभवान् ॥ २० ॥

      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="193" data-page-number="193"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/203">&#8203;</span></span>Know thou that Matter<sup
    id="cite_ref-p193Prakriti_10-0" class="reference"><a href="#cite_note-p193Prakriti-10"></a></sup> and
  Spirit<sup id="cite_ref-p193Purusha_11-0" class="reference"><a href="#cite_note-p193Purusha-11"></a></sup>
  are both without beginning; and know thou also that modifications and qualities<sup id="cite_ref-p193Gunas_12-0"
    class="reference"><a href="#cite_note-p193Gunas-12"></a></sup> are all Matter<sup
    id="cite_ref-p193Prakriti_10-1" class="reference"><a href="#cite_note-p193Prakriti-10"></a></sup>-born.
  <span><span> ॥ 20 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      कार्यकारणकर्तृत्वे हेतुः प्रकृतिरुच्यते ।<p>
        पुरुषः सुखदुःखानां भोक्तृत्वे हेतुरुच्यते ॥ २१ ॥

      </p>
    </div>
  </div>
</div>
<p><br />
  Matter<sup id="cite_ref-p193Prakriti_10-2" class="reference"><a
      href="#cite_note-p193Prakriti-10"></a></sup> is called the cause of the generation of causes and
  effects; Spirit<sup id="cite_ref-p193Purusha_11-1" class="reference"><a
      href="#cite_note-p193Purusha-11"></a></sup> is called the cause of the enjoyment of pleasure and pain.
  <span><span> ॥ 21 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      पुरुषः प्रकृतिस्थो हि भुङ्‌क्ते प्रकृतिजान्गुणान् ।<p>
        कारणं गुणसङ्गोऽस्य सदसद्योनिजन्मसु ॥ २२ ॥

      </p>
    </div>
  </div>
</div>
<p><br />
  Spirit<sup id="cite_ref-p193Purusha_11-2" class="reference"><a href="#cite_note-p193Purusha-11"></a></sup>
  seated in Matter<sup id="cite_ref-p193Prakriti_10-3" class="reference"><a
      href="#cite_note-p193Prakriti-10"></a></sup> useth the qualities born of Matter<sup
    id="cite_ref-p193Prakriti_10-4" class="reference"><a href="#cite_note-p193Prakriti-10"></a></sup>;
  attachment to the qualities<sup id="cite_ref-p193Gunas_12-1" class="reference"><a
      href="#cite_note-p193Gunas-12"></a></sup> is the cause of his births in good and evil wombs. <span
   ><span > ॥ 22 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      उपद्रष्टाऽनुमन्ता च भर्ता भोक्ता महेश्वरः ।<p>
        परमात्मेति चाप्युक्तो देहेऽस्मिन्पुरुषः परः ॥ २३ ॥

      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="194" data-page-number="194"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/204">&#8203;</span></span>Supervisor and permitter,
  supporter, enjoyer, the great Lord, and also the supreme <span style="font-variant:small-caps">Self</span>; thus is
  styled in this body the supreme Spirit. ॥ 23 ॥
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      य एवं वेत्ति पुरुषं प्रकृतिं च गुणैः सह ।<p>
        सर्वथा वर्तमानोऽपि न स भूयोऽभिजायते ॥ २४ ॥

      </p>
    </div>
  </div>
</div>
<p>He who thus knoweth Spirit<sup id="cite_ref-p193Purusha_11-4" class="reference"><a
      href="#cite_note-p193Purusha-11"></a></sup> and Matter<sup id="cite_ref-p193Prakriti_10-6"
    class="reference"><a href="#cite_note-p193Prakriti-10"></a></sup> with its qualities,<sup
    id="cite_ref-p193Gunas_12-2" class="reference"><a href="#cite_note-p193Gunas-12"></a></sup> in
  whatsoever condition he may be, he shall not be born again. <span><span
      > ॥ 24 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      ध्यानेनात्मनि पश्यन्ति केचिदात्मानमात्मना ।<p>
        अन्ये साङ्ख्येन योगेन कर्मयोगेन चापरे ॥ २५ ॥

      </p>
    </div>
  </div>
</div>
<p>Some by meditation behold the <span style="font-variant:small-caps">Self</span> in the self by the <span
    style="font-variant:small-caps">Self</span>; others by the Sânkhya Yoga, and others by the Yoga of Action; <span
   ><span > ॥ 25 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      अन्ये त्वेवमजानन्तः श्रुत्वाऽन्येभ्य उपासते ।<p>
        तेऽपि चातितरन्त्येव मृत्युं श्रुतिपरायणाः ॥ २६ ॥

      </p>
    </div>
  </div>
</div>
<p>Others also, ignorant of this, having heard of it&#32;<span><span class="pagenum ws-pagenum" id="195"
      data-page-number="195" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/205">&#8203;</span></span>from
  others, worship; and these also cross beyond death, adhering to what they had heard. <span
   ><span > ॥ 26 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      यावत्सञ्जायते किञ्चित्सत्त्वं स्थावरजङ्गमम् ।<p>
        क्षेत्रक्षेत्रज्ञसंयोगात्तद्विद्धि भरतर्षभ ॥ २७ ॥

      </p>
    </div>
  </div>
</div>
<p>Whatsoever creature is born immobile or mobile, know thou, O best of the Bhâratas, that it is from the union between
  the Field and the Knower of the Field. <span><span
      > ॥ 27 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      समं सर्वेषु भूतेषु तिष्ठन्तं परमेश्वरम् ।<p>
        विनश्यत्स्वविनश्यन्तं यः पश्यति स पश्यति ॥ २८ ॥

      </p>
    </div>
  </div>
</div>
<p>Seated equally in all beings, the supreme Lord, unperishing within the perishing—he who thus seeth, he seeth. <span
   ><span > ॥ 28 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      समं पश्यन्हि सर्वत्र समवस्थितमीश्वरम् ।<p>
        न हिनस्त्यात्मनाऽऽत्मानं ततो याति परां गतिम् ॥ २९ ॥

      </p>
    </div>
  </div>
</div>
<p>Seeing indeed everywhere the same Lord equally dwelling, he doth not destroy the <span
    style="font-variant:small-caps">Self</span>, and thus treads the highest Path. <span
   ><span > ॥ 29 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="196"
    data-page-number="196" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/206">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      प्रकृत्यैव च कर्माणि क्रियमाणानि सर्वशः ।<p>
        यः पश्यति तथाऽऽत्मानमकर्तारं स पश्यति ॥ ३० ॥

      </p>
    </div>
  </div>
</div>
<p>He who seeth that Matter<sup id="cite_ref-p193Prakriti_10-7" class="reference"><a
      href="#cite_note-p193Prakriti-10"></a></sup> verily performeth all actions, and that the <span
    style="font-variant:small-caps">Self</span> is actionless, he seeth. <span
   ><span > ॥ 30 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      यदा भूतपृथग्भावमेकस्थमनुपश्यति ।<p>
        तत एव च विस्तारं ब्रह्म संपद्यते तदा ॥ ३१ ॥

      </p>
    </div>
  </div>
</div>
<p>When he perceiveth the diversified existence of beings as rooted in One, and spreading forth from it, then he
  reacheth the <span style="font-variant:small-caps">Eternal</span> <span><span
      > ॥ 31 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      अनादित्वान्निर्गुणत्वात्परमात्माऽयमव्ययः ।<p>
        शरीरस्थोऽपि कौन्तेय न करोति न लिप्यते ॥ ३२ ॥

      </p>
    </div>
  </div>
</div>
<p>Being beginningless and without qualities<sup id="cite_ref-p193Gunas_12-3" class="reference"><a
      href="#cite_note-p193Gunas-12"></a></sup>, the imperishable supreme <span
    style="font-variant:small-caps">Self</span>, though seated in the body, O Kaunteya, worketh not nor is affected.
  <span><span> ॥ 32 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="197"
    data-page-number="197" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/207">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      यथा सर्वगतं सौक्ष्म्यादाकाशं नोपलिप्यते ।<p>
      सर्वत्रावस्थितो देहे तथाऽऽमा नोपलिप्यते ॥ ३३ ॥
      </p>
    </div>
  </div>
</div>
<p>As the omnipresent ether is not affected, by reason of its subtlety, so seated everywhere in the body the <span
    style="font-variant:small-caps">Self</span> is not affected. <span><span
      > ॥ 33 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      यथा प्रकाशयत्येकः कृत्स्नं लोकमिमं रविः ।<p>
        क्षेत्रं क्षेत्री तथा कृत्स्नं प्रकाशयति भारत ॥ ३४ ॥

      </p>
    </div>
  </div>
</div>
<p>As the one sun illumineth the whole earth, so the Lord of the Field illumineth the whole Field, O Bhârata. <span
   ><span > ॥ 34 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      क्षेत्रक्षेत्रज्ञयोरेवमन्तरं ज्ञानचक्षुषा ।<p>
        भूतप्रकृतिमोक्षं च ये विदुर्यान्ति ते परम् ॥ ३५ ॥

      </p>
    </div>
  </div>
</div>
<p>They who by the eyes of Wisdom perceive this difference between the Field and the Knower of the Field, and the
  liberation of beings from Matter<sup id="cite_ref-13" class="reference"><a href="#cite_note-13"></a></sup>
  they go to the Supreme. <span><span> ॥ 35 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="198"
    data-page-number="198" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/208">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इति श्रीमद्भगवद्गीता॰ क्षेत्रक्षेत्रज्ञविभागयोगो नाम त्रयोदशोऽध्यायः ।
      </p>
    </div>
  </div>
</div>