<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>अर्जुन उवाच ।
        </p>
      </div>
      <p>एवं सततयुक्ता ये भक्तास्त्वां पर्युपासते ।
      </p>
      <p>ये चाप्यक्षरमव्यक्तं तेषां के योगवित्तमाः ॥ १ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>Arjuna said:
  </p>
</div>
<p>Those devotees who ever harmonised worship Thee, and those also who worship the Indestructible, the Unmanifested,
  whether of these is
  the more learned in yoga? <span><span> ॥ 1 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>मय्यावेश्य मनो ये मां नित्ययुक्ता उपासते ।
      </p>
      <p>श्रद्धया परयोपेतास्ते मे युक्ततमा मताः ॥ २ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>They who with mind<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"></a></sup> fixed on Me
  ever harmonised worship Me, with faith supreme endowed, these, in My opinion, are best in yoga. <span
   ><span > ॥ 2 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="179"
    data-page-number="179" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/189">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ये त्वक्षरमनिर्देश्यमव्यक्तं पर्युपासते ।
      </p>
      <p>सर्वत्रगमचिन्त्यं च कूटस्थमचलं ध्रुवम् ॥ ३ ॥
      </p>
    </div>
  </div>
</div>
<p>They who worship the Indestructible, the Ineffable, the unmanifested, Omnipresent, and Unthinkable, the Unchanging,
  Immutable, Eternal, <span><span> ॥ 3 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>संनियम्येन्द्रियग्रामं सर्वत्र समबुद्धयः ।
      </p>
      <p>ते प्राप्नुवन्ति मामेव सर्वभूतहिते रताः ॥ ४ ॥
      </p>
    </div>
  </div>
</div>
<p>Restraining and subduing the senses, regarding everything equally, in the welfare of all rejoicing, these also come
  unto Me. <span><span> ॥ 4 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>क्लेशोऽधिकतरस्तेषामव्यक्तासक्तचेतसाम् ।
      </p>
      <p>अव्यक्ता हि गतिर्दुःखं देहवद्भिरवाप्यते ॥ ५ ॥
      </p>
    </div>
  </div>
</div>
<p>The difficulty of those whose minds are set on the Unmanifested is greater; for the path of the Unmanifested is hard
  for the embodied to reach. <span><span> ॥ 5 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="180"
    data-page-number="180" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/190">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ये तु सर्वाणि कर्माणि मयि संन्यस्य मत्पराः ।
      </p>
      <p>अनन्येनैव योगेन मां ध्यायन्त उपासते ॥ ६ ॥
      </p>
    </div>
  </div>
</div>
<p>Those verily who, renouncing all actions in Me and intent on Me, worship meditating on Me, with whole-hearted yoga,
  <span><span> ॥ 6 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तेषामहं समुद्धर्ता मृत्युसंसारसागरात् ।
      </p>
      <p>भवामि न चिरात्पार्थ मय्यावेशितचेतसाम् ॥ ७ ॥
      </p>
    </div>
  </div>
</div>
<p>These I speedily lift up from the ocean of death and existence, O Pârtha, their minds<sup id="cite_ref-2"
    class="reference"><a href="#cite_note-2"></a></sup> being fixed on Me. <span
   ><span > ॥ 7 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मय्येव मन आधत्स्व मयि बुद्धिं निवेशय ।
      </p>
      <p>निवसिष्यसि मय्येव अत ऊर्ध्वं न संशयः ॥ ८ ॥
      </p>
    </div>
  </div>
</div>
<p>Place thy mind<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"></a></sup> in me, into Me let
  thy Reason<sup id="cite_ref-4" class="reference"><a href="#cite_note-4"></a></sup> enter; then without
  doubt thou shalt abide in Me hereafter. <span><span
      > ॥ 8 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अथ चित्तं समाधातुं न शक्नोषि मयि स्थिरम् ।
      </p>
      <p>अभ्यासयोगेन ततो मामिच्छाप्तुं धनञ्जय ॥ ९ ॥
      </p>
    </div>
  </div>
</div>
<p>And if thou art not able firmly to fix thy mind<sup id="cite_ref-5" class="reference"><a
      href="#cite_note-5"></a></sup>&#32;<span><span class="pagenum ws-pagenum" id="181"
      data-page-number="181" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/191">&#8203;</span></span>on Me,
  then by the yoga of practice seek to reach Me, O Dhananjaya. <span><span
      > ॥ 9 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अभ्यासेऽप्यसमर्थोऽसि मत्कर्मपरमो भव ।
      </p>
      <p>मदर्थमपि कर्माणि कुर्वन्सिद्धिमवाप्स्यसि ॥ १० ॥
      </p>
    </div>
  </div>
</div>
<p>If also thou art not equal to constant practice, be intent on My service; performing actions for My sake, thou shalt
  attain perfection. <span><span> ॥ 10 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अथैतदप्यशक्तोऽसि कर्तुं मद्योगमाश्रितः ।
      </p>
      <p>सर्वकर्मफलत्यागं ततः कुरु यतात्मवान् ॥ ११ ॥
      </p>
    </div>
  </div>
</div>
<p>If even to do this thou hast not strength, then, taking refuge in union with Me, renounce all fruit of action with
  the self controlled. <span><span> ॥ 11 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>श्रेयो हि ज्ञानमभ्यासाज्ज्ञानाद्ध्यानं विशिष्यते ।
      </p>
      <p>ध्यानात्कर्मफलत्यागस्त्यागाच्छान्तिरनन्तरम् ॥ १२ ॥
      </p>
    </div>
  </div>
</div>
<p>Better indeed is wisdom than constant-practice; than wisdom, meditation is better;&#32;<span><span
      class="pagenum ws-pagenum" id="182" data-page-number="182"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/192">&#8203;</span></span>than meditation, renunciation
  of the fruit of action; on renunciation follows peace. <span><span
      > ॥ 12 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अद्वेष्टा सर्वभूतानां मैत्रः करुण एव च ।
      </p>
      <p>निर्ममो निरहङ्कारः समदुःखसुखः क्षमी ॥ १३ ॥
      </p>
    </div>
  </div>
</div>
<p>He who beareth no ill-will to any being, friendly and compassionate, without attachment and egoism, balanced in
  pleasure and pain, and forgiving, <span><span
      > ॥ 13 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सन्तुष्टः सततं योगी यतात्मा दृढनिश्चयः ।
      </p>
      <p>मय्यर्पितमनोबुद्धिर्यो मे भक्तः स मे प्रियः ॥ १४ ॥
      </p>
    </div>
  </div>
</div>
<p>Ever content, harmonious, with the self-controlled, resolute, with mind<sup id="cite_ref-6" class="reference"><a
      href="#cite_note-6"></a></sup> and Reason<sup id="cite_ref-7" class="reference"><a
      href="#cite_note-7"></a></sup> dedicated to Me, he, My devotee, is dear to Me. <span
   ><span > ॥ 14 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यस्मान्नोद्विजते लोको लोकान्नोद्विजते च यः ।
      </p>
      <p>हर्षामर्षभयोद्वेगैर्मुक्तो यः स च मे प्रियः ॥ १५ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="183" data-page-number="183"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/193">&#8203;</span></span>He from whom the world doth
  not shrink away, who doth not shrink away from the world, freed from the anxieties of joy, anger, and fear, he is dear
  to me. <span><span> ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अनपेक्षः शुचिर्दक्ष उदासीनो गतव्यथः ।
      </p>
      <p>सर्वारम्भपरित्यागी यो मद्भक्तः स मे प्रियः ॥ १६ ॥
      </p>
    </div>
  </div>
</div>
<p>He who wants nothing, is pure, expert, passionless, untroubled, renouncing every undertaking, he, My devotee, is dear
  to Me. <span><span> ॥ 16 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यो न हृष्यति न द्वेष्टि न शोचति न काङ्क्षति ।
      </p>
      <p>शुभाशुभपरित्यागी भक्तिमान्यः स मे प्रियः ॥ १७ ॥
      </p>
    </div>
  </div>
</div>
<p>He who neither loveth nor hateth, nor grieveth, nor desireth, renouncing good and evil, full of devotion, he is dear
  to Me. <span><span> ॥ 17 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>समः शत्रौ च मित्रे च तथा मानपमानयोः ।
      </p>
      <p>शीतोष्णसुखदुःखेषु समः सङ्गविवर्जितः ॥ १८ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="184" data-page-number="184"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/194">&#8203;</span></span>Alike to foe and friend, and
  also in fame and ignominy, alike in cold and heat, pleasures and pains, destitute of attachment, <span
   ><span > ॥ 18 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तुल्यनिन्दास्तुतिर्मौनी सन्तुष्टो येनकेनचित् ।
      </p>
      <p>अनिकेतः स्थिरमतिर्भक्तिमान्मे प्रियो नरः ॥ १९ ॥
      </p>
    </div>
  </div>
</div>
<p>Taking equally praise and reproach, silent, wholly content with what cometh, homeless, firm in mind, full of
  devotion, that man is dear to Me. <span><span
      > ॥ 19 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ये तु धर्म्यामृतमिदं यथोक्तं पर्युपासते ।
      </p>
      <p>श्रद्दधाना मत्परमा भक्तास्तेऽतीव मे प्रियाः ॥ २० ॥
      </p>
    </div>
  </div>
</div>
<p>They verily who partake of this life-giving wisdom<sup id="cite_ref-8" class="reference"><a
      href="#cite_note-8"></a></sup> as taught herein, endued with faith, I their supreme Object, devotees,
  they are surpassingly dear to Me. <span><span
      > ॥ 20 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="185"
    data-page-number="185" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/195">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इति श्रीमद्भगवद्गीता॰ भक्तियोगो नाम द्वादशोऽध्यायः ।
      </p>
    </div>
  </div>
</div>
