<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>सञ्जय उवाच ।
                </p>
            </div>
            <p>तं तथा कृपयाऽऽविष्टमश्रुपूर्णाकुलेक्षणम् ।
            </p>
            <p>विषीदन्तमिदं वाक्यमुवाच मधुसूदनः ॥ १ ॥
            </p>
        </div>
    </div>
</div>
<div class="tiInherit" style="text-align:center;">
    <p>Sanjaya said:
    </p>
</div>
<p>To him thus with pity overcome, with smarting brimming eyes, despondent, Madhusûdana spake these words: <span><span>
            ॥ 1 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>श्रीभगवानुवाच ।
                </p>
            </div>
            <p>कुतस्त्वा कश्मलमिदं विषमे समुपस्थितम् ।
            </p>
            <p>अनार्यजुष्टमस्वर्ग्यमकीर्तिकरमर्जुन ॥ २ ॥
            </p>
        </div>
    </div>
</div>
<div class="tiInherit" style="text-align:center;">
    <p>The Blessed Lord said:
    </p>
</div>
<p>Whence hath this dejection befallen thee in this perilous strait, ignoble<sup id="cite_ref-1" class="reference"><a
            href="#cite_note-1"></a></sup>, heaven-closing<sup id="cite_ref-2" class="reference"><a
            href="#cite_note-2"></a></sup>, infamous, O Arjuna? <span><span> ॥ 2 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="19"
        data-page-number="19" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/29">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>क्लैव्यं मा स्म गमः पार्थ नैतत्त्वय्युपपद्यते ।
            </p>
            <p>क्षुद्रं हृदयदौर्बल्यं त्यक्त्वोत्तिष्ट परन्तप ॥ ३ ॥
            </p>
        </div>
    </div>
</div>
<p>Yield not to impotence, O Partha! it doth not befit thee. Shake off this paltry faint-heartedness! Stand up,
    Parantapa!<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"></a></sup> <span><span> ॥ 3 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>अर्जुन उवाच ।
                </p>
            </div>
            <p>कथं भीष्ममहं सङ्ख्ये द्रोणं च मधुसूदन ।
            </p>
            <p>इषुभिः प्रतियोत्स्यामि पूजार्हावरिसूदन ॥ ४ ॥
            </p>
        </div>
    </div>
</div>
<div class="tiInherit" style="text-align:center;">
    <p>Arjuna said:
    </p>
</div>
<p>How, O Madhusûdana, shall I attack Bhîshma and Drona with arrows in battle, they who are worthy of reverence, O
    slayer of foes? <span><span> ॥ 4 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>गुरूनहत्वा हि महानुभावान् श्रेयो भोक्तुं भैक्ष्यमपीह लोके ।
            </p>
            <p>हत्वाऽर्थकामांस्तु गुरूनिहैव भुञ्जीय भोगान्रुधिरप्रदिग्धान् ॥ ५ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="20" data-page-number="20"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/30">&#8203;</span></span>Better in this world to
    eat even the beggar's crust than to slay these most noble Gurus. Slaying these Gurus, our well-wishers,<sup
        id="cite_ref-4" class="reference"><a href="#cite_note-4"></a></sup> I should taste of
    blood-besprinkled feasts. <span><span> ॥ 5 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>न चैतद्विद्मः कतरन्नो गरीयो यद्वा जयेम यदि वा नो जयेयुः ।
            </p>
            <p>यानेव हत्वा न जिजीविषाम: तेऽवस्थिताः प्रमुखे धार्तराष्ट्राः ॥ ६ ॥
            </p>
        </div>
    </div>
</div>
<p>Nor know I which for us be the better, that we conquer them or they conquer us—these, whom having slain we should not
    care to live, even these arrayed against us, the sons of Dhritarâshtra. <span><span> ॥ 6 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>कार्पण्यदोषोपहतस्वभावः पृच्छामि त्वां धर्मसम्मूढचेताः ।
            </p>
            <p>यच्छ्रेयः स्यान्निश्चितं ब्रूहि तन्मे शिष्यस्तेऽहं शाधि मां त्वां प्रपन्नम् ॥ ७ ॥
            </p>
        </div>
    </div>
</div>
<p>My heart is weighed down with the vice of faintness; my mind is confused as to duty.<sup id="cite_ref-5"
        class="reference"><a href="#cite_note-5"></a></sup> I ask thee which may be the better—that tell me
    decisively. I am thy disciple, suppliant to Thee; teach me. <span><span> ॥ 7 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>न हि प्रपश्यामि ममापनुद्याद्यच्छोकमुच्छोषणमिन्द्रियाणाम् ।
            </p>
            <p>अवाप्य भूमावसपत्नमृद्धं राज्यं सुराणामपि चाधिपत्यम् ॥ ८ ॥
            </p>
        </div>
    </div>
</div>
<p>For I see not that it would drive away this anguish that withers up my senses, if I should attain unrivalled monarchy
    on earth, or even the sovereignty of the Shining Ones. <span><span> ॥ 8 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="22"
        data-page-number="22" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/32">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>सञ्जय उवाच ।
                </p>
            </div>
            <p>एवमुक्त्वा हृषीकेशं गुडाकेशः परन्तपः ।
            </p>
            <p>न योत्स्य इति गोविन्दमुक्त्वा तूष्णीं बभूव ह ॥ ९ ॥
            </p>
        </div>
    </div>
</div>
<div class="tiInherit" style="text-align:center;">
    <p>Sanjaya said:
    </p>
</div>
<p>Gudâkesha, conqueror of his foes, having thus addressed Hrishîkesha and said to Govinda, "I will not fight!", became
    silent. <span><span> ॥ 9 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>तमुवाच हृषीकेशः प्रहसन्निव भारत ।
            </p>
            <p>सेनयोरुभयोर्मध्ये विषीदन्तमिदं वचः ॥ १० ॥
            </p>
        </div>
    </div>
</div>
<p>Then Hrishîkesha, smiling, as it were, O Bhârata, spake these words to him, despondent, in the midst of the two
    armies: <span><span> ॥ 10 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>श्रीभगवानुवाच ।
                </p>
            </div>
            <p>अशोच्यानन्वशोचस्त्वं प्रज्ञावादांश्च भाषसे ।
            </p>
            <p>गतासूनगतासूंश्च नानुशोचन्ति पण्डिताः ॥ ११ ॥
            </p>
        </div>
    </div>
</div>
<div class="tiInherit" style="text-align:center;">
    <p>The Blessed Lord said:
    </p>
</div>
<p>Thou grievest for those that should not be griev<span><span class="pagenum ws-pagenum" id="23" data-page-number="23"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/33">&#8203;</span></span>ed for, yet speakest
    words of wisdom.<sup id="cite_ref-6" class="reference"><a href="#cite_note-6"></a></sup> The wise grieve
    neither for the living nor for the dead. <span><span> ॥ 11 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>न त्वेवाहं जातु नासं न त्वं नेमे जनाधिपाः ।
            </p>
            <p>न चैव न भविष्यामः सर्वे वयमतः परम् ॥ १२ ॥
            </p>
        </div>
    </div>
</div>
<p>Nor at any time verily was I not, nor thou, nor these princes of men, nor verily shall we ever cease to be,
    hereafter. <span><span> ॥ 12 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>देहिनोऽस्मिन्यथा देहे कौमारं यौवनं जरा ।
            </p>
            <p>तथा देहान्तरप्राप्तिर्धीरस्तत्र न मुह्यति ॥ १३ ॥
            </p>
        </div>
    </div>
</div>
<p>As the dweller in the body experienceth in the body childhood, youth, old age, so passeth he on to another body; the
    steadfast one grieveth not thereat. <span><span> ॥ 13 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>मात्रास्पर्शास्तु कौन्तेय शीतोष्णसुखदुःखदाः ।
            </p>
            <p>आगमापायिनोऽनित्यास्तांस्तितिक्षस्व भारत ॥ १४ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="24" data-page-number="24"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/34">&#8203;</span></span>The contacts of matter, O
    son of Kuntî, giving cold and heat, pleasure and pain, they come and go, impermanent; endure them bravely, O
    Bhârata. <span><span> ॥ 14 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यं हि न व्यथयन्त्येते पुरुषं पुरुषर्षभ ।
            </p>
            <p>समदुःखसुखं धीरं सोऽमृतत्वाय कल्पते ॥ १५ ॥
            </p>
        </div>
    </div>
</div>
<p>The man whom these torment not, O chief of men, balanced in pain and pleasure, steadfast, he is fitted for
    immortality. <span><span> ॥ 15 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>नासतो विद्यते भावो नाभावो विद्यते सतः ।
            </p>
            <p>उभयोरपि दृष्टोऽन्तस्त्वनयोस्तत्त्वदर्शिभिः ॥ १६ ॥
            </p>
        </div>
    </div>
</div>
<p>The unreal hath no being; the real never ceaseth to be; the truth about both hath been perceived by the seers of the
    essence of things.<sup id="cite_ref-7" class="reference"><a href="#cite_note-7"></a></sup> <span><span> ॥ 16
            ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अविनाशि तु तद्विद्धि येन सर्वमिदं ततम् ।
            </p>
            <p>विनाशमव्ययस्यास्य न कश्चित्कर्तुमर्हति ॥ १७ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="25" data-page-number="25"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/35">&#8203;</span></span>Know <span
        style="font-variant:small-caps">That</span> to be indestructible by whom all this is pervaded. Nor can any work
    the destruction of that imperishable One. <span><span> ॥ 17 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अन्तवन्त इमे देहा नित्यस्योक्ताः शरीरिणः ।
            </p>
            <p>अनाशिनोऽप्रमेयस्य तस्माद्युध्यस्व भारत ॥ १८ ॥
            </p>
        </div>
    </div>
</div>
<p>These bodies of the embodied One, who is eternal, indestructible and immeasurable, are known as finite. Therefore
    fight, O Bhârata. <span><span> ॥ 18 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>य एनं वेत्ति हन्तारं यश्चैनं मन्यते हतम् ।
            </p>
            <p>उभौ तौ न विजानीतो नायं हन्ति न हन्यते ॥ १९ ॥
            </p>
        </div>
    </div>
</div>
<p>He who regardeth this<sup id="cite_ref-8" class="reference"><a href="#cite_note-8"></a></sup> as a slayer,
    and he who thinketh he is slain, both of them are ignorant. He slayeth not, nor is he slain. <span><span> ॥ 19
            ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>न जायते म्रियते वा कदाचिन्नायं भूत्वा भविता वा न भूयः ।
            </p>
            <p>अजो नित्यः शाश्वतोऽयं पुराणो न हन्यते हन्यमाने शरीरे ॥ २० ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="26" data-page-number="26"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/36">&#8203;</span></span>He is not born, nor doth
    he die; nor having been, ceaseth he any more to be; unborn, perpetual, eternal and ancient, he is not slain when the
    body is slaughtered. <span><span> ॥ 20 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>वेदाऽविनाशिनं नित्यं य एनमजमव्ययम् ।
            </p>
            <p>कथं स पुरुषः पार्थ कं घातयति हन्ति कम् ॥ २१ ॥
            </p>
        </div>
    </div>
</div>
<p>Who knoweth him indestructible, perpetual, unborn, undiminishing, how can that man slay, O Pârtha, or cause to be
    slain? <span><span> ॥ 21 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>वासांसि जीर्णानि यथा विहाय नवानि गृह्णाति नरोऽपराणि ।
            </p>
            <p>तथा शरीराणि विहाय जीर्णान्यन्यानि संयाति नवानि देही ॥ २२ ॥
            </p>
        </div>
    </div>
</div>
<p>As a man, casting off worn-out garments, taketh new ones, so the dweller in the body, casting off worn-out bodies,
    entereth into others that are new. <span><span> ॥ 22 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="27"
        data-page-number="27" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/37">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>नैनं छिन्दन्ति शस्त्राणि नैनं दहति पावकः ।
            </p>
            <p>न चैनं क्लेदयन्त्यापो न शोषयति मारुतः ॥ २३ ॥
            </p>
        </div>
    </div>
</div>
<p>Weapons cleave him not, nor fire burneth him, nor waters wet him, nor wind drieth him away. <span><span> ॥ 23
            ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अच्छेद्योऽयमदाह्योऽयमक्लेद्योऽशोष्य एव च ।
            </p>
            <p>नित्यः सर्वगतः स्थाणुरचलोऽयं सनातनः ॥ २४ ॥
            </p>
        </div>
    </div>
</div>
<p>Uncleavable he, incombustible he, and indeed neither to be wetted nor dried away; perpetual, all-pervasive, stable,
    immovable, ancient. <span><span> ॥ 24 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अव्यक्तोऽयमचिन्त्योऽयमविकार्योऽयमुच्यते ।
            </p>
            <p>तस्मादेवं विदित्वैनं नानुशोचितुमर्हसि ॥ २५ ॥
            </p>
        </div>
    </div>
</div>
<p>Unmanifest, unthinkable, immutable, he is called; therefore knowing him as such, thou shouldst not grieve.
    <span><span> ॥ 25 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अथ चैनं नित्यजातं नित्यं वा मन्यसे मृतम् ।
            </p>
            <p>तथापि त्वं महाबाहो नैनं शोचितुमर्हसि ॥ २६ ॥
            </p>
        </div>
    </div>
</div>
<p>Or if thou thinkest of him as being constantly&#32;<span><span class="pagenum ws-pagenum" id="28"
            data-page-number="28"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/38">&#8203;</span></span>born and constantly
    dying, even then, O mighty-armed, thou shouldst not grieve. <span><span> ॥ 26 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>जातस्य हि ध्रुवो मृत्युर्ध्रुवं जन्म मृतस्य च ।
            </p>
            <p>तस्मादपरिहार्येऽर्थे न त्वं शोचितुमर्हसि ॥ २७ ॥
            </p>
        </div>
    </div>
</div>
<p>For certain is death for the born, and certain is birth for the dead; therefore over the inevitable thou shouldst not
    grieve. <span><span> ॥ 27 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अव्यक्तादीनि भूतानि व्यक्तमध्यानि भारत ।
            </p>
            <p>अव्यक्तनिधनान्येव तत्र का परिदेवना ॥ २८ ॥
            </p>
        </div>
    </div>
</div>
<p>Beings are unmanifest in their origin, manifest in their midmost state, O Bhârata, unmanifest likewise are they in
    dissolution. What room then for lamentation? <span><span> ॥ 28 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>आश्चर्यवत्पश्यति कश्चिदेनमाश्चर्यवद्वदति तथैव चान्यः ।
            </p>
            <p>आश्चर्यवच्चैनमन्यः शृणोति श्रुत्वाऽप्येनं वेद न चैव कश्चित् ॥ २९ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="29" data-page-number="29"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/39">&#8203;</span></span>As marvellous one
    regardeth him; as marvellous another speaketh thereof; as marvellous another heareth thereof; yet having heard none
    indeed understandeth. <span><span> ॥ 29 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>देही नित्यमवध्योऽयं देहे सर्वस्य भारत ।
            </p>
            <p>तस्मात्सर्वाणि भूतानि न त्वं शोचितुमर्हसि ॥ ३० ॥
            </p>
        </div>
    </div>
</div>
<p>This dweller in the body of everyone is ever invulnerable, O Bhârata; therefore thou shouldst not grieve for any
    creature. <span><span> ॥ 30 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>स्वधर्ममपि चावेक्ष्य न विकम्पितुमर्हसि ।
            </p>
            <p>धर्म्याद्धि युद्धाच्छ्रेयोऽन्यत्क्षत्रियस्य न विद्यते ॥ ३१ ॥
            </p>
        </div>
    </div>
</div>
<p>Further, looking to thine own duty<sup id="cite_ref-9" class="reference"><a href="#cite_note-9"></a></sup>
    thou shouldst not tremble; for there is nothing more welcome to a Kshattriya<sup id="cite_ref-10"
        class="reference"><a href="#cite_note-10"></a></sup> than righteous war. <span><span> ॥ 31 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यदृच्छया चोपपन्नं स्वर्गद्वारमपावृतम् ।
            </p>
            <p>सुखिनः क्षत्रियाः पार्थ लभन्ते युद्धमीदृशम् ॥ ३२ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="30" data-page-number="30"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/40">&#8203;</span></span>Happy the Kshattriyas, O
    Pârtha, who obtain such a fight, offered unsought as an open door to heaven. <span><span> ॥ 32 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अथ चेत्त्वमिमं धर्म्यं सङ्ग्रामं न करिष्यसि ।
            </p>
            <p>ततः स्वधर्मं कीर्तिं च हित्वा पापमवाप्स्यसि ॥ ३३ ॥
            </p>
        </div>
    </div>
</div>
<p>But if thou wilt not carry on this righteous warfare, then casting away thine own duty<sup id="cite_ref-11"
        class="reference"><a href="#cite_note-11"></a></sup> and thine honour, thou wilt incur sin. <span><span> ॥ 33
            ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अकीर्तिं चापि भूतानि कथयिष्यन्ति तेऽव्ययाम् ।
            </p>
            <p>सम्भावितस्य चाकीर्तिर्मरणादतिरिच्यते ॥ ३४ ॥
            </p>
        </div>
    </div>
</div>
<p>Men will recount thy perpetual dishonour, and, to one highly esteemed, dishonour exceedeth death. <span><span> ॥ 34
            ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>भयाद्रणादुपरतं मंस्यन्ते त्वां महारथाः ।
            </p>
            <p>येषां च त्वं बहुमतो भूत्वा यास्यसि लाघवम् ॥ ३५ ॥
            </p>
        </div>
    </div>
</div>
<p>The great car-warriors<sup id="cite_ref-12" class="reference"><a href="#cite_note-12"></a></sup> will
    think thee fled from&#32;<span><span class="pagenum ws-pagenum" id="31" data-page-number="31"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/41">&#8203;</span></span>the battle from fear, and
    thou, that wast highly thought of by them, wilt be lightly held. <span><span> ॥ 35 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अवाच्यवादांश्च बहून्वदिष्यन्ति तवाहिताः ।
            </p>
            <p>निन्दन्तस्तव सामर्थ्यं ततो दुःखतरं नु किम् ॥ ३६ ॥
            </p>
        </div>
    </div>
</div>
<p>Many unseemly words will be spoken by thine enemies, slandering thy strength; what more painful than that?
    <span><span> ॥ 36 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>हतो वा प्राप्स्यसि स्वर्गं जित्वा वा भोक्ष्यसे महीम् ।
            </p>
            <p>तस्मादुत्तिष्ठ कौन्तेय युद्धाय कृतनिश्चयः ॥ ३७ ॥
            </p>
        </div>
    </div>
</div>
<p>Slain, thou wilt obtain heaven; victorious, thou wilt enjoy the earth; therefore stand up, O son of Kuntî, resolute
    to fight. <span><span> ॥ 37 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>सुखदुःखे समे कृत्वा लाभालाभौ जयाजयौ ।
            </p>
            <p>ततो युद्धाय युज्यस्व नैवं पापमवाप्स्यसि ॥ ३८ ॥
            </p>
        </div>
    </div>
</div>
<p>Taking as equal pleasure and pain, gain and loss, victory and defeat, gird thee for the battle; thus thou shalt not
    incur sin. <span><span> ॥ 38 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="32"
        data-page-number="32" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/42">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>एषा तेऽभिहिता साङ्ख्ये बुद्धिर्योगे त्विमां शृणु ।
            </p>
            <p>बुद्ध्या युक्तो यया पार्थ कर्मबन्धं प्रहास्यसि ॥ ३९ ॥
            </p>
        </div>
    </div>
</div>
<p>This teaching set forth to thee is in accordance with the Sâñkhya<sup id="cite_ref-13" class="reference"><a
            href="#cite_note-13"></a></sup>; hear it now according to the Yoga<sup id="cite_ref-14" class="reference"><a
            href="#cite_note-14"></a></sup>, imbued with which teaching, O Pârtha, thou
    shalt cast away the bonds of action. <span><span> ॥ 39 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>नेहाभिक्रमनाशोऽस्ति प्रत्यवायो न विद्यते ।
            </p>
            <p>स्वल्पमप्यस्य धर्मस्य त्रायते महतो भयात् ॥ ४० ॥
            </p>
        </div>
    </div>
</div>
<p>In this there is no loss of effort, nor is there transgression. Even a little of this knowledge<sup id="cite_ref-15"
        class="reference"><a href="#cite_note-15"></a></sup> protects from great fear. <span><span> ॥ 40 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>व्ययसायात्मिका बुद्धिरेकेह कुरुनन्दन ।
            </p>
            <p>बहुशाखा ह्यनन्ताश्च बुद्धयोऽव्यवसायिनाम् ॥ ४१ ॥
            </p>
        </div>
    </div>
</div>
<p>The determinate Reason<sup id="cite_ref-16" class="reference"><a href="#cite_note-16"></a></sup> is but
    one-pointed,&#32;<span><span class="pagenum ws-pagenum" id="33" data-page-number="33"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/43">&#8203;</span></span>O joy of the Kurus;
    many-branched and endless are the thoughts of the irresolute. <span><span> ॥ 41 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यामिमां पुष्पितां वाचं प्रवदन्त्यविपश्चितः ।
            </p>
            <p>वेदवादरताः पार्थ नान्यदस्तीति वादिनः ॥ ४२ ॥
            </p>
        </div>
    </div>
</div>
<p>Flowery speech is uttered by the foolish, rejoicing in the letter of the Vedas,<sup id="cite_ref-17"
        class="reference"><a href="#cite_note-17"></a></sup> O Pârtha, saying: "There is naught but this";
    <span><span> ॥ 42 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>कामात्मानः स्वर्गपरा जन्मकर्मफलप्रदाम् ।
            </p>
            <p>क्रियाविशेषबहुलां भोगैश्वर्यगतिं प्रति ॥ ४३ ॥
            </p>
        </div>
    </div>
</div>
<p>With desire for self<sup id="cite_ref-18" class="reference"><a href="#cite_note-18"></a></sup>, with
    heaven for goal, they offer birth as the fruit of action, and prescribe many and various ceremonies for the
    attainment of pleasure and lordship. <span><span> ॥ 43 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>भोगैश्वर्यप्रसक्तानां तयाऽपहृतचेतसाम् ।
            </p>
            <p>व्यवसायात्मिका बुद्धिः समाधौ न विधीयते ॥ ४४ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="34" data-page-number="34"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/44">&#8203;</span></span>For them who cling to
    pleasure and lordship, whose minds are captivated by such teaching, is not designed this determinate Reason,<sup
        id="cite_ref-19" class="reference"><a href="#cite_note-19"></a></sup> on contemplation<sup id="cite_ref-20"
        class="reference"><a href="#cite_note-20"></a></sup> steadily bent.<sup id="cite_ref-21" class="reference"><a
            href="#cite_note-21"></a></sup> <span><span> ॥ 44 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>त्रैगुण्यविषया वेदा निस्त्रैगुण्यो भवार्जुन ।
            </p>
            <p>निर्द्वन्द्वो नित्यसत्त्वस्थो निर्योगक्षेम आत्मवान् ॥ ४५ ॥
            </p>
        </div>
    </div>
</div>
<p>The Vedas deal with the three attributes<sup id="cite_ref-22" class="reference"><a href="#cite_note-22"></a></sup>;
    be&#32;<span><span class="pagenum ws-pagenum" id="35" data-page-number="35"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/45">&#8203;</span></span>thou above these three
    attributes, O Arjuna; beyond the pairs of opposites, ever steadfast in purity,<sup id="cite_ref-23"
        class="reference"><a href="#cite_note-23"></a></sup> careless of possessions, full of the <span
        style="font-variant:small-caps">Self</span>. <span><span> ॥ 45 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यावानर्थ उदपाने सर्वतः सम्प्लुतोदके ।
            </p>
            <p>तावान्सर्वेषु वेदेषु ब्राह्मणस्य विजानतः ॥ ४६ ॥
            </p>
        </div>
    </div>
</div>
<p>All the Vedas are as useful to an enlightened Brâhmana<sup id="cite_ref-24" class="reference"><a
            href="#cite_note-24"></a></sup> as is a tank in a place covered all over with water. <span><span> ॥ 46
            ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>कर्मण्येवाधिकारस्ते मा फलेषु कदाचन ।
            </p>
            <p>मा कर्मफलहेतुर्भूर्मा ते सङ्गोऽस्त्वकर्मणि ॥ ४७ ॥
            </p>
        </div>
    </div>
</div>
<p>Thy business is with the action only, never with its fruits; so let not the fruit of action be thy motive, nor be
    thou to inaction attached. <span><span> ॥ 47 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>योगस्थः कुरु कर्माणि सङ्गं त्यक्त्वा धनञ्जय ।
            </p>
            <p>सिद्ध्यसिद्ध्योः समो भूत्वा समत्वं योग उच्यते ॥ ४८ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="36" data-page-number="36"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/46">&#8203;</span></span>Perform action, O
    Dhananjaya, dwelling in union with the divine,<sup id="cite_ref-25" class="reference"><a
            href="#cite_note-25"></a></sup> renouncing attachments and balanced evenly in success and
    failure: equilibrium is called yoga. <span><span> ॥ 48 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>दूरेण ह्यवरं कर्म बुद्धियोगाद्धनञ्जय ।
            </p>
            <p>बुद्धौ शरणमन्विच्छ कृपणाः फलहेतवः ॥ ४९ ॥
            </p>
        </div>
    </div>
</div>
<p>Far lower than the Yoga of Discrimination<sup id="cite_ref-26" class="reference"><a href="#cite_note-26"></a></sup>
    is action, O Dhananjaya. Take thou refuge in the Pure Reason<sup id="cite_ref-p36Buddhi_27-0" class="reference"><a
            href="#cite_note-p36Buddhi-27"></a></sup>;
    pitiable are they who work for fruit. <span><span> ॥ 49 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>बुद्धियुक्तो जहातीह उभे सुकृतदुष्कृते ।
            </p>
            <p>तस्माद्योगाय युज्यस्व योगः कर्मसु कौशलम् ॥ ५० ॥
            </p>
        </div>
    </div>
</div>
<p>United to the Pure Reason<sup id="cite_ref-p36Buddhi_27-1" class="reference"><a
            href="#cite_note-p36Buddhi-27"></a></sup> one abandoneth here both good and evil deeds;
    therefore cleave thou to yoga; yoga is skill in action. <span><span> ॥ 50 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>कर्मजं बुद्धियुक्ता हि फलं त्यक्त्वा मनीषिणः ।
            </p>
            <p>जन्मबन्धविनिर्मुक्ताः पदं गच्छन्त्यनामयम् ॥ ५१ ॥
            </p>
        </div>
    </div>
</div>
<p>The Sages, united to the Pure Reason<sup id="cite_ref-p36Buddhi_27-2" class="reference"><a
            href="#cite_note-p36Buddhi-27"></a></sup>,&#32;<span><span class="pagenum ws-pagenum" id="37"
            data-page-number="37"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/47">&#8203;</span></span>renounce the fruit which
    action yieldeth, and, liberated from the bonds of birth, they go to the blissful seat. <span><span> ॥ 51
            ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यदा ते मोहकलिलं बुद्धिर्व्यतितरिष्यति ।
            </p>
            <p>तदा गन्तासि निर्वेदं श्रोतव्यस्य श्रुतस्य च ॥ ५२ ॥
            </p>
        </div>
    </div>
</div>
<p>When thy mind<sup id="cite_ref-p37Buddhi_28-0" class="reference"><a href="#cite_note-p37Buddhi-28"></a></sup> shall
    escape from this tangle of delusion, then thou
    shalt rise to indifference as to what has been heard and shall be heard. <span><span> ॥ 52 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>श्रुतिविप्रतिपन्ना ते यदा स्थास्यति निश्चला ।
            </p>
            <p>समाधावचला बुद्धिस्तदा योगमवाप्स्यसि ॥ ५३ ॥
            </p>
        </div>
    </div>
</div>
<p>When thy mind<sup id="cite_ref-p37Buddhi_28-1" class="reference"><a href="#cite_note-p37Buddhi-28"></a></sup>,
    bewildered by the Scriptures<sup id="cite_ref-29" class="reference"><a href="#cite_note-29"></a></sup>, shall stand
    immovable, fixed in contemplation,
    then shalt thou attain unto yoga<sup id="cite_ref-30" class="reference"><a href="#cite_note-30"></a></sup>.
    <span><span> ॥ 53 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>अर्जुन उवाच ।
                </p>
            </div>
            <p>स्थितप्रज्ञस्य का भाषा समाधिस्थस्य केशव ।
            </p>
        </div>&#32;<span><span class="pagenum ws-pagenum" id="38" data-page-number="38"
                title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/48">&#8203;</span></span>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>स्थितधीः किं प्रभाषेत किमासीत व्रजेत किम् ॥ ५४ ॥
            </p>
        </div>
    </div>
</div>
<div class="tiInherit" style="text-align:center;">
    <p>Arjuna said:
    </p>
</div>
<p>What the mark, of him who is stable of mind,<sup id="cite_ref-p38Prajna_31-0" class="reference"><a
            href="#cite_note-p38Prajna-31"></a></sup> steadfast in contemplation, O Keshava? How doth the
    stable-minded<sup id="cite_ref-32" class="reference"><a href="#cite_note-32"></a></sup> talk, how doth
    he sit, how walk? <span><span> ॥ 54 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>श्रीभगवानुवाच ।
                </p>
            </div>
            <p>प्रजहाति यदा कामान्सर्वान्पार्थ मनोगतान् ।
            </p>
            <p>आत्मन्येवात्मना तुष्टः स्थितप्रज्ञस्तदोच्यते ॥ ५५ ॥
            </p>
        </div>
    </div>
</div>
<div class="tiInherit" style="text-align:center;">
    <p>The Blessed Lord said:
    </p>
</div>
<p>When a man abandoneth, O Pârtha, all the desires of the heart<sup id="cite_ref-33" class="reference"><a
            href="#cite_note-33"></a></sup>, and is satisfied in the <span style="font-variant:small-caps">Self</span>
    by the <span style="font-variant:small-caps">Self</span>, then is he
    called stable in mind<sup id="cite_ref-34" class="reference"><a href="#cite_note-34"></a></sup>. <span><span> ॥ 55
            ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>दुःखेष्वनुद्विग्नमनाः सुखेषु विगतस्पृहः ।
            </p>
            <p>वीतरागभयक्रोधः स्थितधीर्मुनिरुच्यते ॥ ५६ ॥
            </p>
        </div>
    </div>
</div>
<p>He whose mind<sup id="cite_ref-p38Prajna_31-1" class="reference"><a href="#cite_note-p38Prajna-31"></a></sup> is free
    from anxiety amid pains, indifferent amid
    pleasures, loosed from&#32;<span><span class="pagenum ws-pagenum" id="39" data-page-number="39"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/49">&#8203;</span></span>passion, fear and anger,
    is called a sage<sup id="cite_ref-35" class="reference"><a href="#cite_note-35"></a></sup> of stable
    mind.<sup id="cite_ref-36" class="reference"><a href="#cite_note-36"></a></sup> <span><span> ॥ 56 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यः सर्वत्रानभिस्नेहस्तत्तत्प्राप्य शुभाशुभम् ।
            </p>
            <p>नाभिनन्दति न द्वेष्टि तस्य प्रज्ञा प्रतिष्ठिता ॥ ५७ ॥
            </p>
        </div>
    </div>
</div>
<p>He who on every side is without attachments, whatever hap of fair and foul, who neither likes nor dislikes, of such a
    one the understanding is well poised. <span><span> ॥ 57 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यदा संहरते चायं कूर्मोऽङ्गानीव सर्वशः ।
            </p>
            <p>इन्द्रियाणीन्द्रियार्थेभ्यस्तस्य प्रज्ञा प्रतिष्ठिता ॥ ५८ ॥
            </p>
        </div>
    </div>
</div>
<p>When, again, as a tortoise draws in on all sides its limbs, he withdraws his senses from the objects of sense, then
    is his understanding well poised. <span><span> ॥ 58 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>विषया विनिवर्तन्ते निराहारस्य देहिनः ।
            </p>
            <p>रसवर्जं रसोऽप्यस्य परं दृष्ट्वा निवर्तते ॥ ५९ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="40" data-page-number="40"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/50">&#8203;</span></span>The objects of sense, but
    not the relish for them,<sup id="cite_ref-38" class="reference"><a href="#cite_note-38"></a></sup> turn
    away from an abstemious dweller in the body; and even relish turneth away from him after the Supreme is seen.
    <span><span> ॥ 59 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यततो ह्यपि कौन्तेय पुरुषस्य विपश्चितः ।
            </p>
            <p>इन्द्रियाणि प्रमाथीनि हरन्ति प्रसभं मनः ॥ ६० ॥
            </p>
        </div>
    </div>
</div>
<p>O son of Kuntî, the excited senses of even a wise man, though he be striving, impetuously carry away his mind<sup
        id="cite_ref-39" class="reference"><a href="#cite_note-39"></a></sup>. <span><span> ॥ 60 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>तानि सर्वाणि संयम्य युक्त आसीत मत्परः ।
            </p>
            <p>वशे हि यस्येन्द्रियाणि तस्य प्रज्ञा प्रतिष्ठिता ॥ ६१ ॥
            </p>
        </div>
    </div>
</div>
<p>Having restrained them all, he should sit harmonised, I his supreme goal; for, whose senses are mastered, of him the
    understanding<sup id="cite_ref-40" class="reference"><a href="#cite_note-40"></a></sup> is well poised.
    <span><span> ॥ 61 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="41"
        data-page-number="41" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/51">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>ध्यायतो विषयान्पुंसः सङ्गस्तेषूपजायते ।
            </p>
            <p>सङ्गात्सञ्जायते कामः कामात्क्रोधोऽभिजायते ॥ ६२ ॥
            </p>
        </div>
    </div>
</div>
<p>Man, musing on the objects of sense, conceiveth an attachment to these; from attachment ariseth desire; from desire
    anger<sup id="cite_ref-41" class="reference"><a href="#cite_note-41"></a></sup> cometh forth; <span><span> ॥ 62
            ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>क्रोधाद्भवति सम्मोहः सम्मोहात्स्मृतिविभ्रमः ।
            </p>
            <p>स्मृतिभ्रंशाद्बुद्धिनाशो बुद्धिनाशात्प्रणश्यति ॥ ६३ ॥
            </p>
        </div>
    </div>
</div>
<p>From anger proceedeth delusion; from delusion confused memory; from confused memory the destruction of Reason<sup
        id="cite_ref-42" class="reference"><a href="#cite_note-42"></a></sup>; from destruction of Reason he
    perishes. <span><span> ॥ 63 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>रागद्वेषवियुक्तैस्तुं विषयानिन्द्रियैश्चरन् ।
            </p>
            <p>आत्मवश्यैर्विधेयात्मा प्रसादमधिगच्छति ॥ ६४ ॥
            </p>
        </div>
    </div>
</div>
<p>But the disciplined self, moving among sense-objects with senses free from attraction and repulsion, mastered by the
    Self, goeth to peace. <span><span> ॥ 64 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="42"
        data-page-number="42" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/52">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>प्रसादे सर्वदुःखानां हानिरस्योपजायते ।
            </p>
            <p>प्रसन्नचेतसो ह्याशु बुद्धिः पर्यवतिष्ठते ॥ ६५ ॥
            </p>
        </div>
    </div>
</div>
<p>In that Peace the extinction of all pains ariseth for him, for of him whose heart<sup id="cite_ref-43"
        class="reference"><a href="#cite_note-43"></a></sup> is peaceful the Reason<sup id="cite_ref-44"
        class="reference"><a href="#cite_note-44"></a></sup> soon attaineth equilibrium. <span><span> ॥ 65
            ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>नास्ति बुद्धिरयुक्तस्य न चायुक्तस्य भावना ।
            </p>
            <p>न चाभावयतः शान्तिरशान्तस्य कुतः सुखम् ॥ ६६ ॥
            </p>
        </div>
    </div>
</div>
<p>There is no Pure Reason for the non-harmonised, nor for the non-harmonised is there concentration<sup
        id="cite_ref-45" class="reference"><a href="#cite_note-45"></a></sup>; for him without concentration
    there is no peace, and for the unpeaceful how can there be happiness? <span><span> ॥ 66 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>इन्द्रियाणां हि चरतां यन्मनोऽनु विधीयते ।
            </p>
            <p>तदस्य हरति प्रज्ञां वायुर्नावमिवाम्भसि ॥ ६७ ॥
            </p>
        </div>
    </div>
</div>
<p>Such of the roving senses as the mind<sup id="cite_ref-46" class="reference"><a href="#cite_note-46"></a></sup>
    yieldeth to, that hurries away the understanding<sup id="cite_ref-47" class="reference"><a
            href="#cite_note-47"></a></sup>, just&#32;<span><span class="pagenum ws-pagenum" id="43"
            data-page-number="43" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/53">&#8203;</span></span>as
    the gale hurries away
    a ship upon the waters. <span><span> ॥ 67 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>तस्माद्यस्य महाबाहो निगृहीतानि सर्वशः ।
            </p>
            <p>इन्द्रियाणीन्द्रियार्थेभ्यस्तस्य प्रज्ञा प्रतिष्ठिता ॥ ६८ ॥
            </p>
        </div>
    </div>
</div>
<p>Therefore, O mighty-armed, whose senses are all completely restrained from the objects of sense, of him the
    understanding is well poised. <span><span> ॥ 68 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>या निशा सर्वभूतानां तस्यां जागर्ति संयमी ।
            </p>
            <p>यस्यां जाग्रति भूतानि सा निशा पश्यतो मुनेः ॥ ६९ ॥
            </p>
        </div>
    </div>
</div>
<p>That which is the night of all beings, for the disciplined man is the time of waking; when other beings are waking,
    then is it night for the sage who seeth<sup id="cite_ref-48" class="reference"><a href="#cite_note-48"></a></sup>.
    <span><span> ॥ 69 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>आपूर्यमाणमचलप्रतिष्ठं समुद्रमापः प्रविशन्ति यद्वत् ।
            </p>
        </div>&#32;<span><span class="pagenum ws-pagenum" id="44" data-page-number="44"
                title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/54">&#8203;</span></span>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>तद्वत्कामा यं प्रविशन्ति सर्वे स शान्तिमाप्नोति न कामकामी ॥ ७० ॥
            </p>
        </div>
    </div>
</div>
<p>He attaineth Peace, into whom all desires flow as rivers flow into the ocean, which is filled with water, but
    remaineth unmoved—not he who desireth desires. <span><span> ॥ 70 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>विहाय कामान्यः सर्वान्पुमांश्चरति निःस्पृहः ।
            </p>
            <p>निर्ममो निरहङ्कारः स शान्तिमधिगच्छति ॥ ७१ ॥
            </p>
        </div>
    </div>
</div>
<p>Whoso forsaketh all desires and goeth onwards free from yearnings, selfless and without egoism—he goeth to Peace.
    <span><span> ॥ 71 ॥</span></span>
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>एषा ब्राह्मी स्थितिः पार्थ नैनां प्राप्य विमुह्यति ।
            </p>
            <p>स्थित्वाऽस्यामन्तकालेऽपि ब्रह्म निर्वाणमृच्छति ॥ ७२ ॥
            </p>
        </div>
    </div>
</div>
<p>This is the <span style="font-variant:small-caps">Eternal</span> state, O son of Prithâ. Having attained thereto,
    none is bewildered. Who, even at the death-hour, is established therein, he goeth to the Nirvâna of the <span
        style="font-variant:small-caps">Eternal</span>. <span><span> ॥ 72 ॥</span></span>
</p>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>इति श्रीमद्भगवद्गीता॰ साङ्ख्ययोगो नाम द्वितीयोऽध्यायः ॥
            </p>
        </div>
    </div>
</div>