<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>अर्जुन उवाच ।
        </p>
      </div>
      <p>संन्यासं कर्मणां कृष्ण पुनर्योगं च शंससि ।
      </p>
      <p>यच्छ्रेय एतयोरेकं तन्मे ब्रूहि सुनिश्चितम् ॥ १ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>Arjuna said:
  </p>
</div>
<p>Renunciation of actions Thou praisest, O Krishna, and then also yoga. Of the two which one is the better? That tell
  me conclusively. <span><span> ॥ 1 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>संन्यासः कर्मयोगश्च निःश्रेयसकरावुभौ ।
      </p>
      <p>तयोस्तु कर्मसंन्यासात्कर्मयोगो विशिष्यते ॥ २ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>Renunciation and yoga by action both lead to the highest bliss; of the two, yoga by action is verily better than
  renunciation of action. <span><span> ॥ 2 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ज्ञेयः स नित्यसंन्यासी यो न द्वेष्टि न काङ्क्षति ।
      </p>
      <p>निर्द्वन्द्वो हि महाबाहो सुखं बन्धात्प्रमुच्यते ॥ ३ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="77" data-page-number="77"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/87">&#8203;</span></span>He should be known as a
  perpetual ascetic,<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"></a></sup> who neither
  hateth nor desireth; free from the pairs of opposites, O mighty-armed, he is easily set free from bondage. <span
   ><span > ॥ 3 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>साङ्ख्ययोगौ पृथग्बालाः प्रवदन्ति न पण्डिताः ।
      </p>
      <p>एकमप्यास्थितः सम्यगुभयोर्विन्दते फलम् ॥ ४ ॥
      </p>
    </div>
  </div>
</div>
<p>Children, not sages, speak of the Sânkhya<sup id="cite_ref-2" class="reference"><a
      href="#cite_note-2"></a></sup> and the Yoga<sup id="cite_ref-3" class="reference"><a
      href="#cite_note-3"></a></sup> as different; he who is duly established in one obtaineth the fruits of
  both. <span><span> ॥ 4 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यत्साङ्ख्यैः प्राप्यते स्थानं तद्योगैरपि गम्यते ।
      </p>
      <p>एकं साङ्ख्यं च योगं च यः पश्यति स पश्यति ॥ ५ ॥
      </p>
    </div>
  </div>
</div>
<p>That place which is gained by the Sânkhyas is reached by the Yogîs also. He seeth, who seeth that the Sânkhya and the
  Yoga are one. <span><span> ॥ 5 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>संन्यासस्तु महाबाहो दुःखमाप्तुमयोगतः ।
      </p>
      <p>योगयुक्तो मुनिर्ब्रह्म न चिरेणाधिगच्छति ॥ ६ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="78" data-page-number="78"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/88">&#8203;</span></span>But without yoga, O
  mighty-armed, renunciation is hard to attain to; the yoga-harmonised Muni swiftly goeth to the <span
    style="font-variant:small-caps">Eternal</span>. <span><span
      > ॥ 6 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>योगयुक्तो विशुद्धात्मा विजितात्मा जितेन्द्रियः ।
      </p>
      <p>सर्वभूतात्मभूतात्मा कुर्वन्नपि न लिप्यते ॥ ७ ॥
      </p>
    </div>
  </div>
</div>
<p>He who is harmonised by yoga, the self purified, <span style="font-variant:small-caps">Self</span>-ruled, the senses
  subdued, whose <span style="font-variant:small-caps">Self</span> is the <span
    style="font-variant:small-caps">Self</span> of all beings, although acting he is not affected. <span
   ><span > ॥ 7 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>नैव किञ्चित्करोमीति युक्तो मन्येत तत्त्ववित् ।
      </p>
      <p>पश्यन्शृण्वन्स्पृशञ्जिघ्रन्नश्नन्गच्छन्श्वसन्स्वपन् ॥ ८ ॥
      </p>
    </div>
  </div>
</div>
<p>"I do not anything," should think the harmonised one, who knoweth the essence of things; seeing, hearing, touching,
  smelling, eating, moving, sleeping, breathing. <span><span
      > ॥ 8 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>प्रलपन्विसृजन्गृह्णन्नुन्मिषन्निमिषन्नपि ।
      </p>
      <p>इन्द्रियाणीन्द्रियार्थेषु वर्तन्त इति धारयन् ॥ ९ ॥
      </p>
    </div>
  </div>
</div>
<p>Speaking, giving, grasping, opening and closing&#32;<span><span class="pagenum ws-pagenum" id="79"
      data-page-number="79" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/89">&#8203;</span></span>the eyes,
  he holdeth: "The senses move among the objects of the senses." <span><span
      > ॥ 9 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ब्रह्मण्याधाय कर्माणि सङ्गं त्यक्त्वा करोति यः ।
      </p>
      <p>लिप्यते न स पापेन पद्मपत्रमिवाम्भसा ॥ १० ॥
      </p>
    </div>
  </div>
</div>
<p>He who acteth, placing all actions in the <span style="font-variant:small-caps">Eternal</span>, abandoning
  attachment, is unaffected by sin as a lotus leaf by the waters. <span><span
      > ॥ 10 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>कायेन मनसा बुद्ध्या केवलैरिन्द्रियैरपि ।
      </p>
      <p>योगिनः कर्म कुर्वन्ति सङ्गं त्यक्त्वाऽऽत्मशुद्धये ॥ ११ ॥
      </p>
    </div>
  </div>
</div>
<p>Yogis, having abandoned attachment, perform action only by the body, by the mind, by the Reason, and even by the
  senses, for the
  purification of the self. ॥ 11 ॥
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>युक्तः कर्मफलं त्यक्त्वा शान्तिमाप्नोति नैष्ठिकीम् ।
      </p>
      <p>अयुक्तः कामकारेण फले सक्तो निबध्यते ॥ १२ ॥
      </p>
    </div>
  </div>
</div>
<p>The harmonised man, having abandoned the fruit of action, attaineth to the eternal Peace;&#32;<span><span
      class="pagenum ws-pagenum" id="80" data-page-number="80"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/90">&#8203;</span></span>the non-harmonised, impelled by
  desire, attached to fruit, are bound. <span><span
      > ॥ 12 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्वकर्माणि मनसा संन्यस्यास्ते सुखं वशी ।
      </p>
      <p>नवद्वारे पुरे देही नैव कुर्वन्न कारयन् ॥ १३ ॥
      </p>
    </div>
  </div>
</div>
<p>Mentally renouncing all actions, the sovereign dweller in the body resteth serenely in the nine-gated city,<sup
    id="cite_ref-6" class="reference"><a href="#cite_note-6"></a></sup> neither acting nor causing to act.
  <span><span> ॥ 13 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>न कर्तृत्वं न कर्माणि लोकस्य सृजति प्रभुः ।
      </p>
      <p>न कर्मफलसंयोगं स्वभावस्तु प्रवर्तते ॥ १४ ॥
      </p>
    </div>
  </div>
</div>
<p>The Lord of the world produceth not the idea of agency, nor actions, nor the union together of action and its fruit;
  nature, however, manifesteth. <span><span
      > ॥ 14 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>नादत्ते कस्यचित्पापं न चैव सुकृतं विभुः ।
      </p>
      <p>अज्ञानेनावृतं ज्ञानं तेन मुह्यन्ति जन्तवः ॥ १५ ॥
      </p>
    </div>
  </div>
</div>
<p>The Lord accepteth neither the evil-doing nor&#32;<span><span class="pagenum ws-pagenum" id="81"
      data-page-number="81" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/91">&#8203;</span></span>yet the
  well-doing of any. Wisdom is enveloped by unwisdom; therewith mortals are deluded. <span
   ><span > ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ज्ञानेन तु तदज्ञानं येषां नाशितमात्मनः ।
      </p>
      <p>तेषामादित्यवज्ज्ञानं प्रकाशयति तत्परम् ॥ १६ ॥
      </p>
    </div>
  </div>
</div>
<p>Verily, in whom unwisdom is destroyed by the wisdom of the <span style="font-variant:small-caps">Self</span>, in them
  wisdom, shining as the sun, reveals the Supreme. <span><span
      > ॥ 16 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तद्बुद्धयस्तदात्मानस्तन्निष्ठास्तत्परायणाः ।
      </p>
      <p>गच्छन्त्यपुनरावृत्तिं ज्ञाननिर्धूतकल्मषाः ॥ १७ ॥
      </p>
    </div>
  </div>
</div>
<p>Thinking on <span style="font-variant:small-caps">That</span>, merged in <span
    style="font-variant:small-caps">That</span>, established in <span style="font-variant:small-caps">That</span>,
  solely devoted to <span style="font-variant:small-caps">That</span>, they go whence there is no return, their sins
  dispelled by wisdom. <span><span> ॥ 17 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>विद्याविनयसम्पन्ने ब्राह्मणे गवि हस्तिनि ।
      </p>
      <p>शुनि चैव श्वपाके च पण्डिताः समदर्शिनः ॥ १८ ॥
      </p>
    </div>
  </div>
</div>
<p>Sages look equally on a Brâhmana adorned&#32;<span><span class="pagenum ws-pagenum" id="82" data-page-number="82"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/92">&#8203;</span></span>with learning and humility, a
  cow, an elephant, and even a dog and an outcaste.<sup id="cite_ref-7" class="reference"><a
      href="#cite_note-7"></a></sup> <span><span
      > ॥ 18 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इहैव तैर्जितः सर्गो येषां साम्ये स्थितं मनः ।
      </p>
      <p>निर्दोषं हि समं ब्रह्म तस्माद्ब्रह्मणि ते स्थिताः ॥ १९ ॥
      </p>
    </div>
  </div>
</div>
<p>Even here on earth everything is overcome by those whose mind<sup id="cite_ref-8" class="reference"><a
      href="#cite_note-8"></a></sup> remains balanced; the <span
    style="font-variant:small-caps">Eternal</span> is incorruptible and balanced; therefore they are established in the
  <span style="font-variant:small-caps">Eternal</span>. <span><span
      > ॥ 19 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>न प्रहृष्येत्प्रियं प्राप्य नोद्विजेत्प्राप्य चाप्रियम् ।
      </p>
      <p>स्थिरबुद्धिरसंमूढो ब्रह्मविद्ब्रह्मणि स्थितः ॥ २० ॥
      </p>
    </div>
  </div>
</div>
<p>With Reason<sup id="cite_ref-9" class="reference"><a href="#cite_note-9"></a></sup> firm, unperplexed, the
  knower of the <span style="font-variant:small-caps">Eternal</span> established in the <span
    style="font-variant:small-caps">Eternal</span>, neither rejoiceth on obtaining what is pleasant, nor sorroweth on
  obtaining what is unpleasant. <span><span
      > ॥ 20 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>बाह्यस्पर्शेष्वसक्तात्मा विन्दत्यात्मनि यत्सुखम् ।
      </p>
      <p>स ब्रह्मयोगयुक्तात्मा सुखमक्षयमश्नुते ॥ २१ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="83" data-page-number="83"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/93">&#8203;</span></span>He, whose self is unattached to
  external contacts and findeth joy in the <span style="font-variant:small-caps">Self</span>, having the self harmonised
  with the <span style="font-variant:small-caps">Eternal</span> by yoga, enjoys imperishable bliss. <span
   ><span > ॥ 21 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ये हि संस्पर्शजा भोगा दुःखयोनय एव ते ।
      </p>
      <p>आद्यन्तवन्तः कौन्तेय न तेषु रमते बुधः ॥ २२ ॥
      </p>
    </div>
  </div>
</div>
<p>The delights that are contact-born, they are verily wombs of pain, for they have beginning and ending, O Kaunteya;
  not in them may rejoice the wise. <span><span
      > ॥ 22 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>शक्नोतीहैव यः सोढुं प्राक् शरीरविमोक्षणात् ।
      </p>
      <p>कामक्रोधोद्भवं वेगं स युक्तः स सुखी नरः ॥ २३ ॥
      </p>
    </div>
  </div>
</div>
<p>He who is able to endure here on earth, ere he be liberated from the body, the force born from desire and passion, he
  is harmonised, he is a happy man. <span><span
      > ॥ 23 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>योऽन्तःसुखोऽन्तरारामस्तथान्तर्ज्योतिरेव यः ।
      </p>
      <p>स योगी ब्रह्मनिर्वाणं ब्रह्मभूतोऽधिगच्छति ॥ २४ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="84" data-page-number="84"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/94">&#8203;</span></span>He who is happy within, who
  rejoiceth within, who is illuminated within, that Yogî, becoming the <span
    style="font-variant:small-caps">Eternal</span>, goeth to the Peace<sup id="cite_ref-p84Peace_10-0"
    class="reference"><a href="#cite_note-p84Peace-10"></a></sup> of the <span
    style="font-variant:small-caps">Eternal</span>. <span><span
      > ॥ 24 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>लभन्ते ब्रह्मनिर्वाणमृषयः क्षीणकल्मषाः ।
      </p>
      <p>छिन्नद्वैधा यतात्मानः सर्वभूतहिते रताः ॥ २५ ॥
      </p>
    </div>
  </div>
</div>
<p>Rishis, their sins destroyed, their duality removed, their selves controlled, intent upon the welfare of all beings,
  obtain the Peace<sup id="cite_ref-p84Peace_10-1" class="reference"><a
      href="#cite_note-p84Peace-10"></a></sup> of the <span style="font-variant:small-caps">Eternal</span>.
  <span><span> ॥ 25 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>कामक्रोधवियुक्तानां यतीनां यतचेतसाम् ।
      </p>
      <p>अभितो ब्रह्मनिर्वाणं वर्तते विदितात्मनाम् ॥ २६ ॥
      </p>
    </div>
  </div>
</div>
<p>The Peace<sup id="cite_ref-p84Peace_10-2" class="reference"><a href="#cite_note-p84Peace-10"></a></sup>
  of the <span style="font-variant:small-caps">Eternal</span> lies near to those who know themselves, who are disjoined
  from desire and passion, subdued in nature, of subdued thoughts. <span><span
      > ॥ 26 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="85"
    data-page-number="85" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/95">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>स्पर्शान्कृत्वा बहिर्बाह्यांश्चक्षुश्चैवान्तरे भ्रुवोः ।
      </p>
      <p>प्राणापानौ समौ कृत्वा नासाभ्यन्तरचारिणौ ॥ २७ ॥
      </p>
    </div>
  </div>
</div>
<p>Having external contacts excluded, and with gaze fixed between the eyebrows; having made equal the outgoing and
  ingoing breaths moving within the nostrils; <span><span
      > ॥ 27 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यतेन्द्रियमनोबुद्धिर्मुनिर्मोक्षपरायणः ।
      </p>
      <p>विगतेच्छाभयक्रोधो यः सदा मुक्त एव सः ॥ २८ ॥
      </p>
    </div>
  </div>
</div>
<p>With senses, mind,<sup id="cite_ref-11" class="reference"><a href="#cite_note-11"></a></sup> and
  Reason<sup id="cite_ref-12" class="reference"><a href="#cite_note-12"></a></sup> ever controlled, solely
  pursuing liberation, the Sage, having for ever cast away desire, fear and passion, verily is liberated. <span
   ><span > ॥ 28 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>भोक्तारं यज्ञतपसां सर्वलोकमहेश्वरम् ।
      </p>
      <p>सुहृदं सर्वभूतानां ज्ञात्वा मां शान्तिमृच्छति ॥ २९ ॥
      </p>
    </div>
  </div>
</div>
<p>Having known Me, as the Enjoyer of sacrifice and of austerity, the mighty Ruler of all the&#32;<span><span
      class="pagenum ws-pagenum" id="86" data-page-number="86"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/96">&#8203;</span></span>worlds, and the Lover of all
  beings, he goeth to Peace. <span><span
      > ॥ 29 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इति श्रीमद्भगवद्गीतासूप॰ संन्यासयोगो नाम पञ्चमोऽध्यायः ।
      </p>
    </div>
  </div>
</div>