<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>परं भूयः प्रवक्ष्यामि ज्ञानानां ज्ञानमुत्तमम् ।
      </p>
      <p>यज्ज्ञात्वा मुनयः सर्वे परां सिद्धिमितो गताः ॥ १ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>I will again proclaim that supreme Wisdom, of all wisdom the best, which having known, all the Sages<sup
    id="cite_ref-1" class="reference"><a href="#cite_note-1"></a></sup> have gone hence to the supreme
  Perfection. <span><span> ॥ 1 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इदं ज्ञानमुपाश्रित्य मम साधर्म्यमागताः ।
      </p>
      <p>सर्गेऽपि नोपजायन्ते प्रलये न व्यथन्ति च ॥ २ ॥
      </p>
    </div>
  </div>
</div>
<p>Having taken refuge in this Wisdom and being assimilated to My own nature, they are not re-born even in the emanation
  of a universe, nor are disquieted in the dissolution. <span><span
      > ॥ 2 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मम योनिर्महद्ब्रह्म तस्मिन् गर्भं दधाम्यहम् ।
      </p>
      <p>सम्भवः सर्वभूतानां ततो भवति भारत ॥ ३ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="200" data-page-number="200"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/210">&#8203;</span></span>My womb is the great <span
    style="font-variant:small-caps">Eternal</span>; in that I place the germ; thence cometh the birth of all beings, O
  Bhârata. <span><span> ॥ 3 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्वयोनिषु कौन्तेय मूर्तयः संभवन्ति याः ।
      </p>
      <p>तासां ब्रह्म महद्योनिरहं बीजप्रदः पिता ॥ ४ ॥
      </p>
    </div>
  </div>
</div>
<p>In whatsoever wombs mortals are produced, O Kaunteya, the great <span style="font-variant:small-caps">Eternal</span>
  is their womb, I their generating father. <span><span
      > ॥ 4 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सत्त्वं रजस्तम इति गुणाः प्रकृतिसंभवाः ।
      </p>
      <p>निबध्नन्ति महाबाहो देहे देहिनमव्ययम् ॥ ५ ॥
      </p>
    </div>
  </div>
</div>
<p>Harmony,<sup id="cite_ref-2" class="reference"><a href="#cite_note-2"></a></sup> Motion, Inertia, such are
  the qualities<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"></a></sup>, Matter<sup
    id="cite_ref-4" class="reference"><a href="#cite_note-4"></a></sup>-born; they bind fast in the body, O
  great-armed one, the indestructible dweller in the body. <span><span
      > ॥ 5 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तत्र सत्त्वं निर्मलत्वात्प्रकाशकमनामयम् ।
      </p>
      <p>सुखसङ्गेन बध्नाति ज्ञानसङ्गेन चानघ ॥ ६ ॥
      </p>
    </div>
  </div>
</div>
<p>Of these Harmony from its stainlessness,&#32;<span><span class="pagenum ws-pagenum" id="201" data-page-number="201"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/211">&#8203;</span></span>luminous and healthy, bindeth
  by the attachment to bliss and the attachment to wisdom, O sinless one. <span
   ><span > ॥ 6 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>रजो रागात्मकं विद्धि तृष्णासङ्गसमुद्भवम् ।
      </p>
      <p>तन्निबध्नाति कौन्तेय कर्मसङ्गेन देहिनम् ॥ ७ ॥
      </p>
    </div>
  </div>
</div>
<p>Motion, the passion nature, know thou, is the source of attachment and thirst for life, O Kaunteya, that bindeth the
  dweller in the body by the attachment to action. <span><span
      > ॥ 7 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तमस्त्वज्ञानजं विद्धि मोहनं सर्वदेहिनाम् ।
      </p>
      <p>प्रमादालस्यनिद्राभिस्तन्निबध्नाति भारत ॥ ८ ॥
      </p>
    </div>
  </div>
</div>
<p>But Inertia, know thou, born of unwisdom, is the deluder of all dwellers in the body; that bindeth by heedlessness,
  indolence and sloth, O Bharata ॥ 8 ॥
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सत्त्वं सुखे सञ्जयति रजः कर्मणि भारत ।
      </p>
      <p>ज्ञानमावृत्य तु तमः प्रमादे सञ्जयत्युत ॥ ९ ॥
      </p>
    </div>
  </div>
</div>
<p>Harmony attacheth to bliss, Motion to action&#32;O Bharata. Inertia, verily, having shrouded wisdom, attacheth on the
  contrary to heedlessness. ॥ 9 ॥
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>रजस्तमश्चाभिभूय सत्त्वं भवति भारत ।
      </p>
      <p>रजः सत्त्वं तमश्चैव तमः सत्त्वं रजस्तथा ॥ १० ॥
      </p>
    </div>
  </div>
</div>
<p>Now Harmony prevaileth, having overpowered Motion and Inertia, O Bhârata; now Motion, having overpowered Harmony and
  Inertia; and now Inertia, having overpowered Harmony and Motion. <span><span
      > ॥ 10 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सर्वद्वारेषु देहेऽस्मिन्प्रकाश उपजायते ।
      </p>
      <p>ज्ञानं यदा तदा विद्याद्विवृद्धं सत्त्वमित्युत ॥ ११ ॥
      </p>
    </div>
  </div>
</div>
<p>When the wisdom-light streameth forth from all the gates of the body, then it may be known that Harmony is
  increasing. <span><span> ॥ 11 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>लोभः प्रवृत्तिरारंभः कर्मणामशमः स्पृहा ।
      </p>
      <p>रजस्येतानि जायन्ते विवृद्धे भरतर्षभ ॥ १२ ॥
      </p>
    </div>
  </div>
</div>
<p>Greed, outgoing energy, undertaking of actions,&#32;<span><span class="pagenum ws-pagenum" id="203"
      data-page-number="203"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/213">&#8203;</span></span>restlessness, desire—these are
  born of the increase of Motion, O best of the Bhâratas. <span><span
      > ॥ 12 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अप्रकाशोऽप्रवृत्तिश्च प्रमादो मोह एव च ।
      </p>
      <p>तमस्येतानि जायन्ते विवृद्धे कुरुनन्दन ॥ १३ ॥
      </p>
    </div>
  </div>
</div>
<p>Darkness, stagnation and heedlessness and also delusion—these are born of the increase of Inertia, O joy of the
  Kurus. <span><span> ॥ 13 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यदा सत्त्वे प्रवृद्धे तु प्रलयं याति देहभृत् ।
      </p>
      <p>तदोत्तमविदां लोकानमलान्प्रतिपद्यते ॥ १४ ॥
      </p>
    </div>
  </div>
</div>
<p>If Harmony verily prevaileth when the embodied goeth to dissolution, then he goeth forth to the spotless worlds of
  the great Sages. <span><span> ॥ 14 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>रजसि प्रलयं गत्वा कर्मसङ्गिषु जायते ।
      </p>
      <p>तथा प्रलीनस्तमसि मूढयोनिषु जायते ॥ १५ ॥
      </p>
    </div>
  </div>
</div>
<p>Having gone to dissolution in Motion, he is born among those attached to action; if dissolved in Inertia, he is born
  in the wombs of the senseless. <span><span
      > ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="204"
    data-page-number="204" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/214">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>कर्मणः सुकृतस्याहुः सात्त्विकं निर्मलं फलम् ।
      </p>
      <p>रजसस्तु फलं दुःखमज्ञानं तमसः फलम् ॥ १६ ॥
      </p>
    </div>
  </div>
</div>
<p>It is said the fruit of a good action is harmonious and spotless; verily the fruit of Motion is pain, and the fruit
  of Inertia unwisdom ॥ 16 ॥
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सत्त्वात्सञ्जायते ज्ञानं रजसो लोभ एव च ।
      </p>
      <p>प्रमादमोहौ तमसो भवतोऽज्ञानमेव च ॥ १७ ॥
      </p>
    </div>
  </div>
</div>
<p>From Harmony wisdom is born, and also greed from Motion; heedlessness and delusion are of Inertia and also unwisdom.
  <span><span> ॥ 17 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ऊर्ध्वं गच्छन्ति सत्त्वस्था मध्ये तिष्ठन्ति राजसाः ।
      </p>
      <p>जघन्यगुणवृत्तिस्था अधो गच्छन्ति तामसाः ॥ १८ ॥
      </p>
    </div>
  </div>
</div>
<p>They rise upwards who are settled in Harmony; the Active dwell in the mid-most place: the Inert go downwards,
  enveloped in the vilest ॥ 18 ॥
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="205"
    data-page-number="205" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/215">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>नान्यं गुणेभ्यः कर्तारं यदा द्रष्टाऽनुपश्यति ।
      </p>
      <p>गुणेभ्यश्च परं वेत्ति मद्भावं सोऽधिगच्छति ॥ १९ ॥
      </p>
    </div>
  </div>
</div>
<p>When the Seer perceiveth no agent other than the qualities<sup id="cite_ref-p205Gunas_5-0" class="reference"><a
      href="#cite_note-p205Gunas-5"></a></sup>, and knoweth <span style="font-variant:small-caps">That</span>
  which is higher than the qualities,<sup id="cite_ref-p205Gunas_5-1" class="reference"><a
      href="#cite_note-p205Gunas-5"></a></sup> he entereth into My Nature. <span
   ><span > ॥ 19 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>गुणानेतानतीत्य त्रीन्देही देहसमुद्भवान् ।
      </p>
      <p>जन्ममृत्युजरादुःखैर्विमुक्तोऽमृतमश्नुते ॥ २० ॥
      </p>
    </div>
  </div>
</div>
<p>When the dweller in the body hath crossed over these three qualities,<sup id="cite_ref-p205Gunas_5-2"
    class="reference"><a href="#cite_note-p205Gunas-5"></a></sup> whence all bodies have been produced,
  liberated from birth, death, old age and sorrow, he drinketh the nectar of immortality<sup id="cite_ref-6"
    class="reference"><a href="#cite_note-6"></a></sup>. <span><span
      > ॥ 20 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>अर्जुन उवाच ।
        </p>
      </div>
      <p>कैर्लिङ्गैस्त्रीन्गुणानेतानतीतो भवति प्रभो ।
      </p>
      <p>किमाचारः कथं चैतांस्त्रीन्गुणानतिवर्तते ॥ २१ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
&#32;<span><span class="pagenum ws-pagenum" id="206" data-page-number="206"
    title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/216">&#8203;</span></span>
<div class="tiInherit" style="text-align:center;">
  <p>Arjuna said:
  </p>
</div>
<p>What are the marks of him who hath crossed over the three qualities<sup id="cite_ref-p205Gunas_5-3"
    class="reference"><a href="#cite_note-p205Gunas-5"></a></sup>, O Lord? How acteth he, and how doth he go
  beyond these three qualities<sup id="cite_ref-p205Gunas_5-4" class="reference"><a
      href="#cite_note-p205Gunas-5"></a></sup>? <span><span
      > ॥ 21 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>प्रकाशं च प्रवृत्तिं च मोहमेव च पाण्डव ।
      </p>
      <p>न द्वेष्टि संप्रवृत्तानि न निवृत्तानि काङ्क्षति ॥ २२ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>He, O Pândava, who hateth not radiance, nor outgoing energy, nor even delusion, when present, nor longeth after them,
  absent; <span><span> ॥ 22 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>उदासीनवदासीनो गुणैर्यो न विचाल्यते ।
      </p>
      <p>गुणा वर्तन्त इत्येव योऽवतिष्ठति नेङ्गते ॥ २३ ॥
      </p>
    </div>
  </div>
</div>
<p>He who, seated as a neutral, is unshaken by the qualities<sup id="cite_ref-p205Gunas_5-5" class="reference"><a
      href="#cite_note-p205Gunas-5"></a></sup>; who, saying, "The qualities<sup id="cite_ref-p205Gunas_5-6"
    class="reference"><a href="#cite_note-p205Gunas-5"></a></sup> revolve," standeth apart immovable. <span
   ><span > ॥ 23 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="207"
    data-page-number="207" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/217">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>समदुःखसुखः स्वस्थः समलोष्टाश्मकाञ्चनः ।
      </p>
      <p>तुल्यप्रियाप्रियो धीरस्तुल्यनिन्दात्मसंस्तुतिः ॥ २४ ॥
      </p>
    </div>
  </div>
</div>
<p>Balanced in pleasure and pain, self-reliant, to whom a lump of earth, a rock and gold are alike, the same to loved
  and unloved, firm, the same in censure and in praise, <span><span
      > ॥ 24 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मानापमानयोस्तुल्यस्तुल्यो मित्रारिपक्षयोः ।
      </p>
      <p>सर्वारंभपरित्यागी गुणातीतः स उच्यते ॥ २५ ॥
      </p>
    </div>
  </div>
</div>
<p>The same in honour and ignominy, the same to friend and foe, abandoning all undertakings—he is said to have crossed
  over the qualities.<sup id="cite_ref-p205Gunas_5-7" class="reference"><a
      href="#cite_note-p205Gunas-5"></a></sup> <span><span
      > ॥ 25 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मां च योऽव्यभिचारेण भक्तियोगेन सेवते ।
      </p>
      <p>स गुणान्समतीत्यैतान् ब्रह्मभूयाय कल्पते ॥ २६ ॥
      </p>
    </div>
  </div>
</div>
<p>And he who serveth Me exclusively by the Yoga of devotion, he, crossing beyond the qualities,<sup
    id="cite_ref-p205Gunas_5-8" class="reference"><a href="#cite_note-p205Gunas-5"></a></sup> he is fit to
  become the <span style="font-variant:small-caps">Eternal</span>. <span><span
      > ॥ 26 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="208"
    data-page-number="208" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/218">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ब्रह्मणो हि प्रतिष्ठाऽहममृतस्याव्ययस्य च ।
      </p>
      <p>शाश्वतस्य च धर्मस्य सुखस्यैकान्तिकस्य च ॥ २७ ॥
      </p>
    </div>
  </div>
</div>
<p>For I am the abode of the <span style="font-variant:small-caps">Eternal</span>, and of the indestructible nectar of
  immortality, of immemorial righteousness,<sup id="cite_ref-7" class="reference"><a
      href="#cite_note-7"></a></sup> and of unending bliss. <span><span
      > ॥ 27 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>इति श्रीमद्भगवद्गीता॰ गुणत्रयविभागयोगो नाम चतुर्दशोऽध्यायः ।
      </p>
    </div>
  </div>
</div>