<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>अर्जुन उवाच ।
        </p>
      </div>
      <p>ये शास्त्रविधिमुत्सृज्य यजन्ते श्रद्धयान्विताः ।
      </p>
      <p>तेषां निष्ठा तु का कृष्ण सत्त्वमाहो रजस्तमः ॥ १ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>Arjuna said:
  </p>
</div>
<p>Those that sacrifice full of faith,<sup id="cite_ref-1" class="reference"><a
      href="#cite_note-1"></a></sup> but casting aside the ordinances of the Scriptures, what is verily their
  condition, O Krishna? Is it one of Purity, Passion, or Darkness<sup id="cite_ref-2" class="reference"><a
      href="#cite_note-2"></a></sup>? <span><span
      > ॥ 1 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <div class="tiInherit" style="text-align:center;">
        <p>श्रीभगवानुवाच ।
        </p>
      </div>
      <p>त्रिविधा भवति श्रद्धा देहिनां सा स्वभावजा ।
      </p>
      <p>सात्त्विकी राजसी चैव तामसी चेति तां शृणु ॥ २ ॥
      </p>
    </div>
  </div>
</div>
<div class="tiInherit" style="text-align:center;">
  <p>The Blessed Lord said:
  </p>
</div>
<p>Threefold is by nature the inborn faith of the&#32;<span><span class="pagenum ws-pagenum" id="228"
      data-page-number="228"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/238">&#8203;</span></span>embodied—pure, passionate, and
  dark. Hear thou of these. <span><span> ॥ 2 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सत्त्वानुरूपा सर्वस्य श्रद्धा भवति भारत ।
      </p>
      <p>श्रद्धामयोऽयं पुरुषो यो यच्छ्रद्धः स एव सः ॥ ३ ॥
      </p>
    </div>
  </div>
</div>
<p>The faith of each is shaped to his own nature, O Bhârata. The man consists of his faith<sup id="cite_ref-3"
    class="reference"><a href="#cite_note-3"></a></sup>; that which his faith is, he is even that. <span
   ><span > ॥ 3 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यजन्ते सात्त्विका देवान्यक्षरक्षांसि राजसाः ।
      </p>
      <p>प्रेतान्भूतगणांश्चान्ये यजन्ते तामसा जनाः ॥ ४ ॥
      </p>
    </div>
  </div>
</div>
<p>Pure men worship the Gods; the passionate the gnomes and giants<sup id="cite_ref-4" class="reference"><a
      href="#cite_note-4"></a></sup>; the others, the dark folk, worship ghosts and troops of
  nature-spirits<sup id="cite_ref-5" class="reference"><a href="#cite_note-5"></a></sup>. <span
   ><span > ॥ 4 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="229"
    data-page-number="229" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/239">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अशास्त्रविहितं घोरं तप्यन्ते ये तपो जनाः ।
      </p>
      <p>दम्भाहंकारसंयुक्ताः कामरागबलान्विताः ॥ ५ ॥
      </p>
    </div>
  </div>
</div>
<p>The men who perform severe austerities, unenjoined by the Scriptures, wedded to vanity and egoism, impelled by the
  force of their desires and passions, <span><span
      > ॥ 5 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>कर्षयन्तः शरीरस्थं भूतग्राममचेतसः ।
      </p>
      <p>मां चैवान्तःशरीरस्थं तान्विद्ध्यासुरनिश्चयान् ॥ ६ ॥
      </p>
    </div>
  </div>
</div>
<p>Unintelligent, tormenting the aggregated elements forming the body, and Me also, seated in the inner body, know these
  demoniacal in their resolves. <span><span
      > ॥ 6 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>आहारस्त्वपि सर्वस्य त्रिविधो भवति प्रियः ।
      </p>
      <p>यज्ञस्तपस्तथा दानं तेषां भेदमिमं शृणु ॥ ७ ॥
      </p>
    </div>
  </div>
</div>
<p>The food also which is dear to each is threefold, as also sacrifice, austerity and almsgiving. Hear thou the
  distinction of these. <span><span> ॥ 7 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="230"
    data-page-number="230" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/240">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>आयुःसत्त्वबलारोग्यसुखप्रीतिविवर्धनाः ।
      </p>
      <p>रस्याः स्निग्धाः स्थिरा हृद्या आहाराः सात्त्विकप्रियाः ॥ ८ ॥
      </p>
    </div>
  </div>
</div>
<p>The foods that augment vitality, energy, vigour, health, joy and cheerfulness, delicious, bland, substantial and
  agreeable, are dear to the pure. <span><span
      > ॥ 8 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>कट्‌वम्ललवणात्युष्णतीक्ष्णरूक्षविदाहिनः ।
      </p>
      <p>आहारा राजसस्येष्टा दुःखशोकामयप्रदाः ॥ ९ ॥
      </p>
    </div>
  </div>
</div>
<p>The passionate desire foods that are bitter, sour, saline, over-hot, pungent, dry and burning and which produce pain,
  grief and sickness. <span><span> ॥ 9 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यातयामं गतरसं पूति पर्युषितं च यत् ।
      </p>
      <p>उच्छिष्टमपि चामेध्यं भोजनं तामसप्रियम् ॥ १० ॥
      </p>
    </div>
  </div>
</div>
<p>That which is stale and flat, putrid and corrupt, leavings also and unclean, is the food dear to the dark. <span
   ><span > ॥ 10 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अफलाकाङ्क्षिभिर्यज्ञो विधिदृष्टो य इज्यते ।
      </p>
      <p>यष्टव्यमेवेति मनः समाधाय स सात्त्विकः ॥ ११ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="231" data-page-number="231"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/241">&#8203;</span></span>The sacrifice which is offered
  by men without desire for fruit, as enjoined by the ordinances, under the firm belief that sacrifice is a duty, that
  is pure. <span><span> ॥ 11 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अभिसंधाय तु फलं दम्भार्थमपि चैव यत् ।
      </p>
      <p>इज्यते भरतश्रेष्ठ तं यज्ञं विद्धि राजसम् ॥ १२ ॥
      </p>
    </div>
  </div>
</div>
<p>The sacrifice offered with a view verily to fruit, and also indeed for self-glorification, O best of the Bhâratas;
  know thou that to be of passion. <span><span
      > ॥ 12 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>विधिहीनमसृष्टान्नं मन्त्रहीनमदक्षिणम् ।
      </p>
      <p>श्रद्धाविरहितं यज्ञं तामसं परिचक्षते ॥ १३ ॥
      </p>
    </div>
  </div>
</div>
<p>The sacrifice contrary to the ordinances, without distributing food, devoid of words of power<sup id="cite_ref-6"
    class="reference"><a href="#cite_note-6"></a></sup> and without gifts<sup id="cite_ref-7"
    class="reference"><a href="#cite_note-7"></a></sup>, empty of faith, is said to be of darkness. <span
   ><span > ॥ 13 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>देवद्विजगुरुप्राज्ञपूजनं शौचमार्जवम् ।
      </p>
      <p>ब्रह्मचर्यमहिंसा च शारीरं तप उच्यते ॥ १४ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="232" data-page-number="232"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/242">&#8203;</span></span>Worship given to the Gods, to
  the twice-born, to the teachers<sup id="cite_ref-8" class="reference"><a href="#cite_note-8"></a></sup> and
  to the wise, purity, straightforwardness, continence and harmlessness, are called the austerity of the body. <span
   ><span > ॥ 14 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अनुद्वेगकरं वाक्यं सत्यं प्रियहितं च यत् ।
      </p>
      <p>स्वाध्यायाभ्यसनं चैव वाङ्मयं तप उच्यते ॥ १५ ॥
      </p>
    </div>
  </div>
</div>
<p>Speech causing no annoyance, truthful, pleasant and beneficial, the practice of the study of the Scriptures, are
  called the austerity of speech. <span><span
      > ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मनः प्रसादः सौम्यत्वं मौनमात्मविनिग्रहः ।
      </p>
      <p>भावसंशुद्धिरित्येतत्तपो मानसमुच्यते ॥ १६ ॥
      </p>
    </div>
  </div>
</div>
<p>Mental happiness, equilibrium, silence, self-control, purity of nature—these are called the austerity of the mind<sup
    id="cite_ref-9" class="reference"><a href="#cite_note-9"></a></sup>. <span
   ><span > ॥ 16 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>श्रद्धया परया तप्तं तपस्तत्त्रिविधं नरैः ।
      </p>
      <p>अफलाकाङ्क्षिभिर्युक्तैः सात्त्विकं परिचक्षते ॥ १७ ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="233" data-page-number="233"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/243">&#8203;</span></span>This threefold austerity,
  performed by men with the utmost faith, without desire for fruit, harmonised, is said to be pure. <span
   ><span > ॥ 17 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सत्कारमानपूजार्थं तपो दम्भेन चैव यत् ।
      </p>
      <p>क्रियते तदिह प्रोक्तं राजसं चलमध्रुवम् ॥ १८ ॥
      </p>
    </div>
  </div>
</div>
<p>The austerity which is practised with the object of gaining respect, honour and worship, and for ostentation, is said
  to be of passion, unstable and fleeting. <span><span
      > ॥ 18 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>मूढग्राहेणात्मनो यत्पीडया क्रियते तपः ।
      </p>
      <p>परस्योत्सादनार्थं वा तत्तामसमुदाहृतम् ॥ १९ ॥
      </p>
    </div>
  </div>
</div>
<p>That austerity done under a deluded understanding, with self-torture, or with the object of destroying another, that
  is declared of darkness. <span><span> ॥ 20 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>दातव्यमिति यद्दानं दीयतेऽनुपकारिणे ।
      </p>
      <p>देशे काले च पात्रे च तद्दानं सात्त्विकं स्मृतम् ॥ २० ॥
      </p>
    </div>
  </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="234" data-page-number="234"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/244">&#8203;</span></span>That alms given to one who
  does nothing in return, believing that a gift ought to be made in a fit place and time to a worthy person, that alms
  is accounted pure. <span><span> ॥ 20 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यत्तु प्रत्युपकारार्थं फलमुद्दिश्य वा पुनः ।
      </p>
      <p>दीयते च परिक्लिष्टं तद्दानं राजसं स्मृतम् ॥ २१ ॥
      </p>
    </div>
  </div>
</div>
<p>That given with a view to receiving in return, or looking for fruit again, or grudgingly, that alms is accounted of
  passion. <span><span> ॥ 21 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अदेशकाले यद्दानमपात्रेभ्यश्च दीयते ।
      </p>
      <p>असत्कृतमवज्ञातं तत्तामसमुदाहृतम् ॥ २२ ॥
      </p>
    </div>
  </div>
</div>
<p>That alms given at unfit place and time, and to unworthy persons, disrespectfully and contemptuously, that is
  declared of darkness. <span><span> ॥ 22 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>ॐतत्सदिति निर्देशो ब्रह्मणस्त्रिविधः स्मृतः ।
      </p>
      <p>ब्राह्मणास्तेन वेदाश्च यज्ञाश्च विहिताः पुरा ॥ २३ ॥
      </p>
    </div>
  </div>
</div>
<p>"<span style="font-variant:small-caps">Aum Tat Sat</span>," this has been considered to be the threefold designation
  of the <span style="font-variant:small-caps">Eternal</span>. By&#32;<span><span class="pagenum ws-pagenum" id="235"
      data-page-number="235" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/245">&#8203;</span></span>that
  were ordained of old Brâhmanas, Vedas and sacrifices. <span><span
      > ॥ 23 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तस्मादोमित्युदाहृत्य यज्ञदानतपःक्रियाः ।
      </p>
      <p>प्रवर्तन्ते विधानोक्ताः सततं ब्रह्मवादिनाम् ॥ २४ ॥
      </p>
    </div>
  </div>
</div>
<p>Therefore with the pronunciation of "<span style="font-variant:small-caps">Aum</span>" the acts of sacrifice, gift
  and austerity as laid down in the ordinances are always commenced by the knowers of the <span
    style="font-variant:small-caps">Eternal</span>. <span><span
      > ॥ 24 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>तदित्यनभिसन्धाय फलं यज्ञतपःक्रियाः ।
      </p>
      <p>दानक्रियाश्च विविधाः क्रियन्ते मोक्षकाङ्क्षिभिः ॥ २५ ॥
      </p>
    </div>
  </div>
</div>
<p>With the pronunciation of "<span style="font-variant:small-caps">Tat</span>" and without aiming at fruit are
  performed the various acts of sacrifice, austerity and gift, by those desiring liberation. <span
   ><span > ॥ 25 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>सद्भावे साधुभावे च सदित्येतत्प्रयुज्यते ।
      </p>
      <p>प्रशस्ते कर्मणि तथा सच्छब्दः पार्थ युज्यते ॥ २६ ॥
      </p>
    </div>
  </div>
</div>
<p>"<span style="font-variant:small-caps">Sat</span>" is used in the sense of reality and&#32;<span><span
      class="pagenum ws-pagenum" id="236" data-page-number="236"
      title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/246">&#8203;</span></span>goodness; likewise, O Pârtha,
  the word "<span style="font-variant:small-caps">Sat</span>" is used in the sense of a good work. <span
   ><span > ॥ 26 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>यज्ञे तपसि दाने च स्थितिः सदिति चोच्यते ।
      </p>
      <p>कर्म चैव तदर्थीयं सदित्येवाभिधीयते ॥ २७ ॥
      </p>
    </div>
  </div>
</div>
<p>Steadfastness in sacrifice, austerity and gift is also called "<span style="font-variant:small-caps">Sat</span>", and
  action for the sake of the Supreme<sup id="cite_ref-10" class="reference"><a
      href="#cite_note-10"></a></sup> is also named "<span style="font-variant:small-caps">Sat</span>."
  <span><span> ॥ 27 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
  <div>
    <div lang="sa" dir="ltr" style="font-weight: bold;">
      <p>अश्रद्धया हुतं दत्तं तपस्तप्तं कृतं च यत् ।
      </p>
      <p>असदित्युच्यते पार्थ न च तत्प्रेत्य नो इह ॥ २८ ॥
      </p>
    </div>
  </div>
</div>