<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>श्रीभगवानुवाच ।
                </p>
            </div>
            <p>इमं विवस्वते योगं प्रोक्तवानहमव्ययम् ।
            </p>
            <p>विवस्वान्मनवे प्राह मनुरिक्ष्वाकवेऽब्रवीत् ॥ १ ॥
            </p>
        </div>
    </div>
</div>
<div class="tiInherit" style="text-align:center;">
    <p>The Blessed Lord said:
    </p>
</div>
<p>This imperishable yoga I declared to Vivasvân; Vivasvân taught it to Manu; Manu to Ikshvâku told it. <span
       ><span > ॥ 1 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>एवं परम्पराप्राप्तमिमं राजर्षयो विदुः ।
            </p>
            <p>स कालेनेह महता योगो नष्टः परन्तप ॥ २ ॥
            </p>
        </div>
    </div>
</div>
<p>This, handed on down the line, the King-Sages knew. This yoga by great efflux of time decayed in the world, O
    Parantapa. <span><span> ॥ 2 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>स एवाऽयं मया तेऽद्य योगः प्रोक्तः पुरातनः ।
            </p>
            <p>भक्तोऽसि मे सखा चेति रहस्यं ह्येतदुत्तमम् ॥ ३ ॥
            </p>
        </div>
    </div>
</div>
<p>This same ancient yoga hath been to-day declared to thee by Me, for thou art My devotee and My friend; it is the
    supreme Secret. <span><span> ॥ 3 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="62"
        data-page-number="62" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/72">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>अर्जुन उवाच ।
                </p>
            </div>
            <p>अपरं भवतो जन्म परं जन्म विवस्वतः ।
            </p>
            <p>कथमेतद्विजानीयां त्वमादौ प्रोक्तवानिति ॥ ४ ॥
            </p>
        </div>
    </div>
</div>
<div class="tiInherit" style="text-align:center;">
    <p>Arjuna said:
    </p>
</div>
<p>Later was Thy birth, earlier the birth of Vivasvân; how then am I to understand that Thou declaredst it in the
    beginning? <span><span> ॥ 4 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <div class="tiInherit" style="text-align:center;">
                <p>श्रीभगवानुवाच ।
                </p>
            </div>
            <p>बहूनि मे व्यतीतानि जन्मानि तव चार्जुन ।
            </p>
            <p>तान्यहं वेद सर्वाणि न त्वं वेत्थ परन्तप ॥ ५ ॥
            </p>
        </div>
    </div>
</div>
<div class="tiInherit" style="text-align:center;">
    <p>The Blessed Lord said:
    </p>
</div>
<p>Many births have been left behind by Me and by thee, O Arjuna. I know them all, but thou knowest not thine, O
    Parantapa. <span><span> ॥ 5 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अजोऽपि सन्नव्ययात्मा भूतानामीश्वरोऽपि सन् ।
            </p>
            <p>प्रकृतिं स्वामधिष्टाय सम्भवाम्यात्ममायया ॥ ६ ॥
            </p>
        </div>
    </div>
</div>
<p>Though unborn, the imperishable <span style="font-variant:small-caps">Self</span>, and also the Lord of all beings,
    brooding over nature&#32;<span><span class="pagenum ws-pagenum" id="63" data-page-number="63"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/73">&#8203;</span></span>which is Mine own, yet I
    am born through My own Power.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1"></a></sup>
    <span><span> ॥ 6 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यदा यदा हि धर्मस्य ग्लानिर्भवति भारत ।
            </p>
            <p>अभ्युत्थानमधर्मस्य तदाऽऽत्मानं सृजाम्यहम् ॥ ७ ॥
            </p>
        </div>
    </div>
</div>
<p>Whenever there is decay of righteousness,<sup id="cite_ref-p63Dharma_2-0" class="reference"><a
            href="#cite_note-p63Dharma-2"></a></sup> O Bhârata, and there is exaltation of
    unrighteousness,<sup id="cite_ref-3" class="reference"><a href="#cite_note-3"></a></sup> then I Myself
    come forth; <span><span> ॥ 7 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>परित्राणाय साधूनां विनाशाय च दुष्कृताम् ।
            </p>
            <p>धर्मसंस्थापनार्थाय सम्भवामि युगे युगे ॥ ८ ॥
            </p>
        </div>
    </div>
</div>
<p>For the protection of the good, for the destruction of evil-doers, for the sake of firmly establishing
    righteousness,<sup id="cite_ref-p63Dharma_2-1" class="reference"><a
            href="#cite_note-p63Dharma-2"></a></sup> I am born from age to age. <span
       ><span > ॥ 8 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>जन्म कर्म च मे दिव्यमेवं यो वेत्ति तत्त्वतः ।
            </p>
        </div>&#32;<span><span class="pagenum ws-pagenum" id="64" data-page-number="64"
                title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/74">&#8203;</span></span>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>त्यक्त्वा देहं पुनर्जन्म नैति मामेति सोऽर्जुन ॥ ९ ॥
            </p>
        </div>
    </div>
</div>
<p>He who thus knoweth My divine birth and action, in its essence, having abandoned the body, cometh not to birth again,
    but cometh unto Me, O Arjuna. <span><span
            > ॥ 9 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>वीतरागभयक्रोधा मन्मया मामुपाश्रिताः ।
            </p>
            <p>बहवो ज्ञानतपसा पूता मद्भावमागताः ॥ १० ॥
            </p>
        </div>
    </div>
</div>
<p>Freed from passion, fear and anger, filled with Me, taking refuge in Me, purified in the fire<sup id="cite_ref-4"
        class="reference"><a href="#cite_note-4"></a></sup> of wisdom, many have entered into My Being. <span
       ><span > ॥ 10 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>ये यथा मां प्रपद्यन्ते तांस्तथैव भजाम्यहम् ।
            </p>
            <p>मम वर्त्मानुवर्तन्ते मनुष्याः पार्थ सर्वशः ॥ ११ ॥
            </p>
        </div>
    </div>
</div>
<p>However men approach Me, even so do I welcome them, for the path men take from every side is Mine, O Pârtha. <span
       ><span > ॥ 11 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="65"
        data-page-number="65" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/75">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>काङ्क्षन्तः कर्मणां सिद्धिं यजन्त इह देवताः ।
            </p>
            <p>क्षिप्रं हि मानुषे लोके सिद्धिर्भवति कर्मजा ॥ १२ ॥
            </p>
        </div>
    </div>
</div>
<p>They who long after success in action on earth worship the Shining Ones; for in brief space verily, in this world of
    men, success is born of action. <span><span
            > ॥ 12 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>चातुर्वर्ण्यं मया सृष्टं गुणकर्मविभागशः ।
            </p>
            <p>तस्य कर्तारमपि मां विद्ध्यकर्तारमव्ययम् ॥ १३ ॥
            </p>
        </div>
    </div>
</div>
<p>The four castes were emanated by Me, by the different distribution of qualities<sup id="cite_ref-5"
        class="reference"><a href="#cite_note-5"></a></sup> and actions; know Me to be the author of them,
    though the actionless and inexhaustible. <span><span
            > ॥ 13 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>न मां कर्माणि लिम्पन्ति न मे कर्मफले स्पृहा ।
            </p>
            <p>इति मां योऽभिजानाति कर्मभिर्न स बद्ध्यते ॥ १४ ॥
            </p>
        </div>
    </div>
</div>
<p>Nor do actions affect Me, nor is the fruit of action desired by Me. He who thus knoweth Me is not bound by actions.
    <span><span> ॥ 14 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="66"
        data-page-number="66" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/76">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>एवं ज्ञात्वा कृतं कर्म पूर्वैरपि मुमुक्षुभिः ।
            </p>
            <p>कुरु कर्मैव तस्मात्त्वं पूर्वैः पूर्वतरं कृतम् ॥ १५ ॥
            </p>
        </div>
    </div>
</div>
<p>Having thus known, our forefathers, ever seeking liberation, performed action; therefore do thou also perform action,
    as did our forefathers in the olden time. <span><span
            > ॥ 15 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>किं कर्म किमकर्मेति कवयोऽप्यत्र मोहिताः ।
            </p>
            <p>तत्ते कर्म प्रवक्ष्यामि यज्ज्ञात्वा मोक्ष्यसेऽशुभात् ॥ १६ ॥
            </p>
        </div>
    </div>
</div>
<p>"What is action, what inaction"? Even the wise are herein perplexed. Therefore I will declare to thee the action by
    knowing which thou shalt be loosed from evil. <span><span
            > ॥ 16 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>कर्मणो ह्यपि बोद्धव्यं बोद्धव्यं च विकर्मणः ।
            </p>
            <p>अकर्मणश्च बोद्धव्यं गहना कर्मणो गतिः ॥ १७ ॥
            </p>
        </div>
    </div>
</div>
<p>It is needful to discriminate action, to discriminate unlawful action, and to discriminate inaction; mysterious is
    the path of action. <span><span> ॥ 17 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="67"
        data-page-number="67" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/77">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>कर्मण्यकर्म यः पश्येदकर्मणि च कर्म यः ।
            </p>
            <p>स बुद्धिमान्मनुष्येषु स युक्तः कृत्स्नकर्मकृत् ॥ १८ ॥
            </p>
        </div>
    </div>
</div>
<p>He who seeth inaction in action, and action in inaction, he is wise among men, he is harmonious, even while
    performing all action. <span><span> ॥ 18 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यस्य सर्वे समारम्भाः कामसङ्कल्पवर्जिताः ।
            </p>
            <p>ज्ञानाग्निदग्धकर्माणं तमाहुः पण्डितं बुधाः ॥ १९ ॥
            </p>
        </div>
    </div>
</div>
<p>Whose works are all free from the moulding of desire, whose actions are burned up by the fire of wisdom, him the wise
    have called a Sage. <span><span> ॥ 19 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>त्यक्त्वा कर्मफलासङ्गं नित्यतृप्तो निराश्रयः ।
            </p>
            <p>कर्मण्यभिप्रवृत्तोऽपि नैव किञ्चित्करोति सः ॥ २० ॥
            </p>
        </div>
    </div>
</div>
<p>Having abandoned attachment to the fruit of action, always content, nowhere seeking refuge, he is not doing anything,
    although doing actions. <span><span> ॥ 20 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>निराशीर्यतचित्तात्मा त्यक्तसर्वपरिग्रहः ।
            </p>
            <p>शारीरं केवलं कर्म कुर्वन्नाप्नोति किल्बिषम् ॥ २१ ॥
            </p>
        </div>
    </div>
</div>
<div></div>
<p>&#32;<span><span class="pagenum ws-pagenum" id="68" data-page-number="68"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/78">&#8203;</span></span>Hoping for naught, his
    mind and self controlled, having abandoned all greed, performing action by the body alone, he doth not commit sin.
    <span><span> ॥ 21 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यदृच्छालाभसन्तुष्टो द्वन्द्वातीतो विमत्सरः ।
            </p>
            <p>समः सिद्धावसिद्धौ च कृत्वाऽपि न निबध्यते ॥ २२ ॥
            </p>
        </div>
    </div>
</div>
<p>Content with whatsoever he obtaineth without effort, free from the pairs of opposites, without envy, balanced in
    success and failure, though
    acting he is not bound. <span><span> ॥ 22 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>गतसङ्गस्य मुक्तस्य ज्ञानावस्थितचेतसः ।
            </p>
            <p>यज्ञायाचरतः कर्म समग्रं प्रविलीयते ॥ २३ ॥
            </p>
        </div>
    </div>
</div>
<p>Of one with attachment dead, harmonious, with his thoughts established in wisdom, his works sacrifices, all action
    melts away. <span><span> ॥ 23 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>ब्रह्मार्पणं ब्रह्म हविर्ब्रह्माग्नौ ब्रह्मणा हुतम् ।
            </p>
            <p>ब्रह्मैव तेन गन्तव्यं ब्रह्मकर्मसमाधिना ॥ २४ ॥
            </p>
        </div>
    </div>
</div>
<p>The <span style="font-variant:small-caps">Eternal</span> the oblation, the <span
        style="font-variant:small-caps">Eternal</span> the clarified butter, are offered in the <span
        style="font-variant:small-caps">Eternal</span> the&#32;<span><span class="pagenum ws-pagenum" id="69"
            data-page-number="69"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/79">&#8203;</span></span>fire by the <span
        style="font-variant:small-caps">Eternal</span>; unto the <span style="font-variant:small-caps">Eternal</span>
    verily shall he go who in his action meditateth wholly upon the <span
        style="font-variant:small-caps">Eternal</span>.<sup id="cite_ref-6" class="reference"><a
            href="#cite_note-6"></a></sup> <span><span
            > ॥ 24 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>दैवमेवापरे यज्ञं योगिनः पर्युपासते ।
            </p>
            <p>ब्रह्माग्नावपरे यज्ञं यज्ञेनैवोपजुह्वति ॥ २५ ॥
            </p>
        </div>
    </div>
</div>
<p>Some Yogis offer up sacrifice to the Shining Ones<sup id="cite_ref-7" class="reference"><a
            href="#cite_note-7"></a></sup>; others sacrifice only by pouring sacrifice into the fire of the
    <span style="font-variant:small-caps">Eternal</span>; <span><span
            > ॥ 25 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>श्रोत्रादीनीन्द्रियाण्यन्ये संयमाग्निषु जुह्वति ।
            </p>
            <p>शब्दादीन्विषयानन्य इन्द्रियाग्निषु जुह्वति ॥ २६ ॥
            </p>
        </div>
    </div>
</div>
<p>Some pour as sacrifice hearing and the other senses into the fires of restraint; some pour sound and the other
    objects of sense into the fires of the senses as sacrifice; <span><span
            > ॥ 26 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="70"
        data-page-number="70" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/80">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>सर्वाणीन्द्रियकर्माणि प्राणकर्माणि चापरे ।
            </p>
            <p>आत्मसंयमयोगाग्नौ जुह्वति ज्ञानदीपिते ॥ २७ ॥
            </p>
        </div>
    </div>
</div>
<p>Others again into the wisdom-kindled fire of union attained by self-control, pour as sacrifice all the functions of
    the senses and the functions of life; <span><span
            > ॥ 27 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>द्रव्ययज्ञास्तपोयज्ञा योगयज्ञास्तथाऽपरे ।
            </p>
            <p>स्वाध्यायज्ञानयज्ञाश्च यतयः संशितव्रताः ॥ २८ ॥
            </p>
        </div>
    </div>
</div>
<p>Yet others the sacrifice of wealth, the sacrifice of austerity, the sacrifice of yoga, the sacrifice of silent
    reading and wisdom, men concentrated and of effectual vows; <span><span
            > ॥ 28 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अपाने जुह्वति प्राणं प्राणेऽपानं तथाऽपरे ।
            </p>
            <p>प्राणापानगती रुध्वा प्राणायामपरायणाः ॥ २९ ॥
            </p>
        </div>
    </div>
</div>
<p>Yet others pour as sacrifice the outgoing breath in the incoming, and the incoming in the outgoing, restraining the
    flow of the outgoing and&#32;<span><span class="pagenum ws-pagenum" id="71" data-page-number="71"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/81">&#8203;</span></span>incoming breaths, solely
    absorbed in the control of breathing.<sup id="cite_ref-8" class="reference"><a
            href="#cite_note-8"></a></sup> <span><span
            > ॥ 29 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अपरे नियताहाराः प्राणान्प्राणेषु जुह्वति ।
            </p>
            <p>सर्वेऽप्येते यज्ञविदो यज्ञक्षपितकल्मषाः ॥ ३० ॥
            </p>
        </div>
    </div>
</div>
<p>Others regular in food, pour as sacrifice their life-breaths in life-breaths. All these are knowers of sacrifice, and
    by sacrifice have destroyed their sins. <span><span
            > ॥ 30 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यज्ञशिष्टामृतभुजो यान्ति ब्रह्म सनातनम् ।
            </p>
            <p>नायं लोकोऽस्त्ययज्ञस्य कुतोऽन्यः कुरुसत्तम ॥ ३१ ॥
            </p>
        </div>
    </div>
</div>
<p>The eaters of the life-giving<sup id="cite_ref-9" class="reference"><a href="#cite_note-9"></a></sup>
    remains of sacrifice go to the changeless <span style="font-variant:small-caps">Eternal</span>. This world is not
    for the non-sacrificer, much less the other, O best of the Kurus. <span><span
            > ॥ 31 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="72"
        data-page-number="72" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/82">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>एवं बहुविधा यज्ञा वितता ब्रह्मणो मुखे ।
            </p>
            <p>कर्मजान्विद्धि तान्सर्वानेवं ज्ञात्वा विमोक्ष्यसे ॥ ३२ ॥
            </p>
        </div>
    </div>
</div>
<p>Many and various sacrifices are thus spread out before the <span style="font-variant:small-caps">Eternal</span>.<sup
        id="cite_ref-10" class="reference"><a href="#cite_note-10"></a></sup> Know thou that all
    these are born of action, and thus knowing thou shalt be free. <span><span
            > ॥ 32 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>श्रेयान्द्रव्यमयाद्यज्ञाज्ज्ञानयज्ञः परन्तप ।
            </p>
            <p>सर्वं कर्माखिलं पार्थ ज्ञाने परिसमाप्यते ॥ ३३ ॥
            </p>
        </div>
    </div>
</div>
<p>Better than the sacrifice of any objects is the sacrifice of wisdom, O Parantapa. All actions in their entirety, O
    Pârtha, culminate in wisdom. <span><span
            > ॥ 33 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>तद्विद्धि प्रणिपातेन परिप्रश्नेन सेवया ।
            </p>
            <p>उपदेक्ष्यन्ति ते ज्ञानं ज्ञानिनस्तत्त्वदर्शिनः ॥ ३४ ॥
            </p>
        </div>
    </div>
</div>
<p>Learn thou this by discipleship,<sup id="cite_ref-11" class="reference"><a
            href="#cite_note-11"></a></sup> by investiga<span><span class="pagenum ws-pagenum" id="73"
            data-page-number="73"
            title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/83">&#8203;</span></span>tion, and by service. The
    wise, the seers of the essence of things, will instruct thee in wisdom. <span
       ><span > ॥ 34 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यज्ज्ञात्वा न पुनर्मोहमेवं यास्यसि पाण्डव ।
            </p>
            <p>येन भूतान्यशेषेण द्रक्ष्यस्यात्मन्यथो मयि ॥ ३५ ॥
            </p>
        </div>
    </div>
</div>
<p>And having known this, thou shalt not again fall into this confusion, O Pândava; for by this thou wilt see all beings
    without exception in the <span style="font-variant:small-caps">Self</span>, and thus in Me. <span
       ><span > ॥ 35 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अपि चेदसि पापेभ्यः सर्वेभ्यः पापकृत्तमः ।
            </p>
            <p>सर्वं ज्ञानप्लवेनैव वृजिनं सन्तरिष्यसि ॥ ३६ ॥
            </p>
        </div>
    </div>
</div>
<p>Even if thou art the most sinful of all sinners, yet shalt thou cross over all sin by the raft of wisdom. <span
       ><span > ॥ 36 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>यथैधांसि समिद्धोऽग्निर्भस्मसात्कुरुतेऽर्जुन ।
            </p>
            <p>ज्ञानाग्निः सर्वकर्माणि भस्मसात्कुरुते तथा ॥ ३७ ॥
            </p>
        </div>
    </div>
</div>
<p>As the burning fire reduces fuel to ashes, O Arjuna, so doth the fire of wisdom reduce all actions to ashes. <span
       ><span > ॥ 37 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="74"
        data-page-number="74" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/84">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>न हि ज्ञानेन सदृशं पवित्रमिह विद्यते ।
            </p>
            <p>तत्स्वयं योगसंसिद्धः कालेनात्मनि विन्दति ॥ ३८ ॥
            </p>
        </div>
    </div>
</div>
<p>Verily there is no purifier in this world like wisdom; he that is perfected in yoga finds it in the <span
        style="font-variant:small-caps">Self</span> in due season. <span><span
            > ॥ 38 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>श्रद्धावाँल्लभते ज्ञानं तत्परः संयतेन्द्रियः ।
            </p>
            <p>ज्ञानं लब्ध्वा परां शान्तिमचिरेणाधिगच्छति ॥ ३९ ॥
            </p>
        </div>
    </div>
</div>
<p>The man who is full of faith<sup id="cite_ref-12" class="reference"><a href="#cite_note-12"></a></sup>
    obtaineth wisdom, and he also who hath mastery over his senses; and, having obtained wisdom, he goeth swiftly to the
    supreme Peace. <span><span> ॥ 39 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>अज्ञश्चाश्रद्दधानश्च संशयात्मा विनश्यति ।
            </p>
            <p>नायं लोकोऽस्ति न परो न सुखं संशयात्मनः ॥ ४० ॥
            </p>
        </div>
    </div>
</div>
<p>But the ignorant, faithless, doubting self goeth to destruction; nor this world, nor that beyond, nor happiness, is
    there for the doubting self. <span><span
            > ॥ 40 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>&#32;<span><span class="pagenum ws-pagenum" id="75"
        data-page-number="75" title="Page:Bhagavad_Gita_-_Annie_Besant_4th_edition.djvu/85">&#8203;</span></span>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>योगसंन्यस्तकर्माणं ज्ञानसञ्छिन्नसंशयम् ।
            </p>
            <p>आत्मवन्तं न कर्माणि निबध्नन्ति धनञ्जय ॥ ४१ ॥
            </p>
        </div>
    </div>
</div>
<p>He who hath renounced actions by yoga, who hath cloven asunder doubt by wisdom, who is ruled by the <span
        style="font-variant:small-caps">Self</span>,<sup id="cite_ref-13" class="reference"><a
            href="#cite_note-13"></a></sup> actions do not bind him, O Dhananjaya. <span
       ><span > ॥ 41 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>तस्मादज्ञानसम्भूतं हृत्स्थं ज्ञानासिनाऽऽत्मनः ।
            </p>
            <p>छित्त्वैनं संशयं योगमातिष्ठोत्तिष्ठ भारत ॥ ४२ ॥
            </p>
        </div>
    </div>
</div>
<p>Therefore, with the sword of the wisdom of the <span style="font-variant:small-caps">Self</span> cleaving asunder
    this ignorance-born doubt dwelling in thy heart, be established in yoga. Stand up, O Bhârata. <span
       ><span > ॥ 42 ॥</span></span> 
</p>
<div style="clear:both; height:1em"></div>
<div style="visibility:hidden; line-height:100%;">&#160;</div>
<div style="display:table; position:relative; margin:0 auto; width:auto;">
    <div>
        <div lang="sa" dir="ltr" style="font-weight: bold;">
            <p>इति श्रीमद्भगवद्गीतासूप॰ ज्ञानविभागयोगो नाम चतुर्थोऽध्यायः ।
            </p>
        </div>
    </div>
</div>